[2018-12-08 03:18] rdefendi commented on #3719
I intend to look at it. It might be super easy for you to incorporate, today was just a hell day at work so I didn't get lunch. I'll get it on my github and let you look at it.

[2018-12-08 04:33] Chaithi opened #4485 "ShadowrunAnarchy - Physical & Stun calculated wrong"
The values are rounding down instead of up. Refer to page 64 of the rulebook:
Physical Damage Track: The Physical Condition is based on the Strength Attribute. Divide Strength by two,
round up, and add eight, and that’s how many boxes you get on your Physical Condition Monitor

(Similar for Stun). Sheet is currently rounding down, instead of up, resulting in lower CM for those with odd values.

[2018-12-08 05:36] magosgrimely commented on #3719
The advanced sheet made no changes to the Insight code, at least none that I saw.

[2018-12-08 16:05] clevett commented on #4485
It is indeed. I'll get a fix out for that today.

[2018-12-13 10:23] mrianmerry opened #4501 "Mekton Zeta Equipment Name Width"
The width for the Equipment name table row is not set to 100% of the available space.
I did some experimentation with Chrome's Inspect tool, and the value is set to 120px.

Here is all of the information that I found, along with a screenshot of the issue.
<img width="470" alt="equipment name entry" src="https://user-images.githubusercontent.com/25342733/49932391-cfe70580-fec0-11e8-964c-8667c9793d8

[2018-12-13 10:31] mrianmerry commented on #4501
_(Bonus while anybody is looking at the above: There appears to be no section for putting your character's current funds into your sheet. Not sure if intentional or not!)_

[2018-12-13 19:13] clevett commented on #4501
@CoalPoweredPuppet I think this was one of yours. Are you interested in doing some updates?

[2018-12-13 21:49] CoalPoweredPuppet commented on #4501
I will see what I can do.

[2018-12-14 00:37] mrianmerry commented on #4501
Fantastic!
Also works a charm on mobile, which was an unexpected joy - first time I’ve logged into a Roll20 game on one.

[2018-12-14 22:44] Arnok13 opened #4508 "[SavageWorldsFrench] "Conduite" displays "Combat""
Hi,
the display for Conduite Skills is now Combat (we can have two times Combat skill) :

data-i18n="combat">Conduite</button>

there is a mistake in HTML file

Best regards,
Arnok

[2018-12-15 01:06] clevett commented on #4508
I thought I fixed this in my last push. I'll get it fixed this weekend.

[2018-12-15 11:42] joesinghaus commented on #4439
You can actually put spans inside the values of translations, too.

[2018-12-15 14:21] Arnok13 commented on #4508
thanks.

[2018-12-15 15:00] clevett commented on #4508
You're welcome. PR 4509 should fix this. I found the tags wrong in two places.

[2018-12-15 15:04] Arnok13 commented on #4508
the OPTION without a ">" at the end ?

[2018-12-15 15:08] clevett commented on #4508
Is there an option without an ">" ?

The two things I fixed were the data-i18n="" were using "combat" instead of "conduite". Simple mistake when I put in all the tags.

[2018-12-15 15:13] Arnok13 commented on #4508
Visual Studio Code show me 2 OPTIONS without ">" (but can't rember where i fixed them when proptotyping a SWADE version)

[2018-12-15 15:18] clevett commented on #4508
Yep! I found them. I'll push an update for those as well.

[2018-12-15 15:19] Arnok13 commented on #4508
you're the best ;)

[2018-12-15 15:36] Arnok13 commented on #4508
i'm looking for adapting this sheet to the new edition of Savage World : Adventure Edition and may be to introduce new settings (Last parsec, Flash Gordon, Highspace, Fear Agent, Rippers, ...). But i have not practised HTML for a long time.

[2018-12-15 16:15] NathaTerrien commented on #4508
@Arnok13 I've got plans to do the SWADE adaptation begining of 2019, and more (notably replacing some dynamic calculations by sheet workers function).
If you can wait (and have not practiced sheet programming), I would suggest waiting for this update :)

[2018-12-15 16:19] Arnok13 commented on #4508
great news !

[2018-12-17 15:32] clevett commented on #4444
Greetings @ekampp ,

Its on my todo list for early next year to get all the sheets requiring an API to be updated or deprecated as part of our new sheet standards. There is a second Dark Heresy sheet in the drop down. You might give that one a try.

Thanks,
Cassie

[2018-12-17 17:39] #4444 closed

[2018-12-17 17:40] ekampp commented on #4444
Perfect. Thanks. I will use another until then.

[2018-12-18 18:44] clevett commented on #4508
Changes for this should be live. Can you double check this is working?

[2018-12-18 18:56] WallaceMcGregor commented on #4439
Thank you very much.

The spanish edition have to comes out but I'll use a fan translation to watch if everything is ok.

Regards

[2018-12-18 19:02] Arnok13 commented on #4508
Seems perfect !

Arnok

Arnaud

________________________________
From: Cassie Levett <notifications@github.com>
Sent: Tuesday, December 18, 2018 7:44:11 PM
To: Roll20/roll20-character-sheets
Cc: Arnok13; Mention
Subject: Re: [Roll20/roll20-character-sheets] [SavageWorldsFrench] "Conduite" displays "Combat" (#4508)

Changes for this should be live. Can you double check this is working?

—
You are r

[2018-12-18 19:10] #4508 closed

[2018-12-18 20:19] WallaceMcGregor commented on #4439
Ok. Here is the PR for the   translation.

#4531

[2018-12-18 20:34] clevett commented on #4439
That was fast. I'll take a quick look at the CSS this weekend and do some updates for Spanish as needed. :)

[2018-12-19 23:44] lindybombette commented on #4439
Hi, this seems to have broken my veil game. Crashing my roll20 game at startup.

I checked the console and it's raising this error:

GET https://app.roll20.net/editor/startjs/?timestamp=1545242932&disablewebgl=false&forcelongpolling=false&offsite=false&fbdebug=false&forcetouch=false 500

Can you revert the change back to the last working state?

[2018-12-20 00:38] clevett commented on #4439
Greetings @lindybombette  I am so very sorry. :( It appears some of the translation files did not generate for some reason. I'll put in a pull request for a fix to this tonight but I'll have request an update tomorrow during working hours.

[2018-12-20 01:58] lindybombette commented on #4439
Thanks for making the fix!

[2018-12-20 02:15] clevett commented on #4439
@lindybombette

A dev saw your issue and fixed it. You should be able to use the Veil sheet in English again.

[2018-12-20 19:43] clevett commented on #4101
I'm going to close this issue as it appears to have been fixed in a past merge. If it needs to be opened again let me know.

[2018-12-20 19:43] #4101 closed

[2018-12-20 19:43] clevett commented on #4100
I'm going to close this issue as it appears to have been fixed in a previous merge.

[2018-12-20 19:43] #4100 closed

[2018-12-20 21:04] magosgrimely commented on #3719
https://github.com/Roll20/roll20-character-sheets/commit/9926e141060bccad822a1507245b99659faa9d02#diff-0a7dd1fb539336fed0263c8feec2105c seems to have made things worse. Testing on both Firefox and Chrome showed that the Insight value now never updates, from any source.

[2018-12-20 22:52] rdefendi commented on #3719
Yeah, the way github reconciles conflicts gives me hives. I introduced a typo after carefully testing all my code.

Here's a weird thing, though. This code worked two weeks ago. Now the exact same code, still saved with the same date, doesn't anymore. Same bug you have here. Very frustrating. It boils down to this:

If I put the insight code inside it's own script tags, it works. If I but ALL the

[2018-12-20 23:01] magosgrimely commented on #3719
Does roll20 let you have a .js file at root that you can invoke from inside the htm?

[2018-12-21 16:14] mrianmerry commented on #4501
Hi @CoalPoweredPuppet
After playing a session, my group and I discovered some other issues with the sheet which are hopefully simple to fix. I thought I'd put them back in here instead of raising another issue.
_(I'll also update the main issue post to reflect everything once I'm done!)_

* The _"Endurance"_ skill has no entry in the `Total` column
* Each Intelligence skill beneath _"Know Language

[2018-12-21 16:16] CoalPoweredPuppet commented on #4501
...joy.  I will work on it.

In the mean time, I can set up a game under my account, make you the GM, and let you run a game if timing is an issue

[2018-12-21 16:19] mrianmerry commented on #4501
... sorry for being a pain 😬

There's no need to rush, though! We're alternating games between sessions, so it might be a while before we get back to Mekton....

[2019-01-04 03:24] zarlor opened #4557 "[Godbound] Attribute rolls don't include Modifier"
When rolling for an Attribute it doesn't automatically include the Mod in the roll.

[2019-01-04 03:27] zarlor opened #4558 "[Godbound] Feature Request: "Gift Granted AC of 3" to Armor options"
Would it be possible to add under the available Armor a "Gift Granted AC of 3" option since several Gifts provide for a base AC of 3 (I only ever see it for AC3, no other AC value). Dex mod should still apply but no save penalty would be needed, just like None or Light armor is now.

[2019-01-04 03:30] zarlor opened #4559 "[Godbound] "Attacks" heading may be misleading?"
Attacks appear to really just be damage rolls which make it a tad confusing. The section seems useful for a Gift or Miracle or the like which auto-hits but it makes it seem like it should just be for any "attack" which it isn't and has caused some confusion for my players. Perhaps changing the name of that section to something like Damage Rolls, or Auto-Hit Attack Rolls or something? Also setting

[2019-01-04 03:36] zarlor opened #4560 "[Godbound] "Additional Attacks" relabeled to "Multi-Die Damage Attacks"?"
The Additional Attacks section seems a little confusing as a name as well. Maybe something that better describes the use, like "Multi-Die Damage Attacks" or something like that? It's a fairly useful section for things like Divine Wrath or Corona of Fury. Heck, you might even auto-populate it with those 2 as examples if you can create multiple lines there. Indeed, having multiple lines just like th

[2019-01-04 17:56] ToxioD opened #4562 "[D&D 5e OGL] Carrying Capacity Modifier does not process decimals (again)"
Even though this ticket was closed:
#3797
the issue still appears.

[2019-01-04 20:13] anborgi opened #4565 "[CWOD-V20] Attributes not counted in main dice pools"
when creating and rolling a main dice pool, the attribute it´s not accounted in the roll.

![image](https://user-images.githubusercontent.com/12172371/50708693-858f1980-1065-11e9-9322-367c94e75dc5.png)

[2019-01-04 22:58] Almos80 commented on #4557
I'm not sure I understand this issue. Attribute checks aren't supposed to include the attribute modifier. Attribute checks in Godbound are made with "1d20 + situational modifiers" vs TN = 21 - Attribute Score.

[2019-01-04 23:08] zarlor commented on #4557
My bad. Double-checking the rules you are, indeed, correct and my group has been doing it wrong! Sorry about that.

[2019-01-04 23:08] #4557 closed

[2019-01-04 23:08] Almos80 commented on #4558
This is an interesting suggestion, and I'll definitely add it as an option for the drop down list in the next update. Meanwhile, there's an input to add a free "bonus" to AC. Adding 6 to no armor would be the same as setting the base AC to 3. Alternatively, choosing heavy armor without checking any save penalty would also have the same effect.

[2019-01-04 23:17] Almos80 commented on #4559
This is a good suggestion, and it's helpful to know how groups react to the sheet without guidance. Making it intuitive is important to me. I'll look into doing this for the next update. Damage is hard to handle in Godbound since multiple damage dice are handled independently.

[2019-01-05 00:33] zarlor commented on #4560
Agreed that keeping it usable for free players is good. Still, would it be possible to have a couple of pre-filled versions of the current attack for Divine Wrath and Corona of Fury? And even the possibility of adding lines of your own. Obviously all you're really doing is making a new line with the number and type of dice to roll, but being able to see what those attacks are on the sheet can stil

[2019-01-08 13:39] Nitroxylin opened #4583 "[Fragged Empire] Trait slots for vehicle skills are botched"
On the noncombat page of the char sheet, there are slots for traits; one for each Primary (Everyday and Professional) skill, two for each Personal Combat Skill, two for each Vehicle skill. The last ones are botched; the paired slots for each skill are linked - they both contain the same info at all times. Write into one, and the other one repeats; delete from one, and the other one empties as well

[2019-01-08 18:47] WallaceMcGregor commented on #4439
I have seen the new Spanish version of the sheet. There are fields that can not be translated.

https://i.imgur.com/UV9lRNj.png

And I don't know the game system but I think the chat output doesn't work well.

https://i.imgur.com/lbEBtPz.png

[2019-01-08 18:57] clevett commented on #4439
Thanks for the screenshots. I suspected this might be the case and it would need a second pass. I'll see what else we can potentially add translations into. Sheets do best when they are built to be translated so we may be limited on what we can do.

[2019-01-08 21:33] clevett commented on #4115
Can you check to see if this is now fixed by chance? Hopefully we solved this long time bug.

[2019-01-09 00:44] Anduh commented on #4115
I don't use the sheet myself, just happened to take a look at **3.** when this was brought up on the forums, but I don't really remember anything anymore about this to see a point taking a second look. You can ask the original poster [Palanthis ](https://app.roll20.net/users/1484357) who is familiar with the sheet updates.

[2019-01-09 23:05] clevett opened #4590 "Genesys - Images broken"
Imgur links for background images are no longer functioning. The original images need to be uploaded to GitHub and the links fixed. If that fails then a background color may substitute.

@KnowledgeRhino , @salmelo

Do either of you fine sheet authors have backups of these images? Would you find fixing this if possible?

Thanks,
Cassie

[2019-01-09 23:21] Anduh commented on #4590
I can say that timetravel with [Wayback Machine](https://web.archive.org) came up empty for the eight or so imgur urls I tried. Previously I've manage to fix one or two sheets this way but that have seemingly only worked when they wheren't uploaded to large image-sharing sites like imgur. :man_shrugging:

[2019-01-10 20:51] Almos80 commented on #4558
https://github.com/Roll20/roll20-character-sheets/pull/4593

[2019-01-10 20:51] Almos80 commented on #4559
https://github.com/Roll20/roll20-character-sheets/pull/4593

[2019-01-11 02:41] clevett commented on #4439
Greetings @WallaceMcGregor

I think this is about as done as I'm going to get it. The text your seeing in those screen shots aren't text that can be translated via the translation keys at this time. If the original author had shown interest in doing some updates I might advise them but additional fixes are beyond the time I have to offer for the project.

Is the current changes good enough to clos

[2019-01-11 05:52] WallaceMcGregor commented on #4439
Ok.

I think the "malfunction" of the chat outputs rolls is out of your hands, right? In that case you can close the issue.

Thank you so much.

[2019-01-11 12:47] clevett commented on #4439
Yep. It would need a few hours of work to write & test a new rolltemplate. If a sheet author comes along who wants to do it, I would be willing to advise them. Its a bit more than I would like to do myself. :)

Thanks to your post here the sheet is off to a good start. It was a pleasure working with you. I also have written and/or support the **Shadowrun5thEdition**, **ShadowrunAnarchy**, **Reacho

[2019-01-11 12:47] #4439 closed

[2019-01-11 13:06] WallaceMcGregor commented on #4439
The pleasure was mine. Thanks to you.

I have no idea about that games. But Savage Worlds I am almost sure already have a spanish version. Unfortunately I don't have programming knowlege (yet) except to translate some sheets. I also made The Sprawl, Eclipse Phase and Call of Cthulhu 7th.

Regards (and excuse my english).

[2019-01-11 13:18] clevett commented on #4439
The Savage Worlds Tab sheet has some Spanish translations. I'm working to convert the SavageWorldsFrench sheet into a universal one as its my favorite sheet for the system. :) I did the English translations on it.

Shadowrun5thEdition, ShadowrunAnarchy, & ReachofTitan already have translation keys so they just need some one to edit them on Crowdin. Are you on Crowdin? If not we should get you adde

[2019-01-11 19:16] WallaceMcGregor commented on #4439
Ni siquiera sé lo que es Crowdin.

I don't even know what Crowdin is.

[2019-01-11 19:33] clevett commented on #4439
[Crowdin](https://github.com/Roll20/roll20-character-sheets#internationalization--translations) is the website we use for Translations. :) It makes translating easier.

Email team@roll20.net and tell them you'd like to help translate character sheets to Spanish. You can tell them Cassie sent you.

Nosotros necesito más espanol!

[2019-01-12 21:37] agnelmeme commented on #4565
There is a workaround I have found on current sheet for my players : adding StrengthScript, DexterityScript, StaminaScript, etc. instead of normal name for all attributes.
All attributes are named \@AttibuteScript while the only placeholders created on the character Attributes and Abilities tab are named without the Script suffix

[2019-01-14 15:42] antonio-borderia commented on #4565
Thanks for the idea. The creator of the sheet just pulled a fix to the dice and other bug issues. Hopefully it will be live soon to test.

[2019-01-14 16:24] apathy-dude commented on #4590
Here's a link to the symbols and dice as png: https://drive.google.com/drive/folders/1S8eR1nYHk9OcSj3p3WXCUFdC5TwPne-K

I'll work on it tonight unless someone steps in before me.

[2019-01-14 17:35] clevett commented on #4590
@apathy-dude

I'll keep an eye out for this pull request. If you can get it done tonight before I merge that would be ideal but if not I'll see if I can get a special push out this week for it.

[2019-01-15 01:50] apathy-dude commented on #4590
Just getting to the code now.  I doubt it'll be ready in time for the merge.

[2019-01-15 02:57] apathy-dude commented on #4590
Opened related issue in the Genesys api script since it seems to be affected there as well.

I won't be doing a pull request for this issue until I get the api side figured out as well.  Likely tomorrow.

[2019-01-15 12:13] clevett commented on #4590
Thanks for working on that. :)

[2019-01-15 13:14] Dave2211 opened #4602 "Playable Legend (Mongoose) CS"
Any chance of this happening? Please :o)

[2019-01-15 19:11] #4590 closed

[2019-01-22 19:48] clevett commented on #4560
Greetings @zarlor ,

An update went out that was reference as a fix for this issue. Could you check to see if this is satisfactory to close this issue?

Thanks,

Cassie

[2019-01-22 20:22] zarlor commented on #4560
Sorry, yes, I'll update all of the ones I put in.

[2019-01-22 20:22] #4560 closed

[2019-01-22 20:23] zarlor commented on #4559
Looks great now!

[2019-01-22 20:23] #4559 closed

[2019-01-22 20:23] #4558 closed

[2019-01-26 18:48] WallaceMcGregor opened #4625 "[Eclipse Phase Alternate] Ranged Defense Roll"
Hi @Bathtor

I've seen the Range Defense Roll it's not working right. It makes REF/2 instead Fray/2. I don't know if it's something of the translation or the sheet itself.

[2019-01-26 21:35] Bathtor commented on #4625
Oh, yeah...it's both actually.
- The sheet uses REF/2 instead of Fray/2 when it can't find the Fray skill in the skill list, assuming you have 0 points in it, and thus falling back to REF.
- If you are using skill translation it won't find the Fray skill in the list, because it's going to be named something else

Quick workaround: De-localise the Fray skill.
Fix: I've got to change the sheet worke

[2019-01-29 18:24] clevett opened #4636 "Warhammer 40k Wrath & Glory - French & Spanish"
@dyvim & @WallaceMcGregor

Could I beg your help to translate this [character sheet](https://github.com/Roll20/roll20-character-sheets/tree/master/Warhammer40k-WrathandGlory)? This sheet was an exercise to try to make a character sheet , roll templates, and other text 100% translatable. I am in need of translated versions to test with. :)

Anyone else who would be willing to help translate the she

[2019-01-30 00:34] dyvim commented on #4636
I'll try to help too.
Is it an english sheet that needs to be translated in french and spanish or
the contrary?

BRgds

Le mar. 29 janv. 2019 20:30, Cassie Levett <notifications@github.com> a
écrit :

[2019-01-30 04:10] clevett commented on #4636
Greetings!

Thanks Dyvim! It is an English sheet that needs French translations. Its currently in Crowdin and I added context to a few entries. :)

[2019-01-30 14:02] dyvim commented on #4636
Done except for 3 words for which I need context.
I've seen a typo for "malignancies" in the translation.json.
It won't be an official translation as the game has not yet been official
bought by an editor and translated in french. Some words will probably need
to be changed if the game is published in french.
I've tried to use the good old terms from Warhammer Fantasy RPG when it was
possible. (as

[2019-01-30 14:46] clevett commented on #4636
WallaceMcGregor,

I can help with this. Can you send me an email at cassie@roll20.net ? I will get you a proper invite to the Spanish translations.

-------

Thomas,

I added more context in Crowdin and also fixed that typo on my fork for the translation & en.jsons. This unofficial translation is very helpful. :) The fr.json will let me pull the entries you have translated and use them in the shee

[2019-01-31 19:22] clevett commented on #4636
Thanks again for the help! I am going to close this ticket. I have project cards open for myself to make CSS adjustments for French & Spanish. :)

[2019-01-31 19:22] #4636 closed

[2019-02-04 15:58] clevett opened #4665 "Valor issue"
From [Charsheet forum](https://app.roll20.net/forum/post/7176925/sheet-not-working-for-valor-the-heroic-roleplay-system)

First of all I just want to thank the author who stepped up to make an automated sheet for this game. It's my favorite system, just really hard to organize a game online, functionally. And I would have no idea how to even put a Roll20 sheet together.

But the sheet doesn't seem

[2019-02-07 18:42] chrisleaptrott opened #4682 "[D&D BECM] Attribute Intelligence Roll broken"
The roll for the INT attribute has a } instead of a ] and is broken.

[2019-02-08 19:09] olivier-grech commented on #1750
I could not reproduce the issue. Maybe tag this as "Could not reproduce"?

[2019-02-17 15:44] Anduh commented on #4602
You have better change of getting traction for this request go and [ask in the Sheet Request thread](https://app.roll20.net/forum/post/1503047/sheet-request-thread-consolidated-mk-i) about this, very few people brower the Issues here.

[2019-02-28 15:56] clevett commented on #4401
Greetings  @oukag

I wanted to let you know this quarter I have been actively working on this issue. Every week I've been adding PRs to refactor the 5e OGL code starting with the sheet workers. Hopefully we'll get the beast updated by the end of the year.

Best regards,
Cassie

[2019-03-12 20:19] WallaceMcGregor opened #4822 "[Monsterhearts-2] Translations."
Hi.

Could be possible to upgrade the **Monsterhearts-2** sheet by @Lockbox313 to allow translations?

The spanish version will be released in a few months and I would like to translate the sheet.

Thanks.

[2019-03-13 03:02] Anduh commented on #4822
I had my [ACSI script](https://github.com/Anduh/acsi) autogenerate i18n-tags for the sheet, so if you can find a Pro member to check how good of a result it gave and generate the translation.json file, the person could have most work done for him/her.

[Autogenerated result: Monsterhearts-2.html](https://gist.github.com/Anduh/02977074f79f76dd2989d88fa3065863)

[2019-03-13 06:49] WallaceMcGregor commented on #4822
Thanks.

I don't know if the sheet contributors (@Lockbox313 and @TripsLetash ) are still "online". I am just a Plus member and I do not know too much about programming.

[2019-03-13 08:19] TripsLetash commented on #4822
I'm online but I haven't touched these sheets in over a year. You're welcome to make the necesarry edits as you see fit. I don't even think I'm still a plus member on roll20

[2019-03-13 10:06] Lockbox313 commented on #4822
Here is the result https://app.roll20.net/join/4072362/j60XaA of Anduhs auto generator.  The generator stripped the  > from </button/>.  It is also doing some wierd things with <b> tags seems to be inserting  the data-i18n in the opening and closing tag.

Also any chance you could output a default translation.json from my dim memories of the DOM it should just be a matter of grabbing the innerHTML

[2019-03-13 10:18] Lockbox313 commented on #4822
The generator did not seem to like the "type="number" in the button either.

[2019-03-13 12:56] Anduh commented on #4822
Yeah the script is crude so its a bit hit and miss if the output is worth using. I'll see if I can fix these newfound errors. Having it create a `translation.json` file is one of the features considered after the core functionality is more reliable.

[2019-03-15 07:22] WallaceMcGregor commented on #4822
Also, I've seen that when you change the playbook the sheet don't load . It shows only  the default playbook (The Fae).

That's on the game @Lockbox313 linked.

[2019-03-15 11:20] Lockbox313 commented on #4822
The intent of that was to show the results of the auto generator, not to hand you a full functioning sheet with translation tags at the drop of a hat.

This is still a lot of work. There is a lot of malformed html in the original sheet with tags out of place and random </p> tags inserted.  The generator removes the ending from some or all of the </button>, </h1> and </b>.  Understandably the gener

[2019-03-15 16:50] Anduh commented on #4822
So it sounds like this time it was barely a timesaver in comparison to just doing it from scratch?
I'm sorry the output wasn't really worth it this time, but I warned that:

[2019-03-15 16:54] Lockbox313 commented on #4822
The biggest issue is the mangling of tags

[2019-03-15 18:39] Anduh commented on #4822
Yeah ofc, but was it still better than doing it manually from scratch?

[2019-03-15 18:56] Lockbox313 commented on #4822
Only if you fix what is breaking the tags.

[2019-03-15 20:07] Anduh opened #4835 "[Low Fantasy Gaming] Adding default values to TF & GS fields?"
The attribute/skill rolls on the sheet don't function if the TF & GS fields are left empty, and for the everyday users it's not obvious this is the problem. [Forum thread about one user who don't know what's the problem](https://app.roll20.net/forum/post/7288714/bug-low-fantasy-gaming-sheet-has-not-been-working-correctly-since-februari-update)

The Readme nor the free LFG pdf mentions what TF or G

[2019-03-16 18:57] dedurrett commented on #4835
Thanks for bringing this to my attention. Default values have been added!

[2019-03-16 22:25] Anduh commented on #4835
Great!

Will you mention them in the documentation or add comments to the code so people have easier to figure lut what they represent? There will probably be more people who doesn't immidielty realize what the acronyms stand for, at least they weren't common enpugh to find on the pdf or on a web search related to the rpg.

[2019-03-17 19:02] geoidesic opened #4846 "Pathfinder Official: Armor Class is broken"
Add and remove armor a few times and it totally messes up the AC and won't recalculate it correctly. For example I had a +5 DX modifier, added leather armour, gave me 17 AC, removed the leather armour and now it gives me 13 AC, saying the ability mod is 3. Can't find any way to get it to recalculate correctly.

[2019-03-17 20:05] NathaTerrien commented on #4846
@geoidesic
Thanks for you feedback but I'm not able to reproduce the problem.
Are you sure your character is not overloaded (that would reduce DEX mod also) ?
Or have another armor checked as equiped?
Or a condition?
Could you try adding another armor, and/or change your DEX temporarily to provoke an AC recalculation, please.

[2019-03-18 00:57] geoidesic commented on #4846
@NathaTerrien My bad. A couple of gotchas here:

1. I didn't realise that it adds encumbrance penalties to AC
1. To remove armour one has to remove it from both the Armor list and the Gear list it seems.

[2019-03-18 00:57] #4846 closed

[2019-03-19 20:45] Anduh commented on #4835
Default values added as well as clarifications for the stats added to Readme

[2019-03-19 20:45] #4835 closed

[2019-03-24 14:40] mattbell69 opened #4875 "Numenera_NathasNumenera_English missing .JS file"
The Readme.md quotes a .JS file that is needed by the API, but this cannot be found. When clicking on the link it throws a 404 error.

Does someone have a copy that could be submitted back to the project?

[2019-03-24 14:44] NathaTerrien commented on #4875
Hi. You may try to use this one : https://github.com/Roll20/roll20-api-scripts/blob/master/Numenera_Natha/4.8/Numenera_Natha.js
But I must say I don't maintain this sheet for a long time now, and recommand using the Cypher System one (which has a Numenera "theme") and a companion script (that can be found in the RolL20 script library).

[2019-03-25 08:51] mattbell69 commented on #4875
Hi @NathaTerrien
Thank you for this. I will have a look at the Cypher System one as you recommend. Maybe that is all I need to do.

[2019-03-29 10:37] itamarcu opened #4890 "[D&D 5e OGL] Class Resource / Other Resource disappears unless it has a name"
When trying to add more Class Resources or Other Resources, the small box will disappear immediately after setting the value or the maximum value of the resource, unless it was given a name.

The same issue was reported here on reddit:
https://www.reddit.com/r/Roll20/comments/7ikti6/issue_with_saving_other_resources_in_5e_ogl_sheet/
And here's a gif - http://gph.is/2jctTkx

There's a workaround, w

[2019-03-29 13:53] clevett commented on #4890
Greetings @itamarcu

I'll put this on my bug list to take a look at this. Repeating fields are suppose to disappear when data isn't data entered in order to prevent a lot of empty ones. However the 5e sheet is being over zealous with this behavior.

Thanks for reporting this,
Cassie

[2019-04-01 22:01] CoalPoweredPuppet commented on #3289
Provided my changes are done properly, this issue should be fixed.

[2019-04-06 00:41] KriosMerew opened #4908 "[Black_Crusade] Multiple issues with the latest update"
The update that was committed in the last few days has created a few small issues that make it inconvenient to use. Here is a list of issues that need to be addressed.

- The Dodge skill doesn't work. A blank message is sent in the chat but doesn't provide the expected output.
- The NPC tab has a major UI issue. It appears as if the armour & defence table has been crushed together and is spaced we

[2019-04-06 18:38] Thatguywiththetypewriter commented on #4908
Friend of KriosMerew who asked if I could have a wee look. Only given it a 5 minute glance, but issue one of his, to do with dodge, seems to be due to a lack of an action line.

<button name="roll_Dodge" type="roll" value="&{template:darkheresy2} {{name=@{character_name}}} @{DodgeCharacteristic}">

^How it currently is:

<button name="roll_Dodge" type="roll" value="&{template:darkheresy2} {{name=@

[2019-04-09 03:10] #3289 closed

[2019-04-09 03:12] CoalPoweredPuppet commented on #3289
Thank you.  More work on my part needs to be done, but this major issues are fixed

[2019-04-09 05:04] clevett commented on #4562
This should be fixed now with PR #4863 . If its still an issue feel free to reopen it. :)

[2019-04-09 05:04] #4562 closed

[2019-04-09 05:06] clevett commented on #4682
Going to close this since a PR fixed it. :)

[2019-04-09 05:06] #4682 closed

[2019-04-09 05:07] clevett commented on #4625
I'm going to close this issue as it looks like a pull request was put in to fix it. If its still an issue we can open it again. :)

[2019-04-09 05:07] #4625 closed

[2019-04-11 23:53] clevett commented on #4908
@KriosMerew

#4812 is too old to easily roll back. It has a lot of merge conflicts. I put in a PR #4958  that fixes some things:

- NPCs divs
- Adds the Dodge suggestion above
- Corrects spelling in the translation.json & en.json

---

The degrees of success/fail will take a bit of extra work. As a loyal servant of the Emperor, I will look into it. We will correct these influences of Chaos.

[2019-04-12 07:28] KriosMerew commented on #4908
Looks a lot better. Thank you!

[2019-04-15 22:06] #4890 closed

[2019-04-16 13:32] clevett commented on #4908
You're welcome. I also saw you put in a pull request for the Degrees. This this issue solve?

Thanks,
Cassie

[2019-04-16 16:10] KriosMerew commented on #4908
Yeah, just for the colour to be fixed. It is now in the game as expected.

[2019-04-19 20:32] Dekstier opened #4985 "[Low Fantasy Gaming] Crit damage: Has to be filled manually."
The way attacks look right now on the sheet:
![image](https://user-images.githubusercontent.com/49796099/56442798-4625c980-62f2-11e9-830b-33f67577768a.png)

**The issue** is with the field: 'Crit Dmg'.
The rulebook says: “Critical hits automatically cause maximum damage + half your level (round up) ~ p52 of rulebook”

Right now this has to be filled manually. Is it possible to automate this field?

[2019-04-19 20:41] Dekstier opened #4986 "[Low Fantasy Gaming] Initiative: suggested changes."
When rolling initiative it is displayed as followed:
![image](https://user-images.githubusercontent.com/49796099/56443054-35c21e80-62f3-11e9-9cf2-f59cd4450aef.png)

There are **two** noticeable issues right now:
**1. When rolling initiative the character is not automatically added to initiative.** I have seen this functionality on other sheets. Is it possible to add the same here? It would improve

[2019-04-20 12:52] Anduh commented on #4986
1. Yes, it should be possible. It seems some commented out code called "Old Initiative" did have the `&{tracker}` that would add initiative rolls to the tracker.
2. Personally it sounds odd that there exist no bonus modifiers to initiative, but if that's the way the rules are it certainly sounds it should be changed. It's always possible to make adding modifiers an option, even if it might create

[2019-04-20 12:56] Anduh commented on #4985
I assume "maximum damage" means the max roll of the base dmg, so in you above example, the character is either level 1 or 2, given that  1d4 base dmg results in 4 + 6 = 6 Crit dmg.

Sure, that sounds possible to automate.

[2019-04-20 14:26] dedurrett commented on #4986
Gents-
Currently the sheet supports the initiative procedures laid out in the Deluxe Edition of LFG, which make it a Dexterity attribute check; resolved in groups based on pass/fail of the check without individual initiative numbers. The previous method is still listed as a variant rule, but I was not able to include that option on the sheet in a way that I liked. I have made some other tweaks to

[2019-04-20 14:38] dedurrett commented on #4985
I'll take a look, but given the freedom for die expressions in the base damage field it would be dangerous to make assumptions and try to parse for calculation of the max damage. The functionality provided mimics what I saw in the 4E sheet (the only other system I've played where crits result in "max" damage instead of extra damage).

[2019-04-20 18:47] Dekstier commented on #4986
@Anduh, you make a very good point about modifiers. For instance when a character currently has a dagger drawn he/she gets a small bonus to initiative.

@dedurrett, thank you for explaining i did not know that initiative was different in the Deluxe Edition (I don't own them). Thanks for your hard work!

[2019-04-20 18:53] Dekstier commented on #4985
@Anduh, It would actually be Str mod + max roll + half level.

@deburrett, you do make a fair point. The system gives players a lot of freedom to incorporate their own  created character improvements. A player could change the way crit damage works for example.

Would it be better if i close this issue or do you have an idea to make this work?

[2019-04-22 21:49] homiedion opened #5000 "[Cypher Systems by Roll20] Initiative"
When rolling for initiative the sheet does not factor in assets or effort.
Only the roll bonus.

[2019-04-22 22:13] NathaTerrien commented on #5000
Well, the sheet implements a not very true to the rules behaviour. The roll template will take in account the difficulty beaten with assets and efforts, but also use the raw roll to add the token to the initiative tracket (which is more a Roll20 feature than a Cypher System feature, where what counts is beating the opponent level/difficulty to know if you're acting before or after the opponent). T

[2019-04-23 00:07] vukk opened #5002 "[5th Edition OGL by Roll20] Spellcard convenience addition"
The spellcard contains now the spell save DC and save type. E.g. "DC15, Wisdom save".

It would be very useful for the GM if they could select a token or multiple tokens, and just click on the "Wisdom save" text, and it would roll that save for selected token(s). No need to open character pages.

[2019-04-23 04:25] clevett commented on #5002
Let me think about that and review the code. That would be useful though I'm not sure off the top of head if our current functionality would support it. Its still an interesting suggestion. :)

[2019-04-24 16:46] TopherGopher opened #5004 "Classic WoD preview/logo wrong(?)"
I was trying to setup a Classic World of Darkness campaign, but the image preview looks wonky. I can't figure out of the preview/logo is wrong, or if the underlying HTML is also off.
I'm looking at [CWorldofDarkness/CWoD.png](https://github.com/Roll20/roll20-character-sheets/blob/master/CWorldofDarkness/CWoD.png) and it looks like it's the sheet for Vampire. Is that intentional?

[2019-04-24 17:30] Anduh commented on #5004
If you read the Instruction text next to the preview image, its says:

Yeah, not the best formatting on the instruction, but contains the information necessary to realize it's what you're after. And if you open the sheet in a game, it defaults to show  the "World of Darkness" sheet.

Could update the "instructions" text to be more clear and switch out the preview image for on that shows WoD to red

[2019-04-24 17:32] TopherGopher commented on #5004
I'm new to roll20, so I couldn't figure out what one of my incoming players would see. Just wanted to confirm that the HTML itself is right, and it sounds like it is. Thanks @Anduh

[2019-04-25 22:47] Anduh opened #5013 "DnD5E Request: adding UA Ship tab"
to [quote a  recent forum post](https://app.roll20.net/forum/post/7388701/adding-different-kind-of-character-sheet):

..
Is there a way or should i add a tab on the official character sheet for vehicles ?

[2019-04-28 01:19] VinhNPL commented on #5013
I would like to link the UA leading to that request.
[https://media.wizards.com/2018/dnd/downloads/UA_ShipsSea.pdf](https://media.wizards.com/2018/dnd/downloads/UA_ShipsSea.pdf)

[2019-04-29 14:36] #5000 closed

[2019-04-29 14:38] #5004 closed

[2019-04-29 17:09] homiedion commented on #5000
Fair enough point.

On Mon, Apr 29, 2019 at 10:36 AM Cassie Levett <notifications@github.com>
wrote:

[2019-05-05 00:57] YuanRamirez opened #5043 "[5th Edition OGL by Roll20] Global ability check modifier"
The current "global skill modifier" field does not allow for buffs/debuffs to regular ability checks.

Spells like Guidance, which is the default for the field btw, allow the beneficiary to roll 1d4 to any ability check - not just "skill checks".

On a similar note, Guidance can also be applied to initiative.

In theory, most effects similar to Guidance should have been worded in such a way that t

[2019-05-07 22:16] MarkJPerry opened #5053 "[Shadowrun 5th Edition] - Roll macros do not respect Physical/Mental/Social Limits"
When rolling large pools of dice my players are finding that the total hits are exceeding the limits for the P/M/S pools.

Feature Request

Add a toggle for "Apply Limits" which when turned on caps the total hits for a roll to the relevant limit.

[2019-05-07 22:24] MarkJPerry commented on #5053
Looks like the `sdkh?{Limit|1}` needs to be added where "Limit" refers to the correct limit for a particular roll.

[2019-05-07 23:13] clevett commented on #5053
Limits are not applied via the Roll macro intentionally as there are so many niche ways to alter them. Similar to playing with a paper sheet its up to the users to apply them.

[2019-05-11 19:33] clevett commented on #5053
Greetings @MarkJPerry

#5068 I added a select for limits to the Skill lists. This picking a limit will cause the roll template to show the Limit when you roll. It doesn't apply a limit to the roll itself but it should be easier now to see what your capped at inside the chat window rather than needing to reference back to the sheet.

I hope this helps with your game.

Thanks,
Cassie

[2019-05-11 20:45] MarkJPerry commented on #5053
@clevett - WOW. Thank you so much. Got some new players this will definitely help with.

[2019-05-12 13:18] clevett commented on #5053
You're welcome. :) Best of luck in the Shadows Chummer.

[2019-05-12 13:18] #5053 closed

[2019-05-14 13:55] Anduh commented on #4565
I guess this is solved then?

[2019-05-14 17:55] RinVindor commented on #4565
Yes this issue has been fixed and I've expanded the feature to include the boosted dice being listed adjacent to the normal attribute rating (1+0). I'm still absolutely taking more feedback for further improvements.

[2019-05-15 12:51] Anduh commented on #4822
After improving the ACSI script(breaks less tags now) I've now updated the [html and translation.json](https://gist.github.com/Anduh/02977074f79f76dd2989d88fa3065863) it creates, and while it's a noticeable improvement, it still have hickups that need to be manually. Might in a few weeks do the last cleanup my generated translation requires for us to get a working translation.

[2019-05-15 14:39] WallaceMcGregor commented on #4822
Thanks. Waiting for your "cleanup" to begin the translation.

[2019-05-20 14:32] clevett commented on #4985
Greetings,

Per @dedurrett  suggestion in #5083 , I am going to close this issue. This suggestion, while a good one, is viable to implement at this time. If more intricate dice parsing options come along we it could be evaluated again. :)

Thanks,
Cassie

[2019-05-20 14:32] #4985 closed

[2019-05-20 14:33] clevett commented on #4986
Closing this issue as the feature will be implemented in pull request #5083 going out tomorrow.

Thanks for working together on this. :) Its heart warming to see everyone improving community sheets.

[2019-05-20 14:33] #4986 closed

[2019-05-21 20:19] Higgin opened #5107 "[Shadowrun 5e] Can't Toggle Between Tabs (Arms/Augs/Core) and Modifiers (To GM/Edge)"
Steps to reproduce:

1. Start a new game with basic Shadowrun 5e sheet.
2. Create a character.
3. Try to swap between different sub-sheets or modifiers.
4. Watch sadly as nothing happens.

Edit: possibly related to #5082 ?

[2019-05-22 00:30] jfsantos opened #5108 "Mothership: Marine starts with +5 Combat but sheet has +0"
Maybe the Alpha didn't have this, but in the most recent edition available on DriveThru Marines get +5 in Combat (and an extra +5 if another Marine is helping, but the sheet should not account for that).

https://github.com/Roll20/roll20-character-sheets/blob/29f7271e1766114cd7ae86219c3657a4f60fe9cf/Mothership/Mothership.html#L67

[2019-05-23 11:53] jaadus opened #5113 "Burning Wheel: Calculating Reflexes and Mortal Wound"
This is a few related small issues that I can split out if needed, but could all be swept up in one go:

First, and I'm having trouble finding the global rule statement on this one, but the math seems wrong for averaging stats of different shades. Specifically I think this case is invalid: `else if(shades[2] >= shades[1] + shades[0]) shade = "3"; //More white that darker = gray. Also covers Black+

[2019-05-23 19:58] clevett commented on #5107
Indeed #5082 fixed this. Sorry for the disruption.

[2019-05-23 19:58] #5107 closed

[2019-06-04 16:00] lfas opened #5141 "[Cypher System by Roll20] Add Minor, Major and Special Damage translation variables"
The only part we can't translate because of missing variables. Example:

https://github.com/Roll20/roll20-character-sheets/blob/7189eef20ebc8b2ff2d5c463f2cfd119cd7a3f13/Cypher%20Systems%20by%20Roll20/cypher_systems_by_roll20.html#L1154

[2019-06-04 20:00] NathaTerrien commented on #5141
Hi @lfas
Thanks for reporting this!
This will be fixed ASAP.

[2019-06-05 18:58] r2b2grady opened #5150 "[Delta Green] [DG] x5 Numbers Don't Always Update"
For NPCs, the **X5** boxes on the *Delta Green* character sheet don't always update after the main stat box is updated, even after waiting for 10-15 seconds. The **Charisma** stat seems to regularly have this issue, while the others only show it every once in a while. This might be present in PC sheets as well, but I've mostly been using it for NPCs so far, so I'm not certain.

I'm using Roll20 an

[2019-06-06 04:26] clevett commented on #3701
Going to close this issue as its more than a year old. With the current sheet there is not an easy way to do this give that skills either subtract from die pool or roll a d6 and subtracts hits.

[2019-06-06 04:26] #3701 closed

[2019-06-06 04:29] clevett commented on #3702
Reworked Points in #5151 . This sheet does not support house rules and currently does not support the 12 capacity of robots. I'll consider that in a new sheet that is being created for this.

[2019-06-06 04:29] #3702 closed

[2019-06-06 04:30] clevett commented on #4096
Closing this ticket. Advanced roller can be used for this and I added additional buttons for pushing single options in #5151  .

[2019-06-06 04:30] #4096 closed

[2019-06-06 04:37] clevett commented on #3700
Added an armor button in #5151 . The rest is a bit more complicated than it seems when referencing repeating sections. As the original sheet author has not completed the request in over a year, I'm going to close this request. I'm working on a new sheet to deprecate this one in the future. I'll add this to my project plan.

[2019-06-06 04:37] #3700 closed

[2019-06-06 04:40] clevett commented on #3699
Added button in #5151

[2019-06-06 04:40] #3699 closed

[2019-06-06 04:41] #3698 closed

[2019-06-06 04:42] clevett commented on #4875
I'm going to close this issue as it appears answered. If it needs to be open again just let me know.

[2019-06-06 04:42] #4875 closed

[2019-06-06 15:03] #5141 closed

[2019-06-06 18:33] Nevero opened #5153 "(Unofficial Elder Scrolls) major sheet errors occuring"
I'm hosting a custom campaign on roll20 using the character sheet listed in the tittle of this article, below i have linked screenshot file images of the issues i am expieriencing with the sheet, these issues have been ongoing for roughly the last month to month and a half and are putting a sudden halt in the production of my campaign, any information as to a means of resolving these issues would

[2019-06-10 13:41] Gumeg opened #5167 "MouseGuard Localisation"
Hello

Could be possible to upgrade MouseGuard Character Sheet to allow translations?

[2019-06-11 06:55] JaegersNet commented on #5167
I'll have a look at this ...

[2019-06-11 08:11] JaegersNet commented on #5167
done

[2019-06-11 10:35] Gumeg commented on #5167
Thank you a lot! Is it difficult for a githhub newbie to add a russian translation file? Anyway I'll try!

I translate a Roll20 through a main site (Crowdin) and dont understand how quickly a translation become visible for an end user (palyer, DM).

[2019-06-11 10:45] JaegersNet commented on #5167
Git is cool and - in my opinion - awkward ... So, of you‘re not familiar with it, it might be easier to send the translation file to someone, who is.

Updates to sheets and translations are published on a weekly base every Tuesday.

[2019-06-13 17:58] r2b2grady commented on #5150
Further behavior I've noticed: It seems to mostly happen when I change the Charisma stat. The Charisma **X5** value will update as needed after I change any *other* stat, but not after I change the main Charisma stat box.

[2019-06-13 23:21] C-TE-B opened #5183 "[SIFRP] Penalty Die Handled Incorrectly"
Penalty Die (expressed as -#D) in the sheet do not currently conform to the stated rule in the core ruledbook, including the most recent errata that I am aware of.

At current applying -1D either via wounds or the Penalty Die popup when making tests removes one die from the dice pool for every Penalty Die applied, beginning with bonus die, and then test die.

The book however, expresses Penalty Di

[2019-06-18 02:07] #5183 closed

[2019-06-18 07:51] Gumeg commented on #5167
I made a translation file ru.json, but now it must be replace to folder "translations"..

[2019-06-20 21:55] MTVExtreme opened #5203 "[Starfinder By Roll20] Removing Equipment"
Removing an item from the equipment section does not update carried bulk or wealth.

![1](https://user-images.githubusercontent.com/5505510/59883904-8d791680-9384-11e9-93ba-b0d3a0251bf3.PNG)

![2](https://user-images.githubusercontent.com/5505510/59883914-936ef780-9384-11e9-9d57-ac2ab092486e.PNG)

[2019-06-20 22:18] MTVExtreme opened #5205 "[Starfinder By Roll20] Modifier Wizard"
There are 2 issues i have found regarding the Modifier Wizard:

- We should be able to remove a modifier after adding one, in the case of a mistake being entered or the modifier no longer applying. Currently removing all the modifiers does not remove any of them no matter what is selected. (Our workaround for now is changing the modifier to +0, and removing only some, but not all, of the modifiers

[2019-06-24 18:07] Markus1204 opened #5218 "[Starfinder by Roll20] Can not input Spells higher Level 0"
I am playing a Technomancer in a new Starfinder Campagin. We are using this sheet and as stated in the title I can not input Spells higher Level 0. If I add a spell and change the Level from 0 to 1 or higher, the spell disappears immediately and all inputs together with it...

As a Technomancer Level 1 you get 4 Level 0 and 2 Level 1 Spells not including the Bonus Spells for intelligence rank... D

[2019-06-24 19:52] Kurohyou commented on #5205
Hi MTVExtreme,
Thank you for the report. The mods in the mod wizard can already be removed. They function like any other repeating section. Simply click the lock icon in the bottom right of the wizard and then click the red trash can icons on each mod you want to remove.

As for the select issue. I'm not sure what's going on there. It's something I can replicate, but I haven't found a solution yet

[2019-06-24 19:53] Kurohyou commented on #5203
Thank you for the report MTVExtreme,

I've found the problem, and will hopefully have the fix out soon.

[2019-06-24 22:06] Kurohyou commented on #5218
Thanks for the report Markus,

I'm not able to replicate this issue. Can you provide some screenshots of your character sheet showing the spells section, class details tab, and spellclasses details tab. The only way I'm able to replicate this is if the spell progression select is set to half instead of partial.

[2019-06-24 22:38] clevett commented on #5203
Closing issue as a pull request has been merge to fix this. If its not fixed after tomorrow we can open it again.

[2019-06-24 22:38] #5203 closed

[2019-06-25 07:16] Markus1204 commented on #5218
I will include a screenshot which should show everything relevant. If you need more Information, just let me know.

Hope this helps.

![CharSheet Technomancer R20](https://user-images.githubusercontent.com/2684562/60077215-c3721e00-9729-11e9-84c2-8f4a51cae906.jpg)

[2019-06-25 11:34] Markus1204 commented on #3088
Hello,
At the moment we are not playing Arcane Codex, but it'd still be a nice feature for the sheet to have because at the moment you have to take notes yourself about bashing damage the character takes...

But if no one is interested in implementing / changing it, then it can't be helped...

It's not a must have, but as said, nice to have...

[2019-06-25 12:06] Kurohyou commented on #5218
Thank you Markus, can you also provide a screenshot of your class details tab? And then, change your level from 1 to 2 and back again to see if that jogs the sheet into motion.

[2019-06-25 19:26] LozzieWills opened #5223 "[5e Darker Dungeons] Background images failing to load"
Seeing this a couple of times with players.

Looking at the CSS, I can see it retrieving background images from a url. Of course, if for some reason, we fail to retrieve this image on load (I'm not sure how long CSS spends attempting to reach a url), then the sheet is completely toast.

We're encountering this with multiple players.

So my issue I suppose is:

Why does the implementation retrieve

[2019-06-25 23:58] ModruKinstealer opened #5224 "[shadowrun 5e] hits calculation using >5"
The default shadowrun 5e character sheet on roll20 has an issue when it's determining hits it's using >5 (only sixes) for hits. However according to the core rule book page 44, and the wiki both indicate that hits are fives and sixes. Which would mean the formula would be >4 or >=5.

I noticed it on both weapon attacks and skill tests.

I'm brand new to shadowrun so maybe there is an errata somewh

[2019-06-26 01:13] ModruKinstealer commented on #5224
Well I was doing some testing and it seems to be working now. Not sure what happened but closing this issue since it seems to be working for me now.

[2019-06-26 01:13] #5224 closed

[2019-06-26 12:58] Markus1204 commented on #5218
Changing Level from 1 to 2 and back fixed the Problem.

Thanks! I'll also close this issue.

[2019-06-26 12:58] #5218 closed

[2019-06-26 13:06] Laelyria opened #5229 "[Mutants and Masterminds] Issue with the Power Attack field for the sheet"
I picked up the Power Attack advantage for one of my characters in a recent game as part of a "level up" (15 power points and an increase in power level) and happened onto this issue :
![image](https://user-images.githubusercontent.com/52245960/60181896-28597100-981b-11e9-873d-001cc3a4ac72.png)
The problem here is that Power Attack is described in the book as follow :
"When you make an attack you

[2019-06-27 17:31] geoidesic opened #5236 "[5th Edition OGL by Roll20] encumbrance doesn't apply modifiers"
The character sheet calculates encumbrance if the variant rules are selected. However it doesn't do anything with that information other than show a message. It would be much better if the encumbrance penalties were automatically applied – to speed, ability checks, attack rolls and saving throws that use Dex, Str or Con – as per PHB 176.

Am I just missing something or does this functionality not

[2019-06-27 17:37] geoidesic commented on #5236
I found this thread: https://app.roll20.net/forum/post/6706436/encumbrance-5e-ogl#newtopic
So apparently it doesn't apply the modifications. Why not though? I played PathFinder on Roll20 and the PathFinder character sheet does do this, so obviously it's possible.

How can we make it happen?

[2019-06-27 22:38] geoidesic commented on #5236
So I submitted a PR to fix this: https://github.com/Roll20/roll20-character-sheets/pull/5239

[2019-06-29 01:21] shakasannin opened #5243 "A Song of Ice and Fire ROLEPLAYING"
Hello guys! I would like to ask for a fix on the sheet from SIFRP.

Before I start telling the problem with it, we need to make sure we are talking about the same sheet.

Currently, there are two sheets for SIFRPG.

One is this this https://github.com/Roll20/roll20-character-sheets/tree/master/Song%20of%20Ice%20and%20Fire%20Roleplaying

And the other one is https://github.com/Roll20/roll20-charact

[2019-06-29 01:39] shakasannin commented on #5243
Hello again, I tested this macro, and it works as it should be.

(@{Character|agility} - @{Character|wounds})d6k@{Character|agilityDodge} - @{Character|injuries} - @{Character|fatigue}

As said earlier, I know nothing of programming, but managed my way in this small macro for one test.

I hope this can be of use!

[2019-06-29 12:11] Anduh commented on #5243
@ajott and @coldrage101 this might be something you two might be interested in knowing. The bugfix from 11 days ago might have something to do with this problems described above.

[2019-06-30 04:32] CoalPoweredPuppet commented on #4080
Is this fixed or is it still a problem?

[2019-06-30 10:26] coldrage101 commented on #5243
I'll have a look.

[2019-06-30 11:13] coldrage101 commented on #5243
So the issue comes from so wierd Roll20 behavour.
The roll `7d6dl2` works fine.
The roll `( 7 )d6dl2` works fine.
The roll `( 7 )d6dl( 2 )` does not work (always gives 7).
The roll `7d6dl( 2 )` does not work (always gives 7).

This seems to be an issue of having brackets around the drop dice.

[2019-06-30 11:33] coldrage101 commented on #5243
This should be an easy fix. I just have to remove two brackets from each roll. That does mean editing 200 lines of code though... :(

[2019-06-30 11:35] coldrage101 commented on #5243
Got myself Pro so I could actually test, (thanks roll20 for paywalling testing) and the fix does indeed fix the issue. Now to reove 200 more brackets.

[2019-06-30 11:39] Anduh commented on #5243
Are you implying that the sheet update you did 11 days ago wasn't tested in Roll20? Because the [Improve Existing Character Sheets](https://github.com/Roll20/roll20-character-sheets#improving-existing-character-sheets) section mentions that changes need to be tested in Roll20 before submitting.

[2019-06-30 12:33] coldrage101 commented on #5243
As I am not DMing any games at the moment, I didn't want to purchase Pro as almost all of the features are not relevant to me. This is something I now regret, as testing is important, and I am sorry for disrupting players' games. The issue should be resolved in https://github.com/Roll20/roll20-character-sheets/pull/5247

[2019-06-30 16:44] V2Blast opened #5248 "[Adventures in Middle-Earth] Recent PR overwrote some AiME-specific modifications"
Pull request #5210 by @Echoblade9 made some long-needed updates to the AiME sheet to make some of the fields Compendium-compatible (rather than a single large text box). Unfortunately, in the process, some of the AiME-specific modifications to the 5e sheet seem to have been overwritten.

Specifically:

- The AiME-specific fields in the top right - "Distinctive Quality", "Speciality", "Hope", and "

[2019-06-30 18:23] shakasannin commented on #5243
First, thank you very much for the attention!

Also, special thanks to @coldrage101 for taking the time to fix it.

I would also like to point out something looking strange in the formulas.
`[[ ( [[ @{agility} + ?{Bonus Dice|0}]] )d6dl( [[ ?{Bonus Dice|0} **+** @{wounds} + ?{Penalty Dice|0} ]] ) - @{injuries} - @{fatigue} ]]`

Why did you choose to place " + @{wounds} " ?

and not " - @{wounds} "

[2019-06-30 19:40] coldrage101 commented on #5243
@shakasannin thank you for your compliments. To answer your question:
The player does need to put positive numbers in for wounds. The formula is rolling the sum of the test dice and bonus dice, then it is dropping the lowest n dice, where n is the sum of the bonus dice and the wounds.
This is because a wound causes a test die to become a bonus die. As the number of wounds increases, the number of

[2019-07-01 02:30] BlckKnght commented on #4080
Most of the issues I mentioned above are still problematic. After having many more months of play experience (including introducing a variety of new players to the sheets), I think these are the most important issues:

- There's nowhere to enter die pool modifiers for skill tests. There should be two kinds, equipment quality modifiers (which are subject to the maximum die pool cap after combining

[2019-07-01 16:38] shakasannin commented on #5243
Thanks for your reply, got it now!

[2019-07-01 22:05] #5243 closed

[2019-07-02 14:41] seriouslysean commented on #5167
@JaegersNet thanks for doing those updates. I've been busy for a bit with life but I love seeing that the MouseGuard sheet is still getting updated. I had a request come in for a Korean translation also so I'll put a PR up for it as soon as I get the translations file. @Gumeg, if you want to send me the file I can submit a PR for you.

Just take a look at https://github.com/Roll20/roll20-character

[2019-07-08 04:40] WallaceMcGregor opened #5274 "[Dungeon World by Roll20] NPC Text boxes"
The NPC sheets need a fix. The text boxes could have dynamic width. When you write two or three tags or longs names, movements, instinct... They don't show all text.

[2019-07-08 20:48] JBeighel commented on #5150
It looks like there was a worker script that was supposed to run when those fields were updated, but it was missing a trigger for the charisma field.

I have a pending pull request right now, once that's complete I'll submit another one to get this change in.

I have a game open where I was testing the change I made.  If you like you're welcome to join in and kick it around a bit.
https://app.roll

[2019-07-08 20:57] JBeighel commented on #4822
I used a lot of the Monsterhearts-2 sheet HTML for the Tremulus one.  Assuming the translation work I did there works, I could use the same techniques to get i18n tags in the Monsterhearts sheet.

@WallaceMcGregor do you think you could let me know if that sheet is reasonably translatable?  I don't want to start that effort without knowing if the results will be useful.

[2019-07-09 03:41] WallaceMcGregor commented on #4822
@JBeighel the modification to allow translations is not ended or committed (several months have passed without news). I don't know how is or if It'll work.

[2019-07-09 07:59] Lockbox313 commented on #4822
@WallaceMcGregor  @Anduh  posted revised html and  translation,josn onMay 15.  If you were keen to see this resolved  you could have taken these files and the CSS from the the Roll20 repository and setup a game with a custom sheet and tested it  for yourself and the committed it yourself.

[2019-07-09 09:25] WallaceMcGregor commented on #4822
@Lockbox313 I am not a Pro user so I can't use a custom sheet or upload one.

[2019-07-09 10:26] Lockbox313 commented on #4822
@WallaceMcGregor  You won't spend $10 on a PRO membership for a month to help with this but you expect others who have to work for you for free and then complain when they are not fast enough for you.

[2019-07-09 10:49] WallaceMcGregor commented on #4822
@Lockbox313 I've never complained anyone about the time to doing something. I've never said something like that. I am not a programer and I've made a lot of sheets translations to my language (including the Roll20 interface) or reporting errors, only trying to contribute the best I can. I am not a english native speaker so I think maybe could be a misinterpretation if sometime sounded like that.

[2019-07-09 10:57] Lockbox313 commented on #4822
@WallaceMcGregor "several months have passed without news"

[2019-07-09 11:11] WallaceMcGregor commented on #4822
I'm just answering @JBeighel If you think "several months have passed without news" is a complaint I can say nothing. I am trying to explain him the state. Anyway If you think that simple comment is a complaint, I don't know what to say you. That wasn't my intention. I've never thought it could be taken as a complain. I don't get it.

[2019-07-09 11:59] Anduh commented on #4822
The translated code I posted was autogenerated by a script, and wasn't fairing well for this particular sheet  so it's understandable that it's unlearn if it's better to start from the actual sheet or from the result of my script. I have little to no time to participate unfortunately, but can run my script again and see if the result is better since I might have improved it since last time.

But y

[2019-07-09 12:42] Lockbox313 commented on #4822
Saying this means you expect and are entitled to something and you have not received it so therefore this is a complaint.

@Anduh Running it  through again would be pointless since you are using the Roll20 github  code which has structure problems and your generator is still stripping > of various tags. I have again went through the HTML  and fixed some of it but as this stage all the skins after

[2019-07-09 13:06] JBeighel commented on #4822
Shoot, I didn't know you both were working on this.  I had started down a different path of creating a translation.json file working for it.

I don't know that its helpful since I was going a very different route, but the code I had is here:
https://github.com/JBeighel/roll20-character-sheets/tree/master/Monsterhearts-2

I don't have the Witch Hexes/Infernal Bargains, Experience, Advancement, or m

[2019-07-09 13:22] Anduh commented on #4822
I think **Lockbox313** just did something quick just now since joining this discussion. I guess this will get done now that both you and **Lockbox313** have interest in getting the translation done. Communicate with each-other and good luck.

[2019-07-09 13:34] JBeighel commented on #4822
You're right, its an old habit to distinguish string length.  It likely doesn't help much here since there aren't many useful distinctions to make.

[2019-07-09 13:57] Anduh commented on #4822
Many sheets name the tag-name so it's understandable on their own, [Starfinder](https://github.com/JBeighel/roll20-character-sheets/blob/master/Starfinder%20by%20Roll20/translation.json) is one such example, but on the other hand I think your `move1desc`,`move2desc` etc have benefits from a sheet structure standpoint, so either way is great and internal consistency is always the smart thing to do.

[2019-07-09 14:51] Lockbox313 commented on #4822
@JBeighel Are you working on Tremulus sheet or Monsterhearts 2 sheet?

[2019-07-09 14:58] JBeighel commented on #4822
Both, I just created the Tremulus sheet.  I borrowed a lot of HTML from the Monsterhearts so I'm familiar with it and thought I'd pitch in on this request for the Monsterhearts sheet.

I was re-using the tools for adding translation stuff to the Tremulus sheet to create similar tags in the Monsterhearts sheet.  Which is what I was showing in that previous repository link.

[2019-07-09 15:15] Lockbox313 commented on #4822
I would go ahead with your version because  fixing the generated html and the generated  translation.josn would probably take longer than finishing off your version.

[2019-07-09 15:26] JBeighel commented on #4822
Ok, I can keep working on that.  It will stall a bit in the macros, they use external images to show some of the text (Roll, Success, and Failure I think).

Do you know what was used to generate the HTML?  I don't do much HTML work, so I'm in the stone age with just a text editor.  Figured it might be good to look into modern tools.

[2019-07-09 15:52] Lockbox313 commented on #4822
You things like HOT and the scrolling background?
 I use a text editor but then again that is how I started in the 80s'

[2019-07-09 15:58] Lockbox313 commented on #4822
You do not need generate any html.  Look at the roll template at the bottom of the html file there area bunch of <img> tags.you justneed to change the src attribute to point your own image.

[2019-07-09 16:01] JBeighel commented on #4822
Making the image would be the trick.  I'm not good enough at image work to have it match the theme.  I guess I can create the tag and leave it open to creating an image or just inserting text.

[2019-07-09 16:07] Lockbox313 commented on #4822
What images do you need?

[2019-07-09 16:10] JBeighel commented on #4822
I guess I'm thinking about it wrong, I don't need them it'd be the translator who'd have to create these in the other languages:
http://i.imgur.com/Y4a3NF3.png
http://i.imgur.com/ijSYmKZ.png
http://i.imgur.com/8IqLjkG.png
http://i.imgur.com/IJBloDk.png
http://i.imgur.com/Z4MvPRa.png

[2019-07-09 16:18] Lockbox313 commented on #4822
I would not worry about the images for the Monsterhearts 2 translations. I don't think the  translation system can do anything about switching out images based on language anyway.  But you would probably want to change the images for  your Tremulus sheet.

[2019-07-09 16:20] JBeighel commented on #4822
Yup, that I did do.  Just have it showing the text.

[2019-07-09 16:36] Lockbox313 commented on #4822
Ok Good luck pm at https://app.roll20.net/users/720651/ if you think I could help.

[2019-07-09 16:58] JBeighel commented on #4822
Finished the work on this one.  Submitted a pull request to bring in the changes.  Guess we'll see where it goes next.

[2019-07-10 17:33] r2b2grady commented on #5150
Cool, thanks! I just joined, I'll test it out when I get a chance.

I also noticed another issue that might be a bit trickier to fix—namely, the "h" is missing from the Anthropology Skill, in both the label and the attribute name. The tricky bit is simply when it comes to importing older characters—I'm not super familiar with the Roll20 API, so I don't know how easy it would be to have the Import

[2019-07-10 18:42] JBeighel commented on #5150
I've made you a GM in the game, so you should be able to create and mess with things in there to test with.

As for for the renaming, there's no requirement that the text shown on the character screen needs to match what is in the Attribute list.  So changing what is displayed on the sheet, and leaving the attribute name incorrect is possible.

Another option might be to create some worker script

[2019-07-10 20:22] r2b2grady commented on #5150
Ooh, that's a good thought.

Also, I noticed that the column names for the Attack fields don't quite line up with the corresponding fields (see attached screenshot). I've used the Dev Console to grab the percent and pixel widths for the fields, would you prefer I make a new pull request or should we just bundle them all into this one?

![image](https://user-images.githubusercontent.com/19891352/61

[2019-07-11 11:20] JBeighel commented on #5150
Fixed the anthropology business in that test campaign.  When you load the sheet it copies the value from No-H 'Antrpology' into With-H 'Anthropology'.  Then when you change the value it updates both No-H and With-H, this way if there's any macros or whatever they should still work.

The anthropology check box attribute is still spelled wrong, but I don't think it likely anyone is using that direct

[2019-07-11 11:23] JBeighel commented on #5150
That attacks table will be more difficult.  The headers are very different sizes than the fields.  Gonna take a bit to try and get them all to line up.  I'll poke around with it and see what can be done without making the sheet wider.

[2019-07-11 14:14] dyvim opened #5300 "[RunequestGQS] Add data-i18n tags to the sheet"
The game RuneQuest Roleplaying in Glorantha will soon be translated in french (the quickstarter is already translated)
I supose that this game will probably be translated in Spanish and German too (or already is).
So I think that data-i18n tags should be added if possible.

So if @Lockbox313  is able to add them it will be cool and probably very appreciated.

If he doesn't have the time, I can try

[2019-07-11 14:43] r2b2grady commented on #5150
Oh, I'd figured that since the main sheet was a static width, you could just kludge the widths by defining them manually, either with pixels:
[code]
Or with percentage widths for possible width changes later on:
[code]

[2019-07-11 14:50] Lockbox313 commented on #5300
That is not something I am interested in doing.

[2019-07-11 15:02] JBeighel commented on #5150
Initially I had hoped to merge the two tables.  I couldn't understand why the column headers were in a different table than the data.  Turns out the repeating elements don't work inside tables.

I did try what you suggested, setting field widths.  Doesn't quite work that easy.  Some of the headers (like lethality) are wider than the data entry field.

If you look at the attacks for the Agent form

[2019-07-11 15:22] Lockbox313 commented on #5300
You will need to change the function that adds the skills  and use getTranslationByKey to get the translated  skill names.

[2019-07-11 16:31] dyvim commented on #5300
OK. I'll try to do that by myself. (it's not the first time :))
Someone gave me a script that is supposed to generate automatically the tags... It's a good occasion to test it.

Do you you mind if I send to you the new html file as I won't be able to generate the translation.json file?

[2019-07-11 16:34] r2b2grady commented on #5150
Hm, what about this, for the headers?
[code]
I tried it in the Chrome Dev Console, but I don't want to make any assumptions about whether that carries over when it's imported into the main files.

[2019-07-11 16:51] Lockbox313 commented on #5300
Who gave you the script?

[2019-07-11 23:21] Anduh commented on #5300
You mean the [ACSI](https://github.com/Anduh/acsi) script? Yeah it' works on well-structured html,and on some sheets might generate something that is a timesaver on on other sheets. I advise to remove sheetworkers from any file you run through the acsi, as it only expects html in the files, doing quite a number otherwise.

[2019-07-12 10:52] Lockbox313 commented on #5300
@Anduh is this the script you used on the Monstehearts 2 sheet?

[2019-07-12 11:00] Anduh commented on #5300
Yeah. Monster heart was a sheet it didnt work well for, but the script have done better on other sheet, think there are now like 5 sheet that have been translated mostly by ACSI.

[2019-07-12 11:04] Lockbox313 commented on #5300
Which sheets were they?

On Fri, 12 Jul 2019 at 12:00, Andreas J. <notifications@github.com> wrote:

[2019-07-12 11:10] Anduh commented on #5300
Forbidden Lands, Nemesis, Over the Edge, Chronicles of Darkness by Roll20, Cyperpunk2020.

[2019-07-12 13:43] dyvim commented on #5300
Yes I mean this script

[2019-07-12 13:47] Anduh commented on #5300
I'm looking forwards seeing someone else than just me use it :D

[2019-07-12 15:01] Goury commented on #265
Why is it closed?
The bug is present by this day.

[2019-07-12 15:46] Lockbox313 commented on #5300
To successfully do this you will have to take out the html that pertains only to Runequest:Glorantha sheet as the file also contains a sheet based on the RQ3 sheet that was done before the rules were released.  After you run that through the script you will have merge back into the file and then it needs tested by someone who has a pro account.  Since you do not have  a PRO the only thing you can

[2019-07-12 16:01] Lockbox313 commented on #5300
Here is a version of the HTML with Quick start sheet removed and the sheet workers removed. [https://github.com/Lockbox313/Roll20-Testing/tree/master/RQ%20Translation](url)

[2019-07-12 16:20] dyvim commented on #5300
Hmmm I didn't remember ACSI was developped for Linux... Do you think a windows executable could be generated with the sources @Anduh ?
I don't have a Linux OS installed at the moment

[2019-07-12 18:24] JBeighel commented on #5150
That looks really good.  I applied it to bother versions of that table (NPC and Agents).

If you're good with that, I'll submit a request to make that live.

[2019-07-12 20:53] Anduh commented on #5300
I doubt it. Pretty sure one or two of the core libraries making ACSI into a command line tool are Unix-dependent.  Making it Windows-compatible is pretty low on the todo-list, and I haven't really had time improving it lately so that will likely not happen this decade...

[2019-07-13 10:56] Anduh commented on #5300
[Here is the result](https://gist.github.com/Anduh/036c26eecd747699bb7e2dc91d52ace0) of running ACSI, and some minor cleanup before and after, and added back the sheetworkers & rolltemplates.

Unfortunate there seems to be some serious flaw with the end result, as it doesn't want to display at all if tried in a custom game. I fixed some minor html/css mistakes on the sheet, and ran it through a va

[2019-07-13 13:06] Lockbox313 commented on #5300
I pull something together with VBA (I  would have done C# but I don't have VS studio installed on this machine.) It does <div> <spans> and <labels> currently and I am not output any json so the data-i18n placeholders (is that the correctname) are showing.  Here is an invite to the test game https://app.roll20.net/join/4461254/F7DxUQ

[2019-07-13 17:11] r2b2grady commented on #5150
Sounds good to me!

[2019-07-13 20:12] shakasannin opened #5302 "Hello guys, here i am again to point out some more problems on our SIFRoleplaing sheet."
Hello to all again, first I would like to thank you @coldrage101 (not sure how to tag a person in roll20), for your amazing work, but, not everything is perfect yet, I believe that this system deserves a proper system since is a great one.

And I'm hoping that you can help all of us SIFRPG system users.

Now that the rolls are fixed, there are some minor bugs, me and a couple of friends tested and

[2019-07-13 20:38] coldrage101 commented on #5302
I'll have a look at it over the next few days.

[2019-07-14 18:55] coldrage101 commented on #5302
I have a fix for the education rolling language, and another for language specialities dropping all of their dice.
The issues on with the initiative rolls and on the attacks exist in the original version of this sheet, but I shall look into them both.

I also wonder about the requirement for selecting a target token for attacks. It is very nice to see the requirement to hit along side the roll, bu

[2019-07-15 00:08] coldrage101 commented on #5302
I have now got fixes for the fighting and initiative rolls. I have removed the requirement for a token to be selected in both cases.

@shakasannin can you reiterate on the issues with movement? I lack understanding of the issue.

[2019-07-17 05:45] Operativ opened #5311 "Shadow of the Demon Lord: NPC issue with insanity and corruption"
Hello,

I have noticed that in the NPC version of the character sheet, ticking the Insanity and Corruption boxes does not display an editable field. The field is there in the display, non-editable mode, however it cannot be changed.

This is regarding Shadow of the Demon Lord character sheet.

[2019-07-17 08:52] Lockbox313 commented on #5300
@dyvim Are you still interested in this? If you are it would help if you did some testing on sheet in the game linked above.

[2019-07-17 09:03] dyvim commented on #5300
Hello,
I'm still interested but i am at the hospital for at least one week.
BRgds

Le mer. 17 juil. 2019 10:52, Lockbox313 <notifications@github.com> a écrit :

[2019-07-17 13:15] Anduh commented on #5311
It's better to have the name of the sheet in the title for clarity

[2019-07-17 17:46] coldrage101 commented on #5302
I'll do a pull request of the changes I have thusfar tonight.

[2019-07-17 18:31] clevett commented on #5274
Thanks for letting us know. I'll have some one take a look at that.

[2019-07-18 11:29] Lockbox313 commented on #5300
I will have to redo the data-i18n tags  as I had to issue a fix. No ETA on that.

[2019-07-22 22:06] #5302 closed

[2019-07-23 12:22] JBeighel commented on #5311
Not sure what tool was used to generate that HTML, but it is not friendly to humans.

However, I think I have what you wanted in place though.  Take a look at the character in this game and let me know what you think:
https://app.roll20.net/join/4934424/cG2JzQ

The functionality is a match for all the other attributes in there.  I don't know the rules for this particular game so I've no idea how t

[2019-07-25 11:06] calebm02 opened #5335 "[Request] Fallout 4.0 Character Sheet"
A lovely individual from No Mutants Allowed has made a bunch of really nice alterations to Fallout 3.0, and the character sheets aren't on Roll20 yet.  Here is the link to the HTML/CSS

https://drive.google.com/file/d/1ncMuceZ_hCpKurtIR1MXZSarsV990pcj/view

Hope this can be added, thanks!

[2019-07-25 16:37] Anduh commented on #5335
Hm, Giving the sheet a quick look, it doesn't quite hold up to the current submission standards `<table>` elements, but if someone does some cleanup, it could be submitted.

[2019-07-25 19:33] Skyeris commented on #5335
I didn't expect someone to put my edits on Github. I was actually working on it today to make it cleaner. The link above doesn't work anymore. Here's the new one.

https://drive.google.com/file/d/1ULy4xMYZmUuwZ0U3Bnn7D2ofREDnWt0e/view?usp=sharing

[2019-07-25 20:16] Anduh commented on #5335
As it seem to be a fairly simple sheet, changing it to use flexbox or css grid shouldnt be too much work (they are the recommended ways to structure sheets, but not mandatory)

[2019-07-25 20:25] Skyeris commented on #5335
I can give it a try. I barely know HTML and CSS.

[2019-07-25 22:57] Anduh commented on #5335
You can follow the [Roll20 guidelines](https://github.com/Roll20/roll20-character-sheets#contributing) and fill in the little info needed, and just submit the sheet as a draft Pull Request here and as here/ the forums if someone want to take a look at what you've done. You need to have access to a Pro game to use custom sheet to preview/test the sheet before submitting it here.

[2019-07-29 21:37] dyvim commented on #5300
I did some tests in your test game. All seems to work correctly but I can not be completely sure as all the text was in english (logical as fr.json has not been initialized I suppose)

[2019-07-30 06:02] Lockbox313 commented on #5300
It will have to be redone as I had to issue a fix.  I am in the middle of something else so as I said above no ETA when I will get back to it.

[2019-08-14 02:24] V2Blast commented on #5248
Seems the changes have been fixed. (The only possible bug still occurring is the last one, but I haven't tried removing and readding the weapons or attacks. I might open another issue if I don't find any solution after trying that.)

[2019-08-14 02:24] #5248 closed

[2019-08-14 02:30] V2Blast commented on #5013
It's worth noting that the ship rules from that UA have now been published in a modified form in Appendix A of the Ghosts of Saltmarsh adventure: https://dnd.wizards.com/products/tabletop-games/rpg-products/ghosts-saltmarsh

[2019-08-15 09:20] Operativ opened #5395 "[D&D 5e OGL by Roll20] Ranger class issues"
Hello,

the Ranger class has issues when creating a character via Charactermancer.

- Favored Enemy (Humanoid) fields display as blank after you type data in & move onto the next step. It saves properly though.
- At level 2, there's some "undefined spell list" under the level 1 spell list.
- at global attack modifier there's "undefined" or "[]" modifier without any description
- when choosing (at

[2019-08-17 13:26] Operativ opened #5403 "[D&D 5e OGL by Roll20] Fighter - Criminal background does not receive Thieves' Tools proficiency but a blank field proficiency"
Hello,

When you create a fighter with a criminal background (I picked enforcer) on generating it does not grant the thieves' tools tool knowledge, but a blank field proficiency based off Strength.

[2019-09-01 15:59] paladintodd opened #5426 "Firefly: First column skills improperly formatted"
While the Firefly sheet in Roll20 works, if you do a custom sheet using this HTML & CSS there is a problem will the first column of skills. The die graphic will appear on the line below the Craft skill. This line in the CSS appears to be the problem:

.sheet-skills table td:nth-child(2n) {
  border-right: 10px solid white;
}

Change it to this and things are formatted correctly:

.sheet-skills tab

[2019-09-08 18:04] tobeyun opened #5455 "Phantom Inventory Item"
On each of my player sheets, they all have a blank inventory item that cannot be deleted. Looking at the source, they are missing an ID and I assume this is why it cannot be deleted.
![Image 9-8-19 at 1 03 PM](https://user-images.githubusercontent.com/14236299/64492405-1b082c00-d239-11e9-98f8-e895b620633b.jpg)

[2019-09-11 09:54] dyvim opened #5464 "[WFRP4CharSheet] missing data-i18n tags in WFRP4Charsheet.html"
Hello,

There are some data-i18n tags missing in the WFRP4 Sheet.
If someone ( @Medieve  ?) can add them and update the translation.json file.

[code]

lines 15 and 17 are not mandatory because they are commented but the other lines are used.

Best Regards

[2019-09-12 18:10] Cazra opened #5467 "Tails of Equestria - Incorrect upgrade/downgrade"
On the Tails of Equestria sheet, upgraded rolls for D20s and downgraded rolls for D4s are handled incorrectly.

The current implementation follows trait and talent progression. The correct way to upgrade a D20 is to give the roller the option to roll it again and keep the new result (even if it's lower). The correct way to downgrade a D4 is to reroll the result and take the lowest result.

---

I

[2019-09-13 11:12] dyvim commented on #5464
Thx a lot Cassie

[2019-09-13 21:49] clevett commented on #5464
You're welcome. Keep up the good work. :)

[2019-09-13 21:51] clevett commented on #5150
Everything in this issue wrapped up? Can I close it? If you're still working on it no worries. Just trying to keep issues clean. :)

[2019-09-13 21:53] clevett commented on #5167
@Gumeg Do you want to do translations? Email me at cassie@roll20.net and I'll get you an invite to Crowdin. Crowdin is an easy way to add translations and you wont need to know json. :)

[2019-09-13 21:55] clevett commented on #5223
@giffyglyph Just letting you know this came through issues.

[2019-09-14 03:08] JBeighel commented on #5150
Not a problem at all.  This one is also complete as well.

[2019-09-14 03:30] #5150 closed

[2019-09-16 06:17] Gumeg commented on #5167
Thanks, but i'm allready in. =)

[2019-09-16 06:17] #5167 closed

[2019-09-17 19:15] G-G-G opened #5478 "Todays sheet organisation screwed people using the Lancer 1.8 sheet"
See here: https://app.roll20.net/forum/post/7774613/lancer-rpg-character-sheet-issues

It looks like the old sheet has been removed from the selectable character sheets, and those people using the newer sheet have been forced onto the older one and have lost a lot of character data.

[2019-09-18 02:05] V2Blast commented on #5478
I can confirm that the same thing (switched to older sheet, loss of data) seems to have happened in the game I'm a player in as well.

[2019-09-18 04:22] clevett commented on #5478
I'll look at getting a hotfix for this tomorrow. It looks like the approved yaml update revealed a made when the new Lancer was added.

[2019-09-19 00:26] clevett commented on #5478
Approved.yaml was fixed and its been pushed live. Thanks for adding a report here.

[2019-09-19 00:26] #5478 closed

[2019-09-19 09:18] dyvim commented on #5464
Hello Cassie,

I've seen that you have closed the issue and I 've even seen the tags
you've added (linked to the issue) but strangely I can't see them in the
current code of the WFRP4 sheet (html file or translation.json file).
Is that normal? Will they bee added next week?

BRgds

Thomas Coquery

Le mer. 18 sept. 2019 à 08:33, Cassie Levett <notifications@github.com> a
écrit :

[2019-09-19 13:33] clevett commented on #5464
@dyvim

That is odd. I'll take a look this evening.

[2019-09-20 04:04] clevett commented on #5464
I guess for some really weird reason I closed the Pull Request instead of merging it. O_O

[2019-09-25 22:59] Fashionforpassion opened #5490 "[Request] Savage Borderlands"
Long-time Roll20 user very interested in Borderlands, I've been searching for a while and I found this and was extremely interested, I've seen other variations of Savage Worlds, but this one is my favorite.

https://arfe.net/savage-borderlands/
The character sheets are all in google docs.

![image](https://user-images.githubusercontent.com/55814692/65645490-576bb400-dfbd-11e9-88bc-69998cfbd7d9.png

[2019-09-26 10:49] Anduh commented on #5490
Other than looks, does this Borderland sheet version of Savage Worlds differ from how the either of the existing sheets function?

[2019-09-27 03:34] clevett commented on #5464
@dyvim Are you seeing the new keys now?

[2019-09-27 07:44] dyvim commented on #5464
Yes! It's OK now, i'm able to translate.
Thanks a lot @clevett .

BRgds

[2019-09-27 07:44] #5464 closed

[2019-09-28 05:59] Fashionforpassion commented on #5490
I'm glad you asked.
Here, as you can see, is the differences in elements, Arcane Background has been specifically assigned to Sirens.

![image](https://user-images.githubusercontent.com/55814692/65812315-35c02780-e18b-11e9-8860-06befb63c826.png)

As well as the introduction of the Element bar.

Not to mention shields.

[2019-09-28 06:00] Fashionforpassion commented on #5490
I've been looking for someone to run even a moderately adequate game, and with this new sheet I can finally achieve this.
I'd understand if you said no, however.

[2019-09-28 08:55] Anduh commented on #5490
Unfortunately I don't have time to take on more sheet requests, I'm just getting you to tell the important parts of this request so, that someone else doesn't have to ask it later.
It's always best to be upfront and clear about what the important parts of the request is, so people don't have to ask for them.

You could also post this request in the [Sheet Request](https://app.roll20.net/forum/post

[2019-09-30 02:29] deltmd opened #5506 "[5th Edition OGL by Roll20] No background images"
Is there a reason we are not using the assets for the background images?
Exe: `background: url(/images/dndstyling/CharScroll.svg);`
![image](https://user-images.githubusercontent.com/22157938/65845444-86ed2a00-e2f7-11e9-8db2-1644a7adef21.png)

[2019-10-01 00:02] Orudeon opened #5511 "[Shadowrun 5E] Some broken whisper toggles and grunt skill checks"
On the grunt character sheet, at least the following whisper toggles are broken:
- Data Processing
- Attack
- Sleaze
- Firewall

I haven't found any others at the time of writing this.

At least the following skill rolls are broken:
- Negotiation
- Archery
- Pistols
- Firearms Group
- Unarmed Combat
- Athletics Group

I'm unable to exhaustively test every skill right now, those are the ones I foun

[2019-10-01 20:07] clevett commented on #5511
Which character sheet is this for? Shadowrun 5th Edition or Shadowru 5e Advanced?

[2019-10-01 22:04] Orudeon commented on #5511
It looks like the bottom of the sheet says it's 2.0 in tiny text.

Also, my players are reporting that they can't roll anything but they're still filling out things. Is there something in particular that breaks that? My sheet rolls fine. I could invite a developer to look at them?

[2019-10-01 22:09] Orudeon commented on #5511
Also, unchecking Modifiers results in the following error:
SyntaxError: Expected "(", ".", "[", "abs(", "ceil(", "d", "floor(", "round(", "t", "{", [ |\t], [+|\-], [+|\-|*|\/|%] or [0-9] but ")" found.

[2019-10-01 22:31] Orudeon commented on #5511
I may as well just dump a bunch of feedback here because I don't see the point in making a new thread for every single one.

From an accessibility standpoint, my colorblindness makes it impossible for me to see when edge and matrix condition monitors are depleted -- or not. I'd personally appreciate a substantially different color, this dark red and black isn't working for me. You can use https://

[2019-10-01 23:30] clevett commented on #5511
This was certainly a project I did before learning Accessibility programming. I'll look at adding higher contrast or a better visual indicator for Edge/Matrix Damage.

That Modifier error is really odd. I'm not able to replicate it. Could you go to Attributes & Abilities tab on the Roll20 window then try deleting modifier_toggle ? Toggle Modifier on and off again. See if that helps.

You can find

[2019-10-02 00:25] Orudeon commented on #5511
My Discord is Orudeon#4767, I don't know why the requests are being bounced by discord. I have this problem all the time. I also sent you a DM on roll20.

Also while fiddling with something else I discovered that pressing the armor rating number (the 12 in the attached)
![chrome_2019-10-01_17-24-57](https://user-images.githubusercontent.com/16169101/66009689-70b6a980-e470-11e9-89b0-e1c780195650.pn

[2019-10-03 14:39] clevett commented on #5464
You're welcome.

[2019-10-03 15:35] clevett commented on #5403
Greetings,

This should be fixed by #5521 . This will go out next week, 8th October 2019.

[2019-10-03 15:51] clevett commented on #5395
Greetings,

I added these to our backlog and we'll take a look at them soon.

[2019-10-03 15:54] clevett commented on #5506
Greetings @deltmd

I'll need some more details. These images are being used if you have the D&D styling turned on. You can toggle it off and on in the Game Settings.

Thanks,
Cassie

[2019-10-04 08:11] finderski opened #5525 "Last Merge Reverted?"
So, this week the Savage Worlds Tabbed sheet was updated to version 3.9, however today, that version (and the associated changes) are no longer the active character sheet, it's now 3.8.

What happened? When will this be corrected? and What does this mean for updates that are being worked on based on the 3.9 code?

This issue seems to be more than just the Savage Worlds Tabbed sheet, too. See this

[2019-10-04 09:44] Anduh commented on #5525
Are you positive you saw the changes live at any point, or is there a chance the changes where never rolled out?

[2019-10-04 10:23] finderski commented on #5525
Positive.  I have a kanban to assist with coordination of the sheet development. Once I see the update on the Forum about the release update, I go to a test game to validate that the sheet updates are live; once that happens, I move the work over to In Prod. I was also excited that the updates were live, because they will be needed in my game tonight, so I validated the update for that reason, too

[2019-10-04 22:16] clevett commented on #5525
This is fixed now. The Submodule was reverted to an old one. We got it fixed earlier today.

[2019-10-04 22:37] MaiFlow opened #5528 "[L5R 5th Edition Unofficial] NPC Weapon rolls use skill values from PC version"
When using the macro for a weapon on the NPC version of the sheet, attack rolls use the attribute value for the skill selected, instead of the Martial rating of the NPC. This means NPC stat blocks must have their Melee, Unarmed or Ranged skill set before the macro can be used effectively.

[2019-10-06 01:02] deltmd commented on #5506
Thank you, I misunderstood.

[2019-10-06 01:02] #5506 closed

[2019-10-07 21:08] #5525 closed

[2019-10-09 03:01] saethone commented on #5528
Yep, I see the problem there. I'll try to get that corrected this week.

[2019-10-09 07:55] TheBalzan commented on #5528
Not at all the same issue, however there needs to be a way to set custom endurance, fatigue, vigilance and focus that are not linked to rings on the NPC sheet.
Can fields for NPC advantages, disadvantages, and unmasking be added too?
For that matter can an unmasking field be added to the PC sheet?
Had an issue last night where using a weapon with air wouldn't roll the correct number of dice, only

[2019-10-13 14:37] Anduh commented on #5426
I submitted a fix for the sheet.

[2019-10-13 21:29] saethone commented on #5528
MaiFlow - I've submitted a pull request with your fix - assuming all goes well, it should be updated on Roll20 this week. It will just automatically use the NPC's "Martial" ranks for the skill dice now.

TheBalzan - I don't currently have the time to add any new features to the sheet.
As for your issue with rolling a weapon with Air, I wasn't able to reproduce the error. Do you have any more info

[2019-10-14 15:59] clevett commented on #5511
Just a note. I'm working on a really big refactor that will fix those broken toggles.

The temporary fix for them is just to toggle them off and on again.

[2019-10-16 05:34] dyvim opened #5562 "[Trudvang Chronicles] add data-i18n tags to the sheet"
Hello,
Trudvang Chronicles will soon be translated and published in french. I've checked if I'm able to translate the sheet but I'm not because there's no data-i18n tags in the code of this sheet.
@TheAziraphale can you add them?
Or someone else?
BRgds

[2019-10-16 13:37] Anduh commented on #5562
Hmm, Maybe it's time for me to dust of my ACSI script again. I'll see how well it does.

[2019-10-16 13:49] dyvim commented on #5562
Thank you Andreas

[2019-10-16 14:13] Anduh commented on #5562
Alright, so I got a first draft of a translated Trudvang sheet now.  It still have around 45 placeholder text instances that needs language tags, as my script doesn't do them yet.

[Trudvang Chronicles translated files](https://gist.github.com/Anduh/139ca9b9bade98acca76e9a427a2f92e)

[2019-10-17 09:47] dyvim opened #5568 "[Ars_Magica_5th] add data-i18n tags to the sheet"
Hello,
Ars Magica 5th edition has been translated and published in french long ago. In my virtual table community i've had a demand to translate the sheet so I've checked if I'm able to do it but I'm not because there's no data-i18n tags in the code of this sheet.
@Anduh  can you add them via your ACSI script ?
Or someone else?
BRgds

[2019-10-17 10:08] dyvim opened #5569 "[7th Sea 2e] add data-i18n tags to the sheet"
Hello,
7th Sea 2nd edition has been translated and published in french 2 years ago. In my virtual table community i've had a demand to translate the sheet so I've checked if I'm able to do it but I'm not because there's no data-i18n tags in the code of this sheet.
@CoalPoweredPuppet or @BluSponge can you add them ?
or @Anduh can you add them via your ACSI script ?
Or someone else?
BRgds

[2019-10-17 10:16] dyvim opened #5570 "[TheWitcher] add data-i18n tags to the sheet"
Hello,
The Witcher has been translated and published in french several months ago. In my virtual table community i've had a demand to translate the sheet so I've checked if I'm able to do it but I'm not because there's no data-i18n tags in the code of this sheet.
@Leothedino or @ancallan  can you add them?
Or @Anduh can you add them via your ACSI script ?
Or someone else?
BRgds

[2019-10-17 10:41] Anduh commented on #5570
I'll see if my script can be used on the sheet. If ACSI doesn't do too well on this sheet, and would result in lots of manual fixes or seem to take as much time as doing it manually, I'll let someone with more free time do it.

Will post here again when I know which way it seems to go.

(If you like the speed of translation I manage to do with my script, [please give it a start on giithub](https:/

[2019-10-17 10:41] Anduh commented on #5569
I'll see if my script can be used on the sheet. If ACSI doesn't do too well on this sheet, and would result in lots of manual fixes or seem to take as much time as doing it manually, I'll let someone with more free time do it.

Will post here again when I know which way it seems to go.

(If you like the speed of translation I manage to do with my script, [please give it a start on giithub](https:/

[2019-10-17 10:41] Anduh commented on #5568
I'll see if my script can be used on the sheet. If ACSI doesn't do too well on this sheet, and would result in lots of manual fixes or seem to take as much time as doing it manually, I'll let someone with more free time do it.

Will post here again when I know which way it seems to go.

(If you like the speed of translation I manage to do with my script, [please give it a start on giithub](https:/

[2019-10-17 11:50] Anduh commented on #5568
This is 95% translated now

[2019-10-17 12:59] dyvim commented on #5568
Partial translation is better than no translation. I can try to finalise that a bit later or if you attach the files generated I can do it manually now.

[2019-10-17 13:22] Anduh commented on #5568
Yeah, it's always easier when there is something to work with. Will likely do the same with the other sheets, mostly do the sheet, and some rolls buttons/roll templates if they aren't too big.

[2019-10-17 14:12] Kiiraz opened #5571 "[StarWars FFG] Need update for new specializations"
Hello I use the character sheet "Star Wars FFG API-Compatible" on roll20 but it lacks a lot of specializations.
It will be really great if you can make a update.
Thanks

[2019-10-17 14:55] Anduh commented on #5568
Okay, so I ended up doing full translation of the sheet.

I probably will just run the script on the other sheets & do some minor cleanup, and some of the harder fixes like changing text in roll button macros should  be easier to do if one repeats how I did it here, and read the [translation wiki page](https://wiki.roll20.net/Character_Sheet_i18n) for more details.

[2019-10-17 15:39] dyvim commented on #5568
You're too kind. :)

[2019-10-18 15:19] Leothedino commented on #5570
@dyvim hey man, that Witcher Sheet was originally made for a private game and I chose to share it with everybody else, it was also my first attempt at coding a sheet (or pretty much anything). Sadly this means, yeah, it's missing data-i18n tags. Honestly, i'd love to do it, but I just don't have the time these days and it's going to be -alot- of work.

As it's public for all to view on github, peo

[2019-10-18 15:46] Anduh commented on #5570
@Leothedino , I think you just missed that a PR to include translation tags to your sheet have already been done #5573 :smile:
I have to say, your Witcher sheet looks and feels amazing, and poking at it while including the translation tags made feel like try it out, just from how great your sheet is.

Thanks for sharing this amazing sheet publicly!

[2019-10-18 21:43] Leothedino commented on #5570
Oh wow, excellent! That was great of you @Anduh, sorry long day haha.

[2019-10-18 23:52] TheBalzan commented on #5528
Is it possible to set the endurance fatigue vigilance and focus for NPCs without the autofilling?

[2019-10-21 21:58] #5570 closed

[2019-10-21 21:58] dyvim commented on #5570
data-i18n tags have been added

[2019-10-21 21:59] dyvim commented on #5568
data-i18n tags have been added

[2019-10-21 21:59] #5568 closed

[2019-10-21 22:02] dyvim commented on #5569
data-i18n tags have been added

[2019-10-21 22:02] #5569 closed

[2019-10-21 22:02] dyvim commented on #5562
data-i18n tags have been added

[2019-10-21 22:02] #5562 closed

[2019-10-23 18:30] sirkerry commented on #5108
Made requested change and submitted pull request.

[2019-10-25 05:43] Anduh commented on #2458
@clevett this issue can be closed as solved, as [mentioned here](https://app.roll20.net/forum/post/7839685/dresden-files-accelerated-bug/?pageforid=7845428#post-7845428).

[2019-10-25 06:11] Anduh commented on #5426
@clevett with issue can be closed thanks to #5555

[2019-10-28 03:28] dyent opened #5612 "[L5R 5th Edition Unofficial] Unarmed Skill Only Rolls 1 Air Ring"
When rolling the Unarmed Skill it will only roll 1 Ring dice and reference the Air ring. This is regardless of which ring you select from the drop down menu and it will only roll 1 dice regardless of how many ranks in the air ring.
![image](https://user-images.githubusercontent.com/8639630/67649839-c5c1de80-f98e-11e9-8a5b-2e8c469b058a.png)

[2019-10-28 20:59] SomewhereSimulated opened #5625 "[Elite Dangerous RPG] Character Sheet Skill Title Changes"
Hello,

Under Personal Combat, the Kinetic Weapons skill name needs to be updated to Ballistic Weapons and reordered alphabetically on the sheet.

Under Intelligence, Cyber needs to be updated to Bionics/Robotics and reordered alphabetically on the sheet.

Under Vehicle Skills, Systems needs to be updated to SPC Ops and reordered alphabetically on the sheet.

Thanks for the great sheet in advance.

[2019-10-30 14:55] dyvim opened #5632 "[Monster of the Week] add data-i18n tags to the sheet"
Hello,
Monster of the Week has been translated and published in french several months ago. In my virtual table community i've had a demand to translate the sheet so I've checked if I'm able to do it but I'm not because there's no data-i18n tags in the code of this sheet.
@LethalKitten can you add them?
Or @Anduh can you add them via your ACSI script ?
Or someone else?
BRgds

[2019-10-30 14:59] dyvim opened #5633 "[Feng-Shui-2] add data-i18n tags to the sheet"
Hello,
Feng Shui 2 has been translated and published in french several months ago. In my virtual table community i've had a demand to translate the sheet so I've checked if I'm able to do it but I'm not because there's no data-i18n tags in the code of this sheet.
@Natterhorn or @wing-it can you add them?
Or @Anduh can you add them via your ACSI script ?
Or someone else?
BRgds

[2019-10-30 15:11] Anduh commented on #5633
Damn, this is a simple one, consider it done.

[2019-10-30 15:37] dyvim opened #5634 "[Deathwatch] add data-i18n tags to the sheet"
Hello,
Deathwatch has been translated and published in french several years ago. In my virtual table community i've had a demand to translate the sheet so I've checked if I'm able to do it but I'm not because there's no data-i18n tags in the code of this sheet.
@victor or @CoalPoweredPuppet or @olavmueller or @Craftomega can you add them?
Or @Anduh can you add them via your ACSI script ?
Or someon

[2019-10-30 15:42] dyvim opened #5635 "[Lotfp] add data-i18n tags to the sheet"
Hello,
Lamentation of the Flame Princess has been translated and published in french several months ago. In my virtual table community i've had a demand to translate the sheet so I've checked if I'm able to do it but I'm not because there's no data-i18n tags in the code of this sheet.
@joesinghaus or @sirkerry or @Favashi or @jangler can you add them?
Or @Anduh can you add them via your ACSI scrip

[2019-10-30 16:05] dyvim opened #5636 "[Shadowrun5th] add data-i18n tags to the sheet"
Hello,
Shadowrun 5th edition has been translated and published in french several years ago. In my virtual table community i've had a demand to translate this sheet (and specifically this one as there is an other sheet that is translated already) so I've checked if I'm able to do it but I'm not because there's no data-i18n tags in the code of this sheet.
@darkxyro or @smilligan93 or @pjbehr87 or @h

[2019-10-30 16:19] dyvim opened #5637 "[Trudvang Chronicles] add missing data-i18n tags to the sheet"
2 weeks ago a lot of data-i18n tags have been added to this sheet but there is a part of the sheet that still can't be translated : the part of the skills.
data-i18n tags have not been added because the text to translate is in the property "value" or "placeholder" of the "div" tags.

The problem cencerns the lines between line 291 and line 1022

for example you have this code
`<div class="sheet-ro

[2019-10-30 16:23] Anduh commented on #5632
If you do the work needed on the HTML, I won't mind creating the `translation.json` and checking that it works at some point.

[2019-10-30 16:48] dyvim commented on #5637
I see that you can add **_data-i18-placeholder_** and **_data-i18n-title_** tags.
Does it work for values too? **_data-18n-value_** is a valid property ?

[2019-10-31 00:15] dyvim commented on #5637
Thanks for all the informations. I'll try to do the dev and submit a pull request.

[2019-11-03 12:14] Lockbox313 opened #5644 "Delta Green sheet issue with translations"
The sheet is showing the red tags (?) instead of the actual translation.

[2019-11-03 14:33] Anduh commented on #5644
This also happened to me when I looked at the live sheet on Roll20.

When I looked at the sheet code("Delta Green 2"-folder), I noticed that:
-  [the translation file](https://github.com/Roll20/roll20-character-sheets/blob/master/Delta%20Green%202/translations.json) was named translation**s**.json, not translation.json as normal
- the exists not folder containing the actual translations for the sh

[2019-11-04 15:39] clevett commented on #5644
Oh no!!! Just a typo on my part. We can fix that.

[2019-11-04 18:22] #5635 closed

[2019-11-05 10:48] dyvim commented on #5635
Thanks @joesinghaus

[2019-11-05 18:19] Dr-Philgood opened #5652 "Bugs in the UESRPG DnD 5e sheet"
I have a question concerning the UESRPG character sheet for D&D 5e the sheet seems to have a few bugs in it.

- When entering attributes it does not calculate modifiers
- When you change your level it does not modify your proficiency modifier
- It does not calculate Saves, Skills, Spell Save DC or Spell Attack modifier
- I am also not sure if the if the expertise or jack of all trades feature work

[2019-11-05 18:24] Dr-Philgood commented on #5652
Issue #5153 also refers to the same problems that I am encountering

[2019-11-06 16:38] clevett commented on #5511
I'm going to close this ticket. The recent updates should help with this. Let me know if you still have trouble.

[2019-11-06 16:38] #5511 closed

[2019-11-09 21:35] Anduh commented on #5625
What's the reason for the name-change? Is the current names on the sheet leftovers from some alpha-stage of the game, or have the game gotten some update? I could consider fixing this, but would want to know the reason for this request.

[2019-11-09 21:51] Anduh commented on #5612
Interesting. I looked at the button code and found no reason why this would be happening. Replicated behaviour.

[2019-11-11 22:46] Anduh opened #5670 "[Forbidden Lands] Some language-specific translation files missing entires"
Some of the translation files(at least the [Swedish version](https://github.com/Roll20/roll20-character-sheets/tree/master/Forbidden_Lands/translations)) haven't been automatically updated as they should have, and this have resulted in, among things, the Swedish version display some words as missing. Haven't looked closer of other files are missing entries, but looking at the variation of update t

[2019-11-11 23:03] dyvim commented on #5633
Thanks a lot

[2019-11-11 23:03] #5633 closed

[2019-11-12 06:46] vince-roll20 commented on #5670
I can't see your image in the post above Andreas. ;-(
Just to add to this; I looked in the Forbidden Lands translation folder last night and if I recall, only some of the language files updated with last weeks pr.  Checking the folder after today's merge, it looks like they were all updated except for one file "[pt-br.json](https://github.com/Roll20/roll20-character-sheets/blob/master/Forbidden_La

[2019-11-12 08:44] Anduh commented on #5670
Vince, it was just the screenshot Calle posted in the thread, changed the link to point to his reply directly.

[2019-11-12 14:37] Leothedino opened #5671 "[Witcher] Recent translation has broken the sheet"
@Anduh would it be possible to please take a look at the Witcher sheet translation you recently provided, I am receiving messages and complaints that the armor/equipment tab is broken, as well as multiple miss-spellings of abilities and the NPC tab has plenty of broken code in the titles.

I know it sounds awful to say this, but I have to ask that whoever last worked on the sheet please ensure it

[2019-11-12 14:39] Leothedino commented on #5671
Note: I am not overly used to working with Github, if somebody else has provided files since your update. Please let me know, and I will try to contact them.

[2019-11-12 16:57] Ulty opened #5672 "Fallout: reserved character in directory name"
Last update, a new directory was created, named 'Fallout: Vaults & Deathclaws PNP'
This name is not compatible with Windows, as : is a reserved character. As a consequence, I cannot clone the git on my computer. The message is

fatal: cannot create directory at 'Fallout: Vaults & Deathclaws PNP': Invalid argument

[2019-11-12 17:14] Leothedino commented on #5671
@clevett would it be possible if we could revert the recent translation changes to the Witcher sheet? I've just been made aware that [R.tal's official charity event featuring the original voice actor of Geralt and Mathew Mercer](https://cdn.discordapp.com/attachments/481154197417623552/643849122893529088/BirthofHaresMercer.jpg) could be using this sheet on the 17th, and of course, now my concerns

[2019-11-12 17:59] erzrig opened #5673 "Shadowrun 5e Character sheet importer not working"
The Chummer json importer is not working for https://github.com/Roll20/roll20-character-sheets/tree/master/Shadowrun5thEdition by @clevett

I get the following errors in the console when pressing the import button.

`no attr name app.js?1573152007:552

ReferenceError: importChummer is not defined sheetsandboxworker.js?1573581259381:733
    at Array.eval (eval at messageHandler (sheetsandboxworker.

[2019-11-12 18:00] Anduh commented on #5671
If it's broken, it would be best to revert today @clevett , and I'll resubmit a better tested one sometime in the future.

[2019-11-12 18:06] Leothedino commented on #5671
@Anduh if we could do some testing/previews on the next attempt, that would be great. I'll personally take part in those if it helps out at all.

Regardless though, my priority concern now is this sheet being **restored and made ready for this charity event** as soon as we can. I've informed R.Talsorian and the WanderingDM of the situation, so if they choose to use a different online TRPG platform

[2019-11-12 18:09] Anduh commented on #5671
I absolutly agree on both counts, but it's out of my hands and for cassie to decide.

[2019-11-12 18:09] Leothedino commented on #5671
We'll wait and see.

[2019-11-12 18:21] Anduh commented on #5671
Cassie just reverted it on github, so that will surely go live later today, so the situation is solved. I'll be in touch in a few week's about improving the translation. It's helpful if you list the currently known issues with the sheet.

[2019-11-12 19:28] Leothedino commented on #5671
I will do, but as it currently appears, all of the issues have been reverted. If I can put aside some time, I should be able to clearly work out the kinks and twists next time. Keep in touch.

**ISSUE RESOLVED!**

[2019-11-13 05:13] vince-roll20 commented on #5670
Gotcha.  Thanks

[2019-11-13 05:54] vince-roll20 commented on #5672
"I cannot clone the git on my computer."
Same.  Please fix this.

[2019-11-13 10:26] dyvim opened #5677 "[Starfinder by Roll20] sheet is not available in Crowdin"
Hello,

The sheet "Starfinder by Roll20" is not available to translate in Crowdin.
I thought it was because the translation.json file was named with an underscore at the beginning but there are other sheets in the same case that are displayed in Crowdin (13th Age for example) so it does not come from this.
If someone can do something...

[2019-11-13 14:03] dyvim commented on #5636
Noticed

[2019-11-13 14:03] #5636 closed

[2019-11-13 15:31] Anduh commented on #5672
@clevett this seems like a thing you want to know.

[2019-11-13 17:43] clevett commented on #5672
I'll rename the folder on Tuesday.

Fyi, @Skyeris the new folder name is causing issues due to the special characters. I'll rename it on Tuesday. You wont need to do anything but ensure you update your branch.

[2019-11-13 17:44] clevett commented on #5673
Did you already email me on this? If not some one else reported it. I have it on my to do list to take a look at the importer and see hat may be going on.

[2019-11-13 17:45] #5671 closed

[2019-11-13 17:45] #5644 closed

[2019-11-13 17:45] #5426 closed

[2019-11-14 04:45] vince-roll20 commented on #5672
Thanks Cassie.

[2019-11-14 22:00] erzrig commented on #5673
I have sent no email, just posted this issue.

[2019-11-17 02:14] SomewhereSimulated commented on #5625
Nevermind.  I was going off an old sheet in the sample adventure.  It looks like it was not updated.  Sorry about this.

[2019-11-17 02:14] #5625 closed

[2019-11-19 16:48] ap3h3ad commented on #5672
Hi,
today I tried to checkout the repository, but I keep getting errors from eclipse:

![Error](https://user-images.githubusercontent.com/19926421/69167058-90736100-0af4-11ea-98d6-d4e653eb8310.png)

It seems that the CSS file can't be cloned. Has anyone else encountered this problem?

[2019-11-19 16:50] Ulty commented on #5672
This is just the same issue with the name of the path.

[2019-11-20 14:36] Cazra commented on #5467
This bug has been fixed in merge request #5682

[2019-11-20 14:36] #5467 closed

[2019-11-20 15:50] ap3h3ad commented on #5672
@clevett Could you also rename the files (CSS and HMLT)?

[2019-11-20 15:54] Ulty commented on #5672
On my side, this issue is fixed.

[2019-11-20 15:54] #5672 closed

[2019-11-21 08:28] Anduh commented on #5670
@clevett it seems you successfully updated all translation files for Forgotten Lands, except [pt-br.json](https://github.com/Roll20/roll20-character-sheets/blob/master/Forbidden_Lands/translations/pt-br.json). Looking at the available language options on Roll20, Portuguese(Brazilian) doesn't seem to be an existing option, so I see why it wasn't updated.

The swedish translation now have same amoun

[2019-11-21 08:28] #5670 closed

[2019-11-21 15:27] saethone commented on #5612
Hey,

This was already corrected in a previous update. I think you posted this while the update was pending the push to roll20, it should be working normally as of a few weeks ago.

![image](https://user-images.githubusercontent.com/13894683/69351518-1270a080-0c41-11ea-8806-71c246eded7d.png)

[2019-11-21 15:33] saethone commented on #5528
I'm not sure about that one. It is possible to make it an editable field, but it may cause other problems I'll have to think about. For example, if you change to a custom endurance, then change one of the attributes that affects endurance, it will recalculate it to what you would get now.

It might be a better idea to add a field somewhere for "custom modifiers" or something, but then I'd have to

[2019-11-21 15:42] saethone commented on #5612
Sorry I misread your problem, was thinking this was the NPC weapons table issue. This was a seperate problem - a missing field in a sheet worker. I'll submit a pull request this weekend with the update to correct it!

[2019-11-21 15:48] Anduh commented on #5612
That would make a lot of sense. When I tried this out 12 days ago the problem still existed as described. I only looked at the roll button,s and didn't find anything missing comparing to the other buttons, so for the problem existing in the sheet workers sounds likely.
Lesson learned, thanks!

[2019-11-21 15:55] saethone opened #5697 "[D&D 5e OGL by Roll20] Request: Spell Points Variant"
An option to toggle between the standard spellcasting and the Spell Points variant would be very helpful.

It would simply hide the spell slots for each level and give one total spell points field. If it was to be integrated into the charactermancer, that would not be very difficult either - there are no complex calculations - just a flat max spell points based on your class.

[2019-11-21 19:23] Anduh commented on #5697
At least Spell Points can be tracked with a [Class Resource](https://wiki.roll20.net/5th_Edition_OGL_by_Roll20#.2813.29_Class_.26_Other_Resources) entry, then just ignore the spellslots, or use lvl.1 spell slot max for that purpose.

The [SW5E sheet](https://github.com/Roll20/roll20-character-sheets/tree/master/StarWars5E) (which is based on the DnD 5E sheet) uses spellpoints, and could be used as

[2019-11-23 18:44] clevett commented on #5677
This should be fixed as of 19th.

[2019-11-24 20:36] saethone commented on #5612
Ok pull request submitted!

https://github.com/Roll20/roll20-character-sheets/pull/5700

It should be corrected the next time Roll20 updates their sheets.

[2019-11-26 16:34] clevett commented on #5677
I'm going to close this. It should be fixed now.

[2019-11-26 16:35] #5677 closed

[2019-11-26 16:48] dyvim commented on #5677
It is fixed indeed. You can close the issue.
Thanks again.

[2019-12-16 18:09] #5673 closed

[2019-12-16 18:09] #5403 closed

[2019-12-16 18:11] clevett commented on #5311
Going to close this. The inputs are there. Just check the box to turn them on. Then when you leave Edit mode there is a hidden input next to the stat.

[2019-12-16 18:11] #5311 closed

[2019-12-21 13:15] lovecervere opened #5756 "[Coriolis] Request: Add missing roll features"
Hello,
After playing with the sheet and relying on custom macros for a bit, I realised there are some features that might be useful:
- Modifier query for roll buttons rather than a modifier on the sheet itself
- A button to roll a xd6>6 test where x is armour_rating, counting number of successes without the "failure", "limited success" or "critical success" tags, perhaps "Damage removed" instead
-

[2019-12-22 11:33] Anduh opened #5758 "[AGE System: The Expanse] Missing Focuses"
From a recent [Forums post](https://app.roll20.net/forum/post/7998771/the-expanse-character-sheet):

I might take a few moments to look at this in the coming weeks, but thought that @zachhall or @GhostMatter might want to know about this.

[2019-12-23 16:31] geoidesic opened #5759 "Savage Worlds: what's the point of a sheet without a compendium?"
Hi,

Just trying to figure out how to play a Savage Worlds campaign. I don't understand how to run a game with just a character sheet but no compendium... how do you add encounters / monsters / NPC's etc.?

[2019-12-23 17:55] Anduh commented on #5759
I'd say you copy NPC stats from your books/the web, or create them by whatever rules Savage Worlds have for NPC/monster creation. If you're using the "Savage Worlds: Tabbed" sheet, it has a [wiki page](https://wiki.roll20.net/Savage_Worlds_Tabbed#Ally.2FMook_Sheet) that should be helpful.

If you need more help with using the character sheet after reading the wiki, I suggest you post on the [Chara

[2019-12-29 07:26] Skyeris opened #5762 "Fallout: Vaults & Deathclaw Name Change Concern"
I understand why the name was changed but how do I update it now? Do I have to rename it on my end? Redownload the fork? Or can I update normally?

[2019-12-29 18:38] Anduh commented on #5762
You should make a pull request from the roll20 fork to your fork, and merge it so that the name-changes made to the sheet gets applied automatically to your fork. To be on the safe side, do copy the sheet changes you made to the Fallout sheet and save separately from your fork in case the updating encounters troubles.
It's recommended that you'd use [a branch workflow](https://wiki.roll20.net/Begi

[2019-12-31 04:18] Skyeris commented on #5762
@Anduh Thank you. Now, if I need to update the sheet, I do the usual and make a Pull Request then. Correct?

[2019-12-31 10:20] Anduh commented on #5762
Yes.

[2020-01-02 21:00] clevett commented on #5759
I'm going to close this GitHub issue as it is not related to any of the programming on this page. Character sheets are at the minimum expected to be used like paper character sheets for tracking data. Some systems have data for additional features.

- Cassie

[2020-01-02 21:00] #5759 closed

[2020-01-02 21:01] clevett commented on #5762
It's best to always keep a fork up to date. There are directions for this in the wiki, https://github.com/Roll20/roll20-character-sheets/wiki

I recommend making branches off an update master for your work and submitting pull request directly from the the branch to this repository.

- Cassie

[2020-01-02 21:01] #5762 closed

[2020-01-05 15:40] Kazzirah commented on #5758
I reenabled the missing abilites in the character tab and the focuses tab.
Also, I made some minor changes for the expanse.

Some items are still missing, like "Toughness" or "Income", but these seem to be major changes to the sheet and I'm not sure when to find the time to add these.

[2020-01-05 19:26] Anduh commented on #5758
Cool. I assume you tested your changes in Roll20 and saw that they worked?

[2020-01-05 21:02] Kazzirah commented on #5758
Yes, sure.
Made a couple of development tests. (And some functional tests as well.)

Naturally, this does not prevent any new bugs. 😄

[2020-01-20 10:48] Anduh commented on #5570
@dyvim Just a FYI, the translations where temporally removed from the sheet as I had broken some parts of the sheet, but they were fixed and added again some week ago.

[2020-01-20 11:00] Anduh commented on #5632
@dyvim How did this turn out? As mentioned above, if you do the work of inserting those i18n-tags in the html, I can take that result and create the `translations.json`-file, as well as fix any minor issues.

I can probably lend a hand with doing more translation stuff again in Summer 2020 otherwise.

[2020-01-20 11:23] Lockbox313 commented on #5300
I wrote something which added the tags and didn't mangle anything but I had to make changes tothe sheet before the OP returned to look at.  I have not had time to redo it.

[2020-01-20 11:43] Anduh commented on #4080
@BlckKnght There have been a couple of updates to the sheet since the last comment here, and some of the things at least seems to have been fixed.

* **#5442 Corrected weight values, max dice pool and variable mods to rolls**
* **#5410 Enable one decimal place for equipment weight**
* **#5336 Added Condition Tracking for NEW version of sheet**
* **#5312 Luck Pool, Attack fields and Dmg Mod auto-ca

[2020-01-20 11:45] Anduh commented on #5634
Might look into this sometime in February/March

[2020-01-20 11:46] Anduh commented on #4908
@KriosMerew @clevett reminder this issue is solved and can be closed.

[2020-01-20 11:49] Anduh commented on #5637
@dyvim how did this turn out? I'll probably have time during Summer 2020 to help out with these translations things again.

[2020-01-20 11:51] Anduh commented on #5612
@dyent Did the update fix this issue?

[2020-01-20 12:02] Anduh commented on #4501
This was fixed by CPP with PR #5322 back in 2019.
@mrianmerry this issue can be closed.

[2020-01-20 12:05] Anduh commented on #4583
@Nitroxylin was this issue solved with #4679 ? If so, this issue could be closed.

[2020-01-20 12:08] Anduh commented on #5108
@jfsantos, did #5598 fix this issue? If so, this issue can be closed.

[2020-01-20 13:03] Lockbox313 commented on #5300
I ran the latest version through the vba app and tidied it up but as this is auto generated it really needs a thorough testing which I do not have time for. Not sure who is going to do the testing as the OP has stated his English is not good enough for testing.  Here is the test game https://app.roll20.net/join/5708059/jCIr0Q

[2020-01-20 14:37] #4501 closed

[2020-01-21 10:41] dyvim commented on #5570
@Anduh Hello. Yes I've noticed that. I'll have to redo the translations as they have been completely lost. It 'll take me some days...

[2020-01-21 10:43] dyvim commented on #5632
@Anduh  I'm still on it... I miss time :(

[2020-01-21 10:44] dyvim commented on #5634
@Anduh cool

[2020-01-21 10:48] dyvim commented on #5637
@Anduh I'm still on it but I miss time...

[2020-01-21 11:07] Lockbox313 commented on #5300
The sheet is functioning from  json the actual language  doesn't  matter.

[2020-01-21 11:18] Anduh commented on #5300
Although if you try the sheet without the json, you should see red for all the text, and notice if some section is missing a tag, but that's a much smaller problem. If no red text is seen in the test game with he json, it means any bugs/mistakes on the translations is minimal.

[2020-01-21 12:38] Lockbox313 commented on #5300
The issue is this was auto generated as opposed to working through thousands of lines of code. That means it needs  a lot of testing .  Somebody has to do that work.  It is very easy to say I want this character sheet done or I want tags in this sheet and then sit back and wait for someone to do that work

[2020-01-21 13:10] Anduh commented on #5300
Yes, and the massive amount of manual work was also why I turned down to work on this particular sheet's translation tags, beyond offering what my half-assed script generated.
I've helped translate about 8 or so sheets over the last year or so, but it have been those smaller ones that my script worked well with, making reliable heavy lifting with the manual work.

It's possible I'll rewrite the sc

[2020-01-21 13:22] Lockbox313 commented on #5300
The majority of it is done as can be seen in the test game accept for roll
templates

On Tue, 21 Jan 2020 at 13:10, Andreas J. <notifications@github.com> wrote:

[2020-01-21 13:57] Anduh commented on #5300
Have you run the code through some HTML validator? Was the main reason I was asking for the code...

[2020-01-21 14:07] Lockbox313 commented on #5300
If there an been an issue with the display I would have done that but
everything displays correctly.  What HTML validators cannot pickup is
button types being changed from roll to submit this sort thing requires
someone to go press buttons and fill inboxes.

On Tue, 21 Jan 2020 at 13:57, Andreas J. <notifications@github.com> wrote:

[2020-01-22 05:26] mistatipsta opened #5809 "[Old School Essentials] Request: Option for Attack Bonus against Accending AC"
A tick box or toggle that changes the sheet to use a character's attack bonus instead of a THAC0 chart.

[2020-01-22 14:17] dyvim commented on #5300
I've done some tests on your test game.
Everything seems OK
The rolls works correctly
No display trouble, no text in red except what is sepcified to be in red.
I think there is no data-i18n tag that miss a line in the translation.json.

Thanks for all the work

[2020-01-22 18:52] WallaceMcGregor opened #5811 "[Call of Cthulhu 7th Edition by Roll20] Improve translations."
It will be great to improve the translations of the sheet. There is some things that stays in English like skill and type in the Dice Roller or default skills in the skills group. Also will be good to allow the translation of all chat roll templates.

Regards
![Traduccion CoC](https://user-images.githubusercontent.com/17795541/72924113-a26dbc00-3d50-11ea-9d43-3dc9c1f83262.png)

[2020-01-22 19:06] #4908 closed

[2020-01-24 19:45] jfsantos commented on #5108
Yes, closing. Thanks!

[2020-01-24 19:45] #5108 closed

[2020-01-28 18:51] clevett commented on #5811
Greetings,

I've added a ticket to improve these areas. It should be completed next month. We're working to get the NPC sheet finished then we'll fix these areas. :)

Thanks,
Cassie

[2020-02-02 15:25] dyvim commented on #5300
@Lockbox313 Do you think my tests are sufficient? Will you submit the modifications?

[2020-02-02 18:28] Lockbox313 commented on #5300
A large number of roll tables still need to be done.  Pressing the same
couple of buttons for 20 minutes would not have caught that.

On Sun, 2 Feb 2020 at 15:25, Thomas Coquery <notifications@github.com>
wrote:

[2020-02-03 19:40] SebastianGrohnert opened #5836 "[WFRP4CharSheet] missing background on character sheet"
- [X]  Does the pull request title have the sheet name(s)? Include each sheet name.
- [X]  Is this a bug fix?
- [ ]  Does this add functional enhancements (new features or extending existing features) ?
- [X]  Does this add or change functional aesthetics (such as layout or color scheme) ?
- [ ]  If changing or removing attributes, what steps have you taken, if any, to preserve player data ?
- [ ]

[2020-02-04 16:33] clevett commented on #5836
should be fixed

[2020-02-04 16:33] #5836 closed

[2020-02-08 04:42] mtxdew opened #5844 "Rogue Trader 40k Psychic Powers Push Math."
The Psychic Power Push math asks for a Modifier, then multiplies it with your current psychic rating instead of adding to it and multiplying the result by 5.

Example: Psy Rating of 3, Pushing for 2, with a Willpower of 50 should result in ((3+2)*5)+50 for a total skill of 75 for the roll.

Currently it is doing (3*2*5)+50 for a total of 80.

[2020-02-17 04:39] Jeanfeels opened #5872 "[Pokemon Tabletop United] Roll template missing attribute fields used by Edges, outputs incorrectly"
The "DIS" section of the master roll template for PTU is missing the prereq and cost fields, and seems to also be an incomplete copy from the Feature roll template output.

Current master roll template (relevant section only, from line 1034):
[code]

Default edge roll output (line 2447):
`&{template:PTU} {{dis=Edge}} {{desc=@{EdgeInfo}}} {{nick=@{nickname}}} {{name=@{EdgeName}}} {{prereq=@{Feature

[2020-02-20 04:21] dyent commented on #5612
Yes, does all seem to be working correctly now.

[2020-02-20 04:21] #5612 closed

[2020-02-21 02:14] Brendan-McCoy opened #5885 "Pathfinder Second Edition Upstream Changes"
I don't know what automation/build features can't be hooked into this repo that necessitated a move, but can we at least get the upstream changes in this community repo?

[2020-02-27 01:47] vince-roll20 opened #5899 "Forbidden Lands translations failed to update with 2/24/20 merge"
Hi Cassie,
it looks like the Forbidden Lands en.json in the translations folder didn't get updated with the translation.json changes...  Any way to get that fixed before next week?  Thanks
https://app.roll20.net/forum/permalink/8159488/

[2020-02-27 06:16] Zenith-One opened #5900 "[5th Edition OGL by Roll20] CSS seems to be missing for some roll templates"
It seems like some roll template CSS got lost in a recent update (see [this image](https://i.imgur.com/5vYsPvY.png))

[2020-02-27 06:18] Zenith-One commented on #5900
I would try and fix it and submit a PR, but the code isn't in the repo. I would assume this has something to do with WotC licensing and what not.

[2020-02-28 02:13] clevett commented on #5900
This should be fixed. I had it fixed midnight last night but we had to wait until it could be pulled it. :) Thanks for the report and offer of help.

- Cassie

[2020-02-28 07:08] Zenith-One commented on #5900
Awesome, thanks :)

[2020-02-28 07:08] #5900 closed

[2020-02-29 07:37] geoidesic opened #5903 "[D&D 5e OGL by Roll20] Charactermancer Feats are always greyed out / disabled"
Try creating a Goliath Barbarian 8, Rogue 1. On the `Ability score improvement / feats` button there is only the option to improve scores, the `Feats` tab is greyed out.
![Screenshot 2020-02-29 at 07 37 16](https://user-images.githubusercontent.com/4637995/75603458-6273c480-5ac6-11ea-962f-1b8d297acb10.png)

I thought this might be a multi class issue, but the same thing happens if I take a straigh

[2020-03-01 16:14] Laoch97 opened #5905 "Shadowrun 5th Edition Skill rating not working"
When imputing the skill ratings for the Roll20 Shadowrun 5e character sheet, it's not recognizing the number inputted for either the 'undefined_rating}' value or for 'undefined_rating_modifier}'. I've attached a screenshot of the issue.
![Issue 1](https://user-images.githubusercontent.com/61660011/75629184-bc9b8500-5bad-11ea-95e7-22c64d533be6.PNG)
![Issue 2](https://user-images.githubusercontent.c

[2020-03-01 21:42] clevett commented on #5905
Thanks for the report. I'll take a look at it.

[2020-03-02 03:41] clevett commented on #5899
My apologies as I'm only seeing this now. I was in/out of the office sick last week. Translations are difficult to hot fix since they require a full server restart which is a whole process. When I run translations tomorrow I'll be sure to load up the Forbidden Lands sheet to look for any missing translations.

- Cassie

[2020-03-02 06:14] vince-roll20 commented on #5899
thanks Cassie

[2020-03-03 00:34] vince-roll20 commented on #5899
Can you double check this Cassie.  It looks like the translation folder json's still didn't get updated with today's merge. ;-(

[2020-03-03 16:23] clevett commented on #5899
I just merged everything in. They looked okay on my local environment. Everything should be live in about an hour provided all goes well.

[2020-03-03 16:30] vince-roll20 commented on #5899
Maybe the translation json's update when they go live?  The en.json was the only one I checked, and it was missing some keys from the translation.json.  I assume the other languages would also be missing the new keys...

[2020-03-03 16:31] clevett commented on #5885
I updated the current files in this repo, https://github.com/Roll20/roll20-character-sheets/tree/master/Pathfinder%20Second%20Edition%20by%20Roll20

I had to add _ to all translations so that Crowdin wont upload them but other wise the sheet is currently up to date. This wont be a habit as I have to currently manually move the files though we are brainstorming ideas to automate this tasks.

- Cass

[2020-03-03 16:31] #5885 closed

[2020-03-03 16:35] clevett commented on #5811
These should be fixed as of last week. Let me know if you find any more.

[2020-03-03 16:36] vince-roll20 commented on #5899
Just re-checked and it looks like they have been updated 30 minutes ago.  Cool beans.  Thanks Cassie

[2020-03-03 16:38] vince-roll20 commented on #5899
Resolved.  Feel free to close.  Thanks

[2020-03-03 22:30] krakjen opened #5915 "[Shadowrun5thEdition] Skills not translated after adding them to the character sheet"
When using a translated version of the character sheet, the Active Skills are only translated in the selection combo box.
Once selected and confirmed, they revert back to English.

I tested this with the French and Spanish character sheet and I don't think the issue is coming from the translation json.
Also, the issue was already there before the last fix to repeating skills, so it should not be r

[2020-03-03 23:33] #5899 closed

[2020-03-04 14:03] clevett commented on #5905
This should now be resolved. Let me know if its still an issue and we'll reopen the ticket.

[2020-03-04 14:03] #5905 closed

[2020-03-04 16:44] Laoch97 commented on #5905
It looks to work perfectly, thank you so much!

On Wed, Mar 4, 2020, 9:03 AM Cassie Levett <notifications@github.com> wrote:

[2020-03-04 19:03] Hotbloodhypno opened #5917 "[Dungeon World by Roll20] the class Barbarian and Immolator"
Any reason why the Character Class Barbarian and Immolator  are not in the compedium?

[2020-03-08 19:45] YuuHkiSay opened #5925 "[Nechronica] Fragments of Memory Issue"
As the Fragments of Memory part is set up now, inputting anything into FoM 1's No. field inserts the same thing into FoM 5's Title field and vise versa.
If I understand how the coding works, I would suggest changing "attr_fragment1" to "attr_fragment1title", "attr_fragment5" just below it to "attr_fragment1no", and "attr_fragment11" to "attr_fragment1content", then just continue that trend through

[2020-03-09 20:09] clevett commented on #5905
Your'e welcome. Thanks for reporting this. I don't play the game any more and sometimes bugs slip through my checks.

[2020-03-09 20:13] clevett commented on #2458
Thanks for the update.

[2020-03-09 20:13] #2458 closed

[2020-03-09 20:14] Laoch97 commented on #5905
I've noticed another issue pertaining to the weapon entry rolls, would you
like me to resubmit on Github?

On Mon, Mar 9, 2020 at 4:09 PM Cassie Levett <notifications@github.com>
wrote:

[2020-03-13 04:43] clevett commented on #5915
Fixed now?

[2020-03-13 08:24] krakjen commented on #5915
Doesn't look like it.
I just tested and they still appears in English.

[2020-03-13 16:41] clevett commented on #5915
I think I may know what's going on. I'll take a look this weekend.

[2020-03-15 12:17] dawid00s opened #5941 "[Warhammer 4e] Broken Ranged Weapon rolls"
Ranged weapons' modifier replaces the target number instead of adding/substracting from it.

![image](https://user-images.githubusercontent.com/62206112/76701204-4fb0e080-66bf-11ea-8310-c1a65c0c881c.png)

![image](https://user-images.githubusercontent.com/62206112/76701209-593a4880-66bf-11ea-8d7e-124a5631a4b2.png)

[2020-03-16 01:32] Logicon211 opened #5950 "[Band of Blades] Roll templates are not playing gif animation"
I'm not sure if it was an update to Roll20 that possibly broke this functionality but it appears as though the roll template gifs aren't playing.

As a result some of the templates actually obscure the text on screen as they're locked on a frame that's the same color as the text itself

Some rolls appear fine without the animation like this:
![image](https://user-images.githubusercontent.com/65798

[2020-03-16 07:41] clevett commented on #5915
Pull Request #5951 should fix this. However some translation keys may need adjusting. Let me know if any skills are not translating.

[2020-03-16 16:00] krakjen commented on #5915
It doesn't seem to be fixed unfortunately.
I was waiting for #5951 to be merged, but I just checked the character sheet and the skills are still untranslated.
Unless there is a delay between the commit and the sheet being updated in roll20 proper?

[2020-03-16 21:22] JRandall0308 opened #5956 "[Apocalypse World 2nd Edition] possible to display dice results in move results?"
https://github.com/Roll20/roll20-character-sheets/tree/master/AW2E

Would it be possible to display the dice results in the move results? So instead of simply seeing something like "Weird 9, Partial Success" you'd see "Weird [3]+[4]+2 = 9, Partial Success".

I know that functionally these are identical, but the old school gamer in me likes to see the individual dice results. Even if they are irrel

[2020-03-16 21:39] Anduh commented on #5956
What is the full name of "AW2E"?

[2020-03-17 00:38] JRandall0308 commented on #5956
https://github.com/Roll20/roll20-character-sheets/tree/master/AW2E
Apocalypse World 2nd Edition
(Sorry, not sure how this got dumped in the general area instead of that specific sheet.)

[2020-03-17 10:48] Anduh commented on #5956
I'd edit the title to include the full name of the game for clarity & visibilty

[2020-03-17 21:05] clevett commented on #5915
There is. Everything is merged Mondays and pulled on Tuesday. It should be updated now though.

[2020-03-17 21:22] krakjen commented on #5915
Alright, thanks for your hard work it's mostly fixed.

Two small issues though:
- For some reason Firearms and Close Combat Groups are no longer translated anywhere.
- Also the skills length are very short, making them hard to read (seems to be fixed now instead of dynamic).

![roll20_skills](https://user-images.githubusercontent.com/54226388/76902963-54cb8680-689d-11ea-8bbd-bc5017717e2c.png)

[2020-03-17 21:25] krakjen commented on #5915
Nevermind the first issue, I just checked the translation files and for some reason there was some regression. I'll correct it and add a pull request.
I don't know if the length issue is related.

[2020-03-18 03:43] clevett commented on #5915
I did that to the buttons. I'll adjust to show more text.

[2020-03-18 22:37] krakjen commented on #5915
They used to be dynamics but giving them the same length as the "Default a skill" one would be an elegant fix (and imho more useable).

[2020-03-20 09:36] idubeda opened #5970 "[RunequestGQS]The Magic modifier is calculated wrong"
There is a bug in this line: curPow should be curChr.

https://github.com/Roll20/roll20-character-sheets/blob/b105f8715e63d9f11eb7df79fc8cbf3a1bfc9e04/RunequestGQS/RunequestGQS.html#L4849

[2020-03-20 09:47] idubeda commented on #5970
I have submitted a Pull Request to solve this issue. #5971

[2020-03-20 16:18] reactormonk opened #5974 "Shadowrun 5th Edition import not working"
The "Import Character" button doesn't do anything, and in the console I get the following error:

[2020-03-20 16:30] Anduh commented on #5974
You need to have a compendium enabled in the campaign for it to work.

Any compendium will do, it's a quirk related to how the Importer is built.

[2020-03-20 16:45] reactormonk opened #5975 "Shadowrun 5th Edition (Advanced) fails to import"
This file (just exported via chummer) gives me "Error: invalid Structure* [Little_Lee.json](https://github.com/Roll20/roll20-character-sheets/files/4360823/Little_Lee.txt)

[2020-03-20 16:49] reactormonk commented on #5975
Stupid Windows and its BOM :-(

[2020-03-20 16:49] #5975 closed

[2020-03-20 16:49] reactormonk commented on #5974
Aye, that fixed it.

[2020-03-20 16:49] #5974 closed

[2020-03-20 17:53] clanpotshake opened #5976 "[Pendragon 5e] Values greater than 20 are not reported properly"
Currently rolling a test using the Pendragon sheet reports to the chat window the result of a d20 roll and the value of skill/trait/attribute/passion being rolled. This is correct for values of 20 or less.

In Pendragon, if a Skill, Attribute, Trait or Passion is greater than 20, the threshold for success is set at 20 and the excess applies as a modifier to the d20 roll. So for example, with a Swo

[2020-03-20 23:15] BlckKnght commented on #5956
Can't you see the values for the individual dice if you mouse over the 9 to see the tooltip? I'm currently trying to go the other direction on the sheet for The Sprawl, which shows individual dice without adding them up. That's *really* annoying, as at least twice a session somebody does the math wrong in their head and thinks something different occurred than everybody else.

[2020-03-22 19:44] vinnmun opened #5985 "Star Wars FFG Roll20 - Dice not rolling"
I selected the api compatible character sheet for my game room through game settings. I launch the game and I add a character sheet and it shows me the sheet but the buttons on the sheet seem to not activate? Am I missing something?

[2020-03-22 23:30] RelativeDimension opened #5986 "[Deadlands: Classic Anniversary]"
Two of the skills are linked on the character sheet.  Disguise and Mad Science.  When you enter a value for either one, the other automatically fills in with the same value, so as it is, you cannot have differing values for these two skills.

[2020-03-24 00:37] Mowtcho opened #6007 "Problème avec Cri de guerre du barbare"
Bonsoir, j'ai installé hier le script et un de mes joueurs à choisi le cri de guerre de la voie du barbare, qui es tcensé faire -2 au jets d'attaque au créature ayant moins de For et de PV max que le barbare ( gobelin 12 de For 10 pv max, Barbare 15 PV max 16 FOR) lorsque je le lance le cri de guerre apparait dans le tchat lais lorsque je lance les attaques avec les ennemies je ne vois pas apparaî

[2020-03-24 18:09] Anduh commented on #5985
Pretty sure you need to create roll tables or use some API with the sheet. Ask help on the Roll20 forums in the "Character Sheet" subforum.

[2020-03-24 18:10] Anduh commented on #6007
Ask help on the Roll20 forums: https://app.roll20.net/forum/

[2020-03-24 21:35] krakjen commented on #5915
@clevett Have you had the time to look into fixing the skills box length?
Or should I open a different bug report for it?

[2020-03-26 18:51] clevett commented on #5976
It is a limitation in the roll template. It cannot read the result and do math in this way unfortunately. Particularly given that is has to do math in the other direction as well related to modifiers and fumbles/fails.

To handle this API would need to be used but that isn't available to free users.

Soooo ultimately I left the rolls as they are and trust users to do the math.

- Cassie
_Sir Ellio

[2020-03-26 18:53] clevett commented on #5915
Yep! I increased them a bit in the next pull request #6014 . Ultimately I'd like to provide a more dynamic option that gives them all the space if specializations are not added but for now its a compromise.

[2020-03-28 15:45] jayy00 opened #6041 "[Alien TTRPG] Secret/GM rolls"
I'm using the github character sheets to make running my game easier, but I also use the sheet for NPCs and Enemies, so i don't have a quick way to roll for them without letting my players see, i want to hide my rolls with an optional GM roll button, If it could just have a switch like on the D&D roll 20 sheet, it'd be a huge help. I'm sorry if this isn't the right way to request this feature, I'm

[2020-03-28 18:10] Anduh commented on #6041
study the code for existing sheets with "gm roll" options and adapt to your sheet. If you get stuck, ask help on the [Character Sheet Forums.](https://app.roll20.net/forum/category/277980)

[2020-03-29 16:37] tontione commented on #5976
I am currently working on pendragon french character sheet and fixed this with a roll template.
Not merged yet.
Feel free to contact me and re-use my work. :)

[2020-03-30 19:00] clevett commented on #5976
I'll happily use it.

This character sheet has translation support on it. You can use Crowdin to translate it to French.

[2020-03-31 03:18] G-G-G opened #6061 "Torg 4.01 update rejected - no issue"
My most recent pull was apparently rejected, and I dont see why, and didnt recieve any notice.

I don't want to submit another pull only for it to be rejected again with no idea why.
What happened, and how can i fix it?

It's this one: https://github.com/Roll20/roll20-character-sheets/pull/6052

[2020-03-31 06:45] tontione commented on #5976
Not sur to understand which sheet @clanpotshake is talking about : pendragon 5.2 or pendragon (which is in fact 5.1) ?
On 5.2 sheet, ther are no modifers on rolls, and on the other one it seems to work (but not in french one, waiting for my fix), but without final result (success/failure/critical/fumble) displayed.

Anyway you can take a look on my work (WIP) on this game :
https://app.roll20.net/

[2020-03-31 13:02] clanpotshake commented on #5976
The character sheet I filed this issue for is "King Arthur Pendragon v5.2"
The French character sheet there has the right idea, but fails with very large modifiers.

[2020-03-31 13:33] tontione commented on #5976
can you give me an exemple of fail with large modifiers ?

[2020-03-31 15:14] clanpotshake commented on #5976
![image](https://user-images.githubusercontent.com/5251258/78042701-63f01100-7340-11ea-8711-169b7470028d.png)
It looks like you've already tested things a bit, but this is an example of your sheet doing incorrect math with a large modifier. The hover text is a little hard to parse, so in general, any modifier of +20 or more essentially guarantees a critical success, while a modifier of -20 or less

[2020-03-31 17:03] krakjen commented on #5915
Closing this thread since the issue is fixed :)

[2020-03-31 17:03] #5915 closed

[2020-03-31 20:46] tontione commented on #5976
Ok, got it.
In fact i even didn't test this case, because in this situation no need to roll, result is garanteed ! ;)
Anyway i will try to fix it. :)

[2020-03-31 22:07] Laoch97 opened #6067 "Skill Titles on Roll20 Character Sheet not showing"
![Skill Titles Gone](https://user-images.githubusercontent.com/61660011/78079554-5b1c3100-737a-11ea-8b00-466f9162d0d8.PNG)

The Skill Titles are gone, they show when the entry is expanded, but not when collapsed.

[2020-03-31 22:16] Laoch97 opened #6068 "Weapon Entries Broken"
In the Arms section, even with the proper skill selected for a weapon, it still only rolls the attribute without the skill rating. We've been manually adding the skill rating into the modifier section, which seems to work fine.

[2020-04-01 02:19] vince-roll20 commented on #6067
Which sheet?

[2020-04-01 02:19] vince-roll20 commented on #6068
Which sheet?

[2020-04-01 06:51] Anduh commented on #6061
We concluded yesterday that this was caused by the submitter's use of the Pull-bot, and working with the main branch, therefor not caused by Roll20. Issue is solved in my opinion.

[2020-04-01 09:52] Laoch97 commented on #6068
This is in reference to the Shadowrun 5e Roll20 Character Sheet

[2020-04-01 09:52] Laoch97 commented on #6067
This is in reference to the Shadowrun 5e Roll20 Character Sheet

[2020-04-02 07:54] Anduh commented on #6068
@clevett this seems to be related you your sheet.

[2020-04-02 07:55] Anduh commented on #6067
@clevett sounds like your sheet

[2020-04-02 14:28] clevett commented on #6067
I wrote a function that should have fixed that on Tuesday, #6014 . If its still broke for you just change the skill and change it back. I added a display attribute to support languages other than English.

[2020-04-02 14:29] clevett commented on #6068
Also should have been fixed in #6014 . Let me know if its not working today.

[2020-04-02 14:39] Laoch97 commented on #6067
This does look correct now, thank you!

[2020-04-02 19:46] clevett commented on #6067
Thanks for reporting the issue. :)

[2020-04-02 19:46] #6067 closed

[2020-04-02 22:27] Laoch97 commented on #6068
It doesn't look like it works in my game right now. It still doesn't pull the skill rating.

[2020-04-03 10:01] #6061 closed

[2020-04-03 15:53] Gregb342 opened #6090 "[A song to Fire & Ice] Add "data-i18n" tags to the sheet"
@Fraetor & @ajott

I'd like to do a French translation of the "A song of ice & fire" character sheet.

Actually, the html file doesn't include any "date-i18n" tags, so I can create a "translation.json" file nor than a "fr.json" file.

https://github.com/Roll20/roll20-character-sheets/blob/master/A%20Song%20of%20Ice%20and%20Fire/SIFRPNew.html

Would it be possible for you to edit the original html

[2020-04-03 16:10] Fraetor commented on #6090
Hi,
A translation would be great, however I am not actually very experienced in HTML, and have previously only tweaked the dice logic on this sheet, which doesn't require anything fancy. As such I am unsure quite how I would go about readying the sheet for translation.

[2020-04-03 16:37] Gregb342 commented on #6090
Thank you for the anwser @Fraetor

So is @ajott the main author of the sheet ?

[2020-04-03 17:20] Fraetor commented on #6090
According to the commit history, the sheet was originally written by @raulhess with major changes subsequently by @CoalPoweredPuppet.

[2020-04-03 21:37] clevett commented on #6068
Can you try changing the skill and changing it back?

[2020-04-04 00:34] Laoch97 commented on #6068
It does look like it works now, thanks! Quick question, it looks like exploding sixes is on, is there a toggle for this to turn off?

[2020-04-04 00:40] Laoch97 commented on #6068
Wait I figured it out, its just the edge toggle correct?

[2020-04-05 17:25] ArturoFigueroaR opened #6104 "[El Resurgir del Dragón] Proficiency Bonus (with Perception Proficiency) is not added to Pasive Perception"
When the Perception Skill is marked as "Proficient", The Passive Perception only applies Wisdom Bonus and not Proficiency Bonus

[2020-04-06 20:55] clevett commented on #6068
Yep. There is a bug that is toggle on exploding 6s when you enter an edge attribute. I've fixed the bug in #6085 . For now just use the edge toggle at the top of the page to toggle edge off and on then it will remove the ! as indicated by the toggle.

[2020-04-06 20:57] #5811 closed

[2020-04-07 10:33] HauRukh opened #6125 "[Das Schwarze Auge 5] - Spell comments not saved"
-The character sheet allows to fill in a comment field for spells, but the text is not saved after closing the sheet.
- Only pre-implemented spells are affected. Spells added manually via the "Add" function keep their comments.
- This is reproducible for several people.

[2020-04-07 14:01] feixonda opened #6126 "Star Wars FFG spanish translation"
On the character sheet there is a mistake with streetwise and skulduggery. On both habilities the translation than appears is Activitat Criminal.
The correction is “Callejeo” for streetwise and “Actividad Criminal” for skullduggery.

Thanks for your work !

[2020-04-08 10:03] dyvim commented on #6125
@mckee14 have you seen this issue?

[2020-04-09 05:51] vince-roll20 opened #6134 "Forbidden Lands: translation.json and en.json(as well as other language files) do not match"
For some reason, the en.json file does not match the translation.json file...?  Here's the translation.json submitted with yesterday's pulls
https://github.com/vince-roll20/roll20-character-sheets/blob/304013d4532ad0f1bcc78210019725ce31780600/Forbidden_Lands/translation.json
but here's the current en.json
https://github.com/Roll20/roll20-character-sheets/blob/master/Forbidden_Lands/translations/en

[2020-04-09 14:03] krakjen opened #6136 "[Shadowrun5thEdition] Fake ID name is not selectable with the mouse"
When you edit/create a Fake ID, the box for the fake name can't be clicked in to input text.

Workaround:
You can click in the following text box (lifestyles), then shift-tab into the name box.

![image](https://user-images.githubusercontent.com/54226388/78903424-64dd1d00-7a7b-11ea-8c07-f56669388bb4.png)

[2020-04-09 14:06] krakjen commented on #6136
@clevett Also, I didn't want to make a separate bug issue about this, since it's pretty minor ( I didn't find any related issue in the actual sheet), but there is still one occurrence of "eletronicwarfare" in Shadowrun5thEdition.html, line 2953.

[2020-04-09 15:22] SmutsMuts opened #6138 "[Dark Heresy Advanced 2nd Edition] skill rolls not working"
If you try to click the skills or hit buttons in the character sheet nothing happens.
I have tried a bit to make sure all attributes exists but even with the existing nothing happens.

this is the command used for the skill rolls: !skill40k @{character_name},@{Agility},20,0,0,0,?{Total Modifiers|0}

[2020-04-09 15:32] SmutsMuts commented on #6138
Tried a lot with this but I cannot get the "!skill40k" to work, I tried to edit the value for the button to send fixed values but nothing happens in the chat. Feels like the script is not loaded properly for the character sheet?

[2020-04-09 15:34] SmutsMuts commented on #6138
@messiahcide you seems to be the one that made this from the start? Could you take a glance on this? Would like to get this to work so we can use this during the corona times now and probably ongoing after that as well :)

[2020-04-09 20:43] #6068 closed

[2020-04-09 22:19] krakjen commented on #6136
Alright, sorry to bother you again, but I don't know if this is a bug or intended behaviour/system limitation.
The Damage Monitor of a character with High Pain Tolerance is unchanged. The effect is correctly applied on the dicerolls but the Wound Modifier is not shifted on the Monitor.
Is this normal?

Here is an example of what one could expect for a character with HPT rating 2:
![image](https://

[2020-04-09 22:42] clevett commented on #6136
There is no functionality to move the numbers. It just applies the effects. I'll think about that one.

[2020-04-09 22:51] krakjen commented on #6136
Alright, so not a bug then :)
Cheers

[2020-04-09 23:14] keithmedlin opened #6142 "[Star Wars] NPC Add More Custom Skill Slots"
The NPC Character Sheet currently only has 5 slots for Skills. Many of the NPCs in the published adventures have more than this even when taking into account the built-in:
- Cool
- Vigilence
- Lightsaber
- Brawl
- Gunnery
- Melee
- Ranged Light
- Ranged Heavy

_For example:_

Onslaught at Arda I:

- Setenna Hase
- General Ran Niall
- Commander Danel Qurno

I think a reasonable number for the NPC w

[2020-04-09 23:18] keithmedlin commented on #5985
From your game's homepage (where you launch it)
1. Click Settings
2. Click API Scripts
3. In the search type: Star Wars
4. Select Star Wars: Fantasy Flight Games - Dice Roller

Once it's added, you can launch your game and the die roller should work as expected.

[2020-04-10 01:18] Djjus commented on #5941
Can to test again? The appropriate skill has to have taken ticked in the skills tab. This is because advanced skill are not automatically learned like basic skills, so when you learn them the first like taken needs to be ticked.

[2020-04-10 01:29] clevett commented on #6136
Thanks for the screenshots. That was helpful for finding the issues. I have fixed e-ward & social bug.

The negative numbers is not a bug but I'll put it on my todo list. I'll need to refactor that section to do it and so it will be a bit of a project. Something for the future.

[2020-04-10 08:20] krakjen commented on #6136
Glad I could help. You are doing tremendous work with this project.

[2020-04-10 09:29] dyvim commented on #6090
Perhaps @Anduh and his script can help...

[2020-04-10 10:16] dyvim commented on #6007
@Mowtcho quelle fiche est concernée par ton bug? Chroniques Oubliées Fantasy?

[2020-04-10 11:01] Mowtcho commented on #6007
C'est bon mon problème est résolu, j'avais du mal écrire un truc je pense, cela faisais l'effet seulement sur mes alliés mais maintenant ça fonctionne correctement merci :)

[2020-04-10 11:01] #6007 closed

[2020-04-10 13:22] Anduh commented on #6142
Which Star Wars sheet is this? Please give the exact name, and also edit the title of the issue to include it.

[2020-04-10 13:25] Anduh commented on #6138
Do you have the APi script installed? "!skill40k" is clearly an API command, so this clearly can't work without it.

[2020-04-10 13:26] SmutsMuts commented on #6138
Yeah after i manually added two scripts for the campaign and pasted in the script code it worked. But shouldn't that be automatic? Or is this how it's supposed to work?

[2020-04-10 13:33] Anduh commented on #6138
API scripts are a Pro-features, and enables some tricky things that can't be done with plain macros. Character sheets are encouraged to be made so that they can work without APIs(so free players can use them), but it's harder for some games than others.

Things are exactly as they should be.

[2020-04-10 14:11] dawid00s commented on #5941
Ah! You're right! We just checked the career box and didn't notice the "Taken" option haha. Thanks a lot for your help!

[2020-04-10 14:11] #5941 closed

[2020-04-10 14:16] SmutsMuts commented on #6138
I see! Thanks!

[2020-04-10 14:16] #6138 closed

[2020-04-10 20:26] drockod01 opened #6152 "[Warhammer 4e Character Sheet] Rolls for "Cool" under Combat Actions not accepting modifier"
When I click to roll for Cool and input a percentile modifier for the test difficulty, the modifier is not added to the Target Number. The other Combat Actions incorporate modifiers normally.

Mousing over the Target Number in the chat, it looks like there's an extra bracket that's throwing off the calculation. The images compare my rolls for Cool and for Perception, both of which should have the

[2020-04-10 20:50] studio315b opened #6153 "[Forbidden Lands] No support for Undead/Animal style monsters"
Undead and Animals use the regular methods for attacking (Attr+skill+gear) but the monster attack macros do not support that, so I'm currently using full character sheets just to have that support. but would appreciate more simplicity.

[2020-04-10 21:36] vince-roll20 commented on #6153
I can see the benefit in that.  I'll see what I can do about showing attacks on the Monster tab.

[2020-04-11 02:14] Velocikitty opened #6155 "[D&D5th] Character rolls -1+1 on attributes."
https://i.imgur.com/9g06g6K.png (Picture of the issue.)
https://i.imgur.com/D2kZark.png (The formula when hovered over to explain it.)

@{Jeffery Goodwin |wtype}&{template:simple} {{rname=^{strength-u}}} {{mod=@{Jeffery Goodwin |strength_mod}@{Jeffery Goodwin |jack_bonus}}} {{r1=[[@{Jeffery Goodwin |d20}+@{Jeffery Goodwin |strength_mod}@{Jeffery Goodwin |jack_attr}[STR]]]}} @{Jeffery Goodwin |rtyp

[2020-04-11 21:49] vince-roll20 commented on #6134
Can I simply update en.json(and any other language files) myself to match translation.json? Thanks

[2020-04-12 12:31] joesinghaus opened #6166 "Roll20 image proxy does not load GIFs correctly"
Example issue: #5950. This is breaking multiple sheets, it seems that only one frame from the GIF is displayed.

@CaptainScott0 FYI, I opened a bug here.

[2020-04-12 12:33] joesinghaus commented on #6166
@clevett Could you escalate this to the right person?

[2020-04-12 15:26] Anduh commented on #6166
TIL roll-templates could have moving gifs.

[2020-04-12 20:10] vince-roll20 commented on #6134
I've went ahead and updated the various language files in this week's pr ( #6173 ) to match my latest translation.json.  Hopefully this will solve any discrepancies.

[2020-04-13 17:44] Lockbox313 commented on #5976
I have planned to take a look at this for Cassie's new 5.2 sheet but I have not time to do it yet.

[2020-04-13 17:48] Lockbox313 commented on #5976
This should do it {dice=[[{1d20+@{sword}-20,1d0+20}kl1 [Roll]]]}} {{threshold=[[{@{sword},20}kl1[Threshold]]]}}

[2020-04-13 17:54] Lockbox313 commented on #5976
@clanpotshake  That is the old sheet you are working on

[2020-04-13 17:58] Lockbox313 commented on #5976
This is the new sheet
<img width="314" alt="pendragon2" src="https://user-images.githubusercontent.com/8994813/79145549-befe1b00-7db8-11ea-8685-f867193ac9fb.png">

[2020-04-13 18:01] clanpotshake commented on #5976
@Lockbox313 the screenshot in my comment is from @tontione 's French sheet that they said had a fix for this issue. I opened this issue for the sheet in your screenshot.

[2020-04-14 06:49] tontione commented on #5976
Thanks for your help.
I'm fixed it and added new improvments (on the "old" french sheet), including :
new religions according to book of knightds and ladies with dynamic bonus calculation and info,  and associated traits underlined, new roll template for damage rolls, horses (wip)
You can take a look at https://app.roll20.net/join/497536/JVenWw
More to come (glory annual gain fields at least). I'm

[2020-04-14 13:59] grungyape opened #6187 "Genesys: missing images from "ship" section of character sheet CSS."
Lines 1676 and 1686, I believe.

sheet-ship-char-thre-bg
sheet-ship-char-thre-bg-speed

Sheet looks like this: https://app.roll20.net/forum/post/8467932/genesys-sheet-ship-display-issue

[2020-04-14 16:58] PrimalZed opened #6188 "[Chronicles of Darkness by Roll20] Community Sheet not updated"
The community sheet available to everyone has not been updated with recent changes accepted into this repository. I expect this is because the release was moved to a private repository, described in the README.md in the sheet folder.

* Do the changes need to get incorporated into the private repository?
* Is it futile to submit PRs to the public repository for this sheet?
* Can a contributor gain

[2020-04-14 17:08] HauRukh opened #6189 "[Das schwarze Auge 5] - Pain Levels automatically applied to NPC sheets"
For NPC sheets, their "supposed HP max" is computed as if they were PCs. Based on that number, they might receive automatic pain levels when their LE value is not set to the computed maximum (that is not visible in NPC mode).

@mckee14 can you have the automatic calculation deactivated when NPC mode is activated?

[2020-04-14 17:32] joesinghaus commented on #6166
@oliviakristiansen Any help?

[2020-04-14 19:56] DanieleSuppo commented on #6189
Same happened to Savage Worlds - Tabbed, so I feel is something related to the whole last release.
Neither the sheet nor the translations are updated.

[2020-04-14 20:02] clevett commented on #5976
It was just a quick sheet I made for my own games and then decided to share after the fact.

@Lockbox313 Has this been tested for both fumbles & crits? Will it work for numbers modifiers to be less than 20?

[2020-04-14 20:03] clevett commented on #6136
Going to close this issue as it should be fixed **tomorrow** when the code goes live. If its not let me know and I'll reopen it.

[2020-04-14 20:03] #6136 closed

[2020-04-14 21:50] mckee14 commented on #6189
I fixed it for the next release.
If you activate the NPC / Minion Sheet Version, all the autocalc (pain, LE, AE, KE) is skipped. The rest should work the same way it did before i changed anything (attacks etc).
You have to track all values including the _max values by hand, tough.

[2020-04-14 22:03] mckee14 commented on #6125
Saw it just now. All the fields are missing the attr_ prefix, so nothing is stored.
I can fix that, but it will be a lot of manual work. maybe I can get a regexp working for it, otherwise it will take a while...

[2020-04-14 22:17] mckee14 commented on #6125
OK wow, it went way quicker than i thought. It's fixed and should be included in the next update.
I will also try to fix all the button rolls to include the translations.

[2020-04-14 22:22] DanieleSuppo opened #6190 "[Savage Worlds - Tabbed] Translations not applied"
With the commit https://github.com/Roll20/roll20-character-sheets/commit/13547fa1d6f429d872865011f2d06eb16a388920

some translations are changed for italian, but roll20 doesn't reflect yet the changes.

I did a test with a brand new sheet and it shows the old translation(s).

Two examples:
![immagine](https://user-images.githubusercontent.com/2264815/79279492-745eca80-7eae-11ea-8a56-d21ed9022e45.p

[2020-04-14 23:44] dyvim commented on #6125
wow. thanks a lot

[2020-04-15 08:09] Lockbox313 commented on #5976
@clevett Please do not take any of this as any criticism of a your sheet.

The code I posted was only for handling mods for abilities above 20.  Crits and Fumbles would be handled by the roll template that is lot easier than trying to pack it into the roll macro.

[2020-04-15 08:31] Lockbox313 commented on #5976
This appears to work but I don't have time to do in depth tests at the minute

 {{dice=[[{1d20+({@{sword}-20,0}kh1),1d0+20}kl1 [Roll]]]}} {{threshold=[[{@{sword},20}kl1[Threshold]]]}}

[2020-04-15 08:32] Lockbox313 commented on #5976
No matter what you do someone will make a complaint about weird formulae  when they cursor over the die roll .

[2020-04-15 09:48] HauRukh commented on #6189
Thanks a lot!

For NPC sheets manual tracking should be fine, the NPC option is for "I will just set values as I want them, ignoring character rules" after all.

[2020-04-15 09:49] HauRukh commented on #6125
Agreed, thank you.

[2020-04-15 13:46] #6190 closed

[2020-04-15 14:24] clevett commented on #5976
No worries. I took this conversation as constructive feedback. :) Its a question I'd already spent time thinking about before publishing the sheet.

The conclusion I came to was that Criticals and Fumbles needs the API to read the result and return a value based on the rules. How would you implement this with the Roll Template?

[2020-04-15 16:29] krakjen commented on #6136
Tested it and it's all good now. Good job.

[2020-04-15 16:51] Lockbox313 commented on #5976
Here is something I put together based on something I did for the old Pendragon sheet

<rolltemplate class="sheet-rolltemplate-Roll">
	<div class="rollHeader flipColor">{{name}}</div>
	<div class="rollHeader flipColor">{{skill}}</div>

	<div class="rollBody">

		{{#rollGreater() threshold 19}}

			{{#rollGreater() roll 19}}
				<div class="rollResult">Roll: <b>20</b> <= {{threshold}}</div>
				<di

[2020-04-17 12:59] DaniloCGC opened #6205 "[Cyberpunk 2k20] Improvements: secondary skills, hit location for added wps"
Hi guys, I love cyberpunk 2k20 sheet but it has some improvements that would make it even more incredible.

- The sheet does not create attributes entries for the secondary skills making macros hard due to necessity of manually inserting skills for every character.

It would be nice if these secondary skills came automatically named like the professional skills. I know that the professional are fi

[2020-04-17 19:07] Medieve commented on #5986
Oh, I've been looking at Deadlands Classic recently. I have a pull request up but I'll take a look at the skill attributes.

[2020-04-17 19:19] Medieve commented on #5986
I haven't been able to duplicate this issue and I don't see a problem with attributes in the sheet's html. Let me know if its still the case, I might've fixed it and didn't remember.

[2020-04-17 19:22] RelativeDimension commented on #5986
I think it was fixed sometime before last week.  I had changed to the other
Deadlands sheet, and we noticed that the style/font of that sheet had
changed, so I loaded up the classic sheet again, and it seemed like the
link between the two different skills had been fixed

On Fri, Apr 17, 2020, 12:20 PM Medieve <notifications@github.com> wrote:

[2020-04-17 21:55] rafjaf opened #6211 "[Stars Without Number Revised] Adjusting max Effort in case of Psychic training foci"
Hello,

First of all, thank you for the great job done in creating SWN Revised Character sheet!

One suggestion : according to Psychic Training Foci Level 1, "Your maximum Effort increases by one." However, there does not seem to be a way to edit the maximum amount of Effort on the sheet to reflect this.

Thank you in advance for considering implementing this.

Best regards,
Rafaël

[2020-04-18 08:14] #6189 closed

[2020-04-18 08:14] #6125 closed

[2020-04-18 21:43] HauRukh opened #6224 "[Das Schwarze Auge 5] High Contrast Mode (Feature Request)"
The character sheet is difficult to read for vision-impaired people, due to the colourful background.

@mckee14 If it is not too much work, would it be possible to have a button in the options tab to replace the brown background picture with the plain white sheet background?
I have a vision impaired player who has trouble reading the black on brown sheet.
The "default" sheet without css loaded wou

[2020-04-18 23:48] Utahsinner opened #6226 "[Shadowrun5thEdition] Matrix Initiative"
@clevett
The Matrix Initiative field isn't accepting dice modifiers (Second box) both Positive and Negative.

Looking at the tooltips on the sheet it appears that the final calculation is calling for @Matrix_Mod + @Matrix_Mod and it probably needs to be @Matrix_Mod + @Matrix_Dice when comparing it to both base initiative and astral initiative, though I'm not familiar enough with Roll20 sheet build

[2020-04-20 11:45] mckee14 commented on #6224
I have literally NO idea about CSS, so sadly no.
The background picture is the first thing in the CSS file, if you have a PRO account, you can set up your game with your own charsheet.  That way, you could use the files from the R20 repo and just delete the part with the background in the CSS file - it works, I tested it locally.

To change it depending on a checkbox, you would have to go via the

[2020-04-21 08:48] Anduh commented on #6166
@Reonin did things with week.

[2020-04-21 10:09] gdelmee commented on #6226
One thing which might be interesting regarding matrix initiative is having the choice between AR / VR cold / VR hot in the deck pane and having the right matrix initiative directly calculated.

[2020-04-21 11:28] Reonin commented on #6166
Hi @joesinghaus are you still seeing this issue? We put out a fix to to image server Friday morning that may have solved this!

[2020-04-21 13:25] Anduh commented on #6166
According to [this forum thread](https://app.roll20.net/forum/post/8516635/swords-and-wizardry-character-sheet-gif-image-not-loading-from-roll20-image-server) created 10 hours ago, this might still be an issue.

[2020-04-21 14:36] tontione commented on #5976
My new sheet is juste merged. It display all results (critical & fumble included)  in all cases.
As Lockbox13 i used roll template without API.  I used a custom prompt modifier.
Mine is much more complex, perhaps is it possible to make it much simpler ...
`{{roll= [[1d20cs[[({@{epee}+floor(?{modif|0}),0}>1)*(@{epee}+floor(?{modif|0}))]]cs>[[(40-[[@{epee}]]-1*floor(?{modif|0})+100*(1-{{[[@{epee}]]+

[2020-04-21 16:18] tontione commented on #5976
why ?

[2020-04-21 19:36] clevett commented on #6226
AR initiative just uses Meat Space initiative.

From my experience of thousand hours with only VR Hot Sim is every used. VR Cold sim can just be handled by adding a negative modifier to the dice if you want it.

[2020-04-21 20:45] Almos80 opened #6249 "[Pendragon5thEdition] Damage Calculation Rounding Error"
It appears that @damage is rounded up when autocalculating damage, but it should use a normal rounding process where 0.5 and higher fractions are rounded upward and lesser fractions downward.
Example: One character has SIZ+STR = 25, which divided by 6 would be 4.167, rounded down to 4, but my @damage is shown as rounded up to 5.
Reference: Pendragon 5.2 core book page 12, "Rounding off Fractions".

[2020-04-22 09:27] Far2Casual opened #6252 "[ChroniquesOubliees] Sheet "Add" generates error on Roll20"
Hello all,

If you try to add the "ChroniquesOubliees" sheet on a new game on roll20, the Sandbox will generate this error message.

`"SyntaxError: Invalid or unexpected token"
"SyntaxError: Invalid or unexpected token\n    at eval (<anonymous>)\n    at messageHandler (evalmachine.<anonymous>:284:6)\n    at process.<anonymous> (/home/node/d20-api-server/node_modules/tiny-worker/lib/worker.js:65:55

[2020-04-22 14:25] Lockbox313 commented on #5976
https://roll20.zendesk.com/hc/en-us/articles/360037773453 under Good Code

.

[2020-04-22 14:30] Lockbox313 commented on #5976
Ok here is a mod for clevett's sheet  that will take into  consideration skills over 20 and those  under 20.  We need away of handling modifiers so currently it works off the value of the attribute.  Roll results which total to more than 20 will show as 20.  Totals that go below zero should be probably capped to 20.  I haven't delved into SCSS yet so  the styling is in the HTML tag.

Here is an in

[2020-04-22 14:51] tontione commented on #5976
skill -37, roll 7  => fumble instead of simple failure.

[2020-04-22 15:11] tontione commented on #5976
Huho, i checked the rule and this point differ between french  & 5.2 english version !
I have to check on 5.0 english version ...

[2020-04-22 15:31] Lockbox313 commented on #5976
In 5.0 edition you automatically fail but roll again and fumble on a  20

5.1 is the same as 5.2

[2020-04-22 15:37] tontione commented on #5976
Old rules, at least on my 3.0.

[2020-04-22 16:01] Lockbox313 commented on #5976
I am confused are you using 3rd edition ?

[2020-04-22 17:32] tontione commented on #5976
The change is from 5.0 to 5.1
i am using a french translation and english 5.2 .
I thought the french edition was a 5.2 one, and didn't know this difference. I checked the rule on the french version.
As my sheet is a french one, i don't know which rule i have to keep ! :)))

[2020-04-22 23:09] djrenren opened #6257 "[Savage Worlds - Tabbed] Fighting starts as trained skill"
By default characters in Savage Worlds (Adventure Edition) should be untrained in fighting so their default fighting stat should be 1d4 - 2. Not a flat 1d4.

I get that we can't eliminate the field by default because it's used to calculate Parry, but hopefully it shouldn't be too hard to default the field to have the minus 2.

[2020-04-25 10:56] Anduh commented on #6166
A recent reply to a similar bug report on the forums:

[2020-04-25 13:08] ap3h3ad commented on #6224
@HauRukh I'd suggest to ask this question [https://github.com/Meteox/roll20-character-sheets/issues](here). This is the URL you get when you click on the feedback button in the actual sheet.

Replacing the background image upon clicking on a checkbox is a rather trivial topic in CSS so it should be no problem at all.

[2020-04-25 20:32] Landorlin opened #6281 "[Das Schwarze Auge 5] Some bugs & a request (1.2.7)"
Bugs
- Different calculation of Wound Treshold (Wundschwelle) at Main Page and Combat Page: At main page it is correct (.5 rounded up), at combat page it is rounded down
- Attack, Dodge & Weapon Block values wrong at combat page: they all get -3 (which they shouldn't)

Request
- Talent Specialization is missing (Sonderfertigkeit)

Thanks for your work,
L

[2020-04-26 08:59] HauRukh commented on #6281
Hi Landorlin,
The combat stats might be affected by a states set in the "states" tab. Can you check that there is nothing applied there? (Pain, fear etc.).

The sheet currently assumes you play with pain levels per percentage health lost, and automatically applies pain levels if you current LP goes below the respective thresholds. if you play with the optional wound focus rules, you might have to

[2020-04-26 10:01] Ziturion opened #6284 "[Das Schwarze Auge 5] Name Typo"
There's a small typo in one of the names of the talents in german.
Correct way: "**Alchemie**"
incorrect way: "Alchimie"

Steps to reproduce:
-create character with alchemy
-roll alchemy
-watch in Chat
![image](https://user-images.githubusercontent.com/10163803/80304380-54a19d80-87f0-11ea-9745-9be4420b2b58.png)

[2020-04-26 10:01] mckee14 commented on #6281
On the status page, you can set the modificator for pain to -4. That way, no matter what the sheet calculates, it will end up with pain level 0.

Then you can just add single levels by adjusting the modificator.

Please let me know if you prefer a checkbox in the settings to deactivate the pain level tracking.
(But keep in mind, then will other questions arise, like: why is the modificator not wor

[2020-04-26 10:16] HauRukh commented on #6281
Hmm, maybe the checkbox for pain tracking could go next to the modifier field in the States tab? Then at least it is obvious to people wanting to manage pain levels that "automatic" is set.

[2020-04-26 11:14] Landorlin commented on #6281
Hi! One nights sleep and your answers helped.
-> The penalties at AT/PA/Ausweichen resulted from Status Schmerz being at level 4 because the sheet does not autofill hitpoints current to the value of hitpoints max (as it would logically be if it was handwritten at a piece of paper). Adjusting the Lebenspunkte Aktuell in the first tab resolved that.
-> The different outputs of WS remain, but it's no

[2020-04-26 12:50] mckee14 commented on #6281
Hallo Landorlin

Die LE Aktuell möchte ich auf manuelle Eingabe lassen. Beim Erstellen würde es Sinn machen, diesen Wert auf den LE_Max Wert zu setzen, allerdings weiss das Sheet nicht, ob Du einen Char erstellst oder einfach damit spielst. Es wäre recht uncool, wenn du zb. die KO anpasst und dadurch plötzlich deine Lebenspunkte auf Maximum gefüllt werden - und öhm, du weisst dann nicht mehr, wie

[2020-04-26 14:39] Landorlin commented on #6281
Hallo mckee,

(es folgt eine wall of text)

ja das mit jedem Würfelwurf eine Zeile hat mich echt umgehauen :) Ich hatte mehrere Stunden im Code gesucht wo das Würfeln mit 3W20 eigentlich ist bevor ich endlich gemerkt habe daß der ganze Code voll davon ist. Und heute erst hab ich verstanden wie der Würfelwurf eigentlich funktioniert. Soviel zu meiner Expertise..

Ich hab dann versucht Makros zu bau

[2020-04-26 14:57] mckee14 commented on #6281
Bin grad unterwegs, daher kurzversion per Handy. Heisse auf orkenspalter
übrigens mckee14, kannst mich auch da anschreiben.

Zustände werden bereits berücksichtigt, je nach wunsch inkl BE oder ohne
BE. Kannst mal BE2 rüstung anlegen und 2 stufen betäubung einstellen, bei
den talenten sind dann gewisse um 2 erschwert, andere um 4.

Und (tadaaaa) du kannst ganz oben rechts im sheet “modifikator“ akt

[2020-04-26 17:29] Landorlin commented on #6281
Ja das ist natürlich ein Hack den ich so garnicht gesehen hab. Richtig zufrieden bin ich mit dieser Lösung aber nicht. Zum einen das Design / die Usability: ich empfinde die Buttons teilweise als zu klein bzw. die (Art und Weise des)  Wechsel(s) zwischen Maus und Tastatur als unangenehm. Da setz ich mir lieber ein Makro mit "/roll 3d20" und rechne selber im Kopf. Zum anderen das Design des Codes.

[2020-04-26 17:38] HauRukh commented on #6281
Da bisher niemand außer mckee am code arbeitet hat der sicher keine lust die core mechanic neu zu schreiben "einfach weil".
So wie ich das verstanden habe wollte er auch nur ein paar bugfixes machen, und weniger re-design. Von daher: aktuell ist unschön aber geht, so lange niemand dran rummachen will ist auch egal ob es dumm implementiert ist. Wer massiv was dran ändern will kann dann ja gerne auc

[2020-04-26 18:05] Landorlin commented on #6281
Hallo HauRukh. Ich verlange ja garnix. Beschäftige mich grad selber damit und bin sehr froh darüber hier mit Gleichgesinnten drüber reden zu können. Falls Du meine Beiträge anders wahrgenommen hast entschuldige ich mich. Sind wirklich nur Ideen über die ich mich gerne austauschen will, und das hier war der erste Platz der sich ergeben hat.

Ich denke den Beitrag kann man dann auch schließen. Lg.

[2020-04-26 19:34] mckee14 commented on #6224
The original creator (Meteox) abandoned this project. If you can't get a response from him, you could also ask in the R20 forum and post a link to the rather small CSS file out of the github repository. I'm sure you will get the answer quick. Maybe discuss it with your friend beforehand: What colors would he like? Maybe you can make it even better that just remove the background image.

[2020-04-26 19:41] mckee14 commented on #6281
Nicht streiten. Dafür gibt es doch Reallife und Waffen! ;-)

Update: Wundschwelle ist angepasst, Vorteil/Nachteil wird nun auch auf der Kampfseite so berechnet wie auf der Hauptseite. Ist im nächsten PullRequest enthalten.

Und ja, der Code ist unschön, aber er ist halt auch über lange Zeit gewachsen. Dabei haben sich R20 features verändert, allenfalls ging das früher nicht anders.
Die würfelmecha

[2020-04-26 19:44] mckee14 commented on #6284
I just checked and - contrary to regular language - within DSA it's really Alchimie. So it's correct, although strange :)

[2020-04-27 13:47] #6249 closed

[2020-04-27 13:49] #6226 closed

[2020-04-28 08:04] moonwolf-github opened #6300 "[WFRP4CharSheet] Polish translation issue"
Commit a826545b84fd5294a9aa3d48a44b944a31cb86b3 introduced error in polish translation (file https://github.com/Roll20/roll20-character-sheets/blob/master/WFRP4CharSheet/translations/pl.json). "Party-Long-Term" should stay as "Długi cel drużyny" (according to rulebook it should be "Długoterminowa ambicja drużyny").

[2020-04-28 19:27] HauRukh opened #6305 "[Das Schwarze Auge 5] - Request: Readable Spells"
The spell description when hovering the "?" symbol is often so long it is extremely hard to read.

@mckee14 would it be possible (with limited work effort,i.e. scripted) to make the "?" symbol a button that shows the (translated) spell description text as a pop-up or something like that? (Possibly as a field with scroll bar to go through it)
Click the "?" symbol, get a (scrollable) text field with

[2020-04-28 19:32] mckee14 commented on #6305
I checked into that a while ago and didnt saw a quick solution.
But there is a hack - open the list with spells on the bottom, this makes
the whole page bigger. Now you can scroll down and then mouseover over the
? and it usually fits with all the text.

HauRukh <notifications@github.com> schrieb am Di., 28. Apr. 2020, 21:27:

[2020-04-28 19:36] HauRukh commented on #6305
It is what I do now, but with added spell enhancements eve that is sometimes not enough.
It also does nto wrok for poor half-blind wizards that need ultra big letters to read :(

But if there is no easy way, I guess we will have to make do.

[2020-04-29 10:20] Nekromiko opened #6312 "The One Ring character sheet polish translation (fan-made)"
Me and my friends are working on a polish version of the character sheet for The One Ring that is already in use in Roll20 games. The source books have not yet been published in our language so to keep the crucial immersion during the game we translated the game terms like atributes, skills, states and other game terms by ourselves. It worked well IRL but since we play on Roll20 we need some help

[2020-04-29 10:29] Lockbox313 commented on #5976
I added applied clevett's last update  and added roll queries for abilities and damage to account for modifiers and damage from different types of weapons.  I also added a button to the Squire's Age for Squire Rolls.  The roll template does not automatically roll damage that's something I will look into in the future.

clevett's did you compile your updated scss with the current version of Prepos.

[2020-04-30 17:57] DaveOfTheEd opened #6320 "Dark Heresy 2 Incorrect Melee Damage Formula"
Present in Dark_Heresy_2ed/DarkHeresy2ed.html:2540
Current Formula is:
`"/me does [[@{meleeweapondamage}+@{UnS}+(floor(@{strength}/10))]] @{meleeweapontype} damage! (Pen: @{meleeweaponpen})"`
From the rulebook, it seems you should only be adding the strength once, not twice as per above.
I might be incorrect, but regardless the formula is also using 2 different methods of getting the same value, w

[2020-05-01 08:37] Johneve opened #6329 "[Monster of the Week] "The Divine" playbook - The divine armor is missing in the translation json entries."
The "divine-gear6" json entry is missing from the json files.

[2020-05-01 16:21] tregolani opened #6335 "[Star Wars FFG API-Compatible] [Request] Adding a few more General Skills for weapons and Force powers"
Would it be possible to add a few more General Skills to each of the weapon skill and Force power dropdown menus in the Character Sheet?

My GM uses a number of elements from the Genesys Android: Shadow of the Beanstalk sourcebook, namely a number of the hacking and network elements. Thus our slicers have Icebreakers as "weapons" in a network encounter, which use either **Computers** or **Knowledg

[2020-05-03 17:24] Osspial opened #6362 "Monster of the Week Spellslinger moves broken"
The spellslinger moves no longer show up, and instead appear like this:
![image](https://user-images.githubusercontent.com/16296823/80920991-64196d00-8d41-11ea-9342-806e4f8cc413.png)

It appears to have been broken by 0225fd92f889f1f00bac623b070978a89b50a171.

[2020-05-04 12:55] Anistuffs commented on #6362
Can confirm. I have fixed it in my fork but will wait until next week before making a pull request as I'm also adding the playbooks from Tome of Mysteries.

[2020-05-05 09:01] moonwolf-github commented on #6300
CC: @Reonin

[2020-05-05 11:25] Reonin commented on #6300
Hi @moonwolf-github that may have happened after our translation script was run. We highly recommend using [Crowdin](https://crowdin.com/) more steps can be found [here](https://wiki.roll20.net/Building_Character_Sheets#Translating_Character_Sheets) and getting in and putting the proper translations. This will help ensure the translations you made don't automatically get overwritten. Cheers!

[2020-05-05 11:34] moonwolf-github commented on #6300
It wasn't my translation, i just spotted an issue and noticed it was your commit.

[2020-05-05 15:37] clockworkbard commented on #6211
When I ran into this situation I dug through the source and found that there is an attribute to handle this, despite there being no UI field to enter it.

Under Attributes and Abilities, create a new Attribute named "psionics_extra_effort" and set it to 1.  Next time you commit or uncommit effort, the sheet will recalculate the Uncommitted effort and include the extra point.

[2020-05-05 21:14] flynnwastaken opened #6380 "Translation JSON not applied for MHRPG sheet"
#6328 Appears not to have been applied to the character sheet, as it just shows all the data-i18n tags instead of the translation key equivalents

[2020-05-05 21:20] flynnwastaken opened #6381 "Preview PNG out of date for MHRPG sheet"
I am unable to upload a new png to replace the old one, so the preview still shows the old version of the sheet rather than the updated version #6327

[2020-05-06 07:36] Sashayou opened #6386 "[Exalted2e] Armor Lethal Soak Does Not Save"
In the Exalted 2e character sheet does not save the armor lethal soak in the combat tab. Upon leaving and reentering the session, any entry is deleted.

I believe this could be fixed by changing line 928 of [exalted2e.html](https://github.com/Roll20/roll20-character-sheets/blob/master/Exalted2e/exalted2e.html) by renaming the variable `ArmorLethalSoak` to `attr_ArmorLethalSoak`.

[2020-05-06 07:50] hjmaier opened #6387 "[Midgard German RPG] not in the Roll20 menue"
Dear Roll20 staff,

I am not sure if I am just not patient enough, but this sheet does not appear in the Roll20 Character-Sheet dropdown:

https://github.com/Roll20/roll20-character-sheets/tree/master/Midgard%20German%20RPG

Is there something I need to do, or am I just not patient enough?

Best regards
hj

[2020-05-06 14:06] Tealk opened #6390 "Question Character Sheet Update"
Hello,

i'm currently rebuilding the character sheet for [Aborea](https://github.com/Roll20/roll20-character-sheets/tree/master/Aborea), now i wanted to know how to handle it, because the current version doesn't work properly and doesn't comply with the guidelines.
I'm writing the whole arc from scratch. So should I overwrite the old one?

[2020-05-06 14:54] Lockbox313 commented on #6390
You would have to make sure your folder and file names are different from the current  one and  ask for the old sheet be deprecated. It would probably be a good  idea to post something in the character sheet forums informing people you intend to do this. It would also be a courtesy to reach out to the original author.

[2020-05-06 14:57] Lockbox313 commented on #5300
Ok. I finally got this done. I am sure there is something buried in there that I missed but that will have to come out in the wash for the sake of my sanity.  I have not done the hit locations and fumbles for the quick start but any sane person should not be using that now..

[2020-05-06 22:52] dyvim commented on #5300
thanks a lot
this is very timely because the pdf of the french translation for RQG will be delivered in the coming days
I'll begin the translation as soon as your work will be commited
BRgds

[2020-05-07 02:14] phaldenby72 opened #6394 "City of Mist Character Sheet Issue"
City of Mist character sheets are now showing "Power Tag" and an attribute name rather than the actual name of the power tag. I believe this was OK before the last commit 2 days ago.

[2020-05-07 02:15] AtomicReaction opened #6395 "[City of Mist] Cards Not Retaining Values"
Mythos cards are wiping mysteries and concepts whenever you close the character sheet. All cards (apart from Crew Theme) have variable names in the power name field, and won't let you add power tags. They also wipe when the sheet is closed.
![image](https://user-images.githubusercontent.com/18200402/81247061-46186a80-8fd6-11ea-8b46-4888b62f11a2.png)

[2020-05-07 03:43] vince-roll20 commented on #6395
While adding translation code to the sheet I accidentally submitted an earlier version of my edits.  More info here:
https://app.roll20.net/forum/post/8615516/city-of-mist-character-sheet
Fix has been submitted here:
City of Mist v1.03 - fixes the last update's i18n/html issues #6385

[2020-05-07 06:25] Tealk commented on #6390
- So I should create a new character sheet instead of updating the old one?
- How do i ask for the old sheet be deprecated?
- I have already contacted the author and he said that I can rework his sheet.

Currently I get feedback from the forum of the rulebook. Since it is a smaller German rulebook, I reach most of the users there.

[2020-05-07 07:33] moonwolf-github commented on #6300
Commit 0d203c9479d0274f21039d3eaf7f98ba57afe325 fixed it.

[2020-05-07 07:33] #6300 closed

[2020-05-07 08:28] Lockbox313 commented on #6390
The idea of posting in the character sheet forum is to give anyone that might be working on the sheet or thinking about working on the the sheet the heads up.

[2020-05-07 08:39] Lockbox313 commented on #6390
You can make a request for the old sheet to be deprecated in the pull request for the new sheet or by emailing team@roll20.net.

[2020-05-07 13:09] wesbaker opened #6397 "Deprecate existing character sheet?"
Hey there, I'm working on a character sheet—the Old-School Essentials AAC sheet—and hoping it'll replace the existing one one I add Descending AC support to it (wesbaker/roll20-character-sheets#2).

At that point, the other one will largely be redundant. Is there a way to delete or deprecate an existing character sheet? Deletion sounds like a bad idea since it would affect existing games.

[2020-05-07 13:44] wesbaker commented on #6397
Similarly, what if I want to rename my character sheet? Is there a way to do that?

[2020-05-07 14:45] Anduh commented on #6387
Weird, it was added to the accepted.yaml and other sheets added this week have appeared in the menu. Seems ther occured some mistake on Roll20's side of things.

[2020-05-07 14:47] Anduh commented on #6397
You can create a pull request with superficial changes to your sheet, and include in the title and PR body the request of how the sheet should be named in the dropdown menu.

[2020-05-07 16:04] hjmaier commented on #6387
@Anduh Is there someone I can ask for assistance?

[2020-05-07 17:22] Anistuffs commented on #6329
I have fixed it in my fork but will wait until next week before making a pull request as I'm also adding the playbooks from Tome of Mysteries.

[2020-05-07 19:52] Anduh commented on #6387
you could email roll20 at team@roll20.net but they are extremily swamped with support tickets and you've already posted here and the bug forums, so that not help in a timely manner anyway.

The most practical method is to submit a superficial change to to the sheet and in tha PR's title&body also mention the request to fix the sheet so it appears in the dropdown. Roll20 only updates their characte

[2020-05-07 19:54] Anduh commented on #6390
Yeah I wouldn't email Roll20 for this, just mention the replacement of the old sheet when you submit the new one. The are absolutely swamped with tickets in general.

[2020-05-07 20:01] phaldenby72 commented on #6395
Looks like it's fixed now - thanks Vince.

[2020-05-07 20:01] phaldenby72 commented on #6394
Fixed by the recent hotfix.

[2020-05-07 20:01] #6394 closed

[2020-05-07 20:14] vince-roll20 commented on #6395
Thanks for the hotfix.  I feel foolish letting something like that pass.  I never thought to even check that all my corrections were included. Sorry for the disruption.  Cheers

[2020-05-07 22:13] hjmaier commented on #6387
Great idea. I'll put it in the PR.

[2020-05-08 17:55] joesinghaus commented on #6166
@Reonin This is still a problem.

[2020-05-09 02:14] tonydowler opened #6406 "Checkboxes on the Enclave move "Deep Knowledge" don't work right"
Hello,

On the Enclave character sheet, under "Deep Knowledge" if you check the first option, the first two options become selected instead of just the first.

Thanks for your work on this! It has made our game much better.

TonyD

[2020-05-09 14:08] Lockbox313 commented on #5300
This will probably be delayed as someone made a bunch of mostly cosmetic changes a few hours before before my pull request.

[2020-05-09 16:33] jrichview opened #6416 "CWOD-Vampire sheet - INITIATIVE?"
Does the sheet even support Initiative roll?

[2020-05-10 00:11] wakulig2 commented on #6312
Cześć. Zajmuję się tłumaczeniem na Roll20. Karta The One Ring nie jest tym, czym planowałem zająć się w najbliższym czasie, jednak jeśli zależy Ci na szybkim pojawieniu się tłumaczenia, jestem chętny pomóc.

Jeśli przygotowaliście tłumaczenie gotowe do publikacji (pl.json), to mogę poinstruować, jak należy opublikować je, aby mogło pojawić się w następnej aktualizacji.

Jeśli natomiast wasza praca

[2020-05-10 08:20] joesinghaus commented on #6211
It's probably better to report issues in the sheet's own fork: https://github.com/Karlinator/roll20-character-sheets/issues.

For what it's worth, there's actually a UI field for this (though clearly the UX is deficient if neither of you found it). You need to enter the settings menu (gear icon) and there you can find a field for modifying max effort.

[2020-05-11 18:37] Lockbox313 commented on #5300
The merged failed because of the changes made by another contributor .  I have tried tried to fix this but it is difficult because I have no easy way of checking what the problem is because github desktop app requires a 64 bit o/s.  If this pull fails I will abandoned this update and probably any other support for this sheet.

[2020-05-11 20:12] rafjaf commented on #6211
Thank you very much, I had not seen the setting indeed! Now it works perfectly

[2020-05-11 20:12] #6211 closed

[2020-05-12 15:10] Baledin commented on #6090
I'm willing to take a run at this.

[2020-05-12 18:40] Anduh commented on #6090
I can run my script at this and see what the results are.

[2020-05-12 18:53] Gregb342 commented on #6090
@Anduh please do, and tell us the results ^^

[2020-05-12 19:01] Baledin commented on #6090
If be happy to review it following the script (new here so unsure what the
script accomplishes but probably similar to my regex search)

On Tue, May 12, 2020, 11:53 AM Gregb342 <notifications@github.com> wrote:

[2020-05-12 19:27] noritaka97 commented on #6090
Hi everyone,
I just push a request to add a army sheet layer to the character sheet.
Next step, i plan to add "data-i18n" tags to the sheet and a french translation. (in 1 ou 2 weeks).