[2020-05-13 05:12] WallaceMcGregor opened #6465 "[Ironsworn] Allow translations"
It would be great if the amazing sheet made by @LeeRhodes allows translations.

[2020-05-13 16:14] Johneve opened #6466 "[Monster of the week] Sentence building doesn't work with every language."
The following structure appears multiple times in the improvement part of the playbooks :
<span data-i18n="another">Take another</span> <span data-i18n="Expert">Expert</span> <span data-i18n="move">move</span>
Using this type of sentence compositing can not apply in all languages, in French for example.

I propose a more linear form easier to translate as :
<span data-i18n="another-move">Take anot

[2020-05-14 09:23] elfonochasis opened #6476 "[Hermanos de Sangre] Doesn't appear the sheet"
Hello,

I've uploaded the sheet from "Hermanos de Sangre" 24 days ago and it isnt available in create new game. Could you tell me about what happens?

Thanks!

[2020-05-15 21:55] Flotherave opened #6488 "[Naheulbeuk] Creature revocation automation"
@Kaias26 Is it possible to automaticly roll the target confrontation for control and revocation? (line 1550 and 1557)

right now it's something like this: `{{ Cible = Résist. Magie + 2D6 }}`

I didn't dive in the code so sorry if it's stupid but is it possible to use the value of the field line 1530
`<div class="sheet-col-1"><input type="number" name="attr_Creature_ResiMagie" value="" /></div>`
it

[2020-05-16 16:23] #6390 closed

[2020-05-17 03:16] noritaka97 commented on #6090
Hi @Baledin @Gregb342 @Fraetor ,
Today, i just push a update of the character sheet that integrate the translation support.
#6492

[2020-05-18 02:25] Anistuffs commented on #6466
Will this following structure work? This way we don't need to have the playbook name.
'Take another move from your own playbook'

[2020-05-18 11:55] mileslucas opened #6505 "[DnD 5e] Macros in initiative modifier"
Using the 5e templates, I've tried adding an initiative modifier based off one of my skills, I don't think it's possible. It would be nice if it did (eg Tactical Wit from School of War Magic)

Tried-
    initmod | `@{intelligence_mod}`
    initmod | `[INT]`
    initmod | `[[INT]]`

[2020-05-18 16:08] Johneve commented on #6466
There is no real need to precise the current playbook.
Yes, I agree with that ! Simple, direct, efficient ! :)

[2020-05-18 16:41] Anistuffs commented on #6466
Awesome. I have to fix some bugs with some of the item list. I'll include this in the fix :)

[2020-05-18 16:47] Anduh commented on #6505
I think iẗ́'s intended to add any init bonus on the settings page.
https://wiki.roll20.net/D%26D_5E_by_Roll20#Attribute_Options

[2020-05-18 17:32] Tealk opened #6507 "sheet.json patreon/tipeee"
Hello,

is it also allowed to add other links there? patreon and tipeee are not privacy friendly services, I would like to offer alternatives there. Or would it be possible to offer further links there?

[2020-05-18 19:02] #6397 closed

[2020-05-18 20:14] Johneve commented on #6466
Thanks !

[2020-05-18 20:14] #6466 closed

[2020-05-18 20:14] mileslucas commented on #6505
Okay, well it’s exactly where I looked to add bonus to my initiative and it only works with digits, while many other attributes work fine with macros. It’s just a quality of life thing so I don’t have to go deep within my page settings every time my intelligence changes.

[2020-05-18 20:41] Anduh commented on #6505
ask on the forums about it, I'm pretty sure you can do what you're asking for.

[2020-05-18 20:48] mileslucas commented on #6505
Right, I started by looking through the forums and the web but I haven’t found any discussion about explicitly using a macro inside the initiative modifier. There is no documentation of it either.

Can you confirm with the code here whether it is possible or not? That seems easier than guessing. I’m curious how this is implemented in the Xanathar compendium, again for the tactical wit feat, if I c

[2020-05-18 20:52] Anduh commented on #6505
Ask on the forums about it, I'm pretty sure you can do what you're asking for, but I'm not sure. Sorry I don't have more to say.

[2020-05-19 02:44] noritaka97 commented on #6090
Hi Everyone,
Translation was merged to the character sheet.
French Translate (my native language and based on the french version of the RPG book) will be available in the next merge #6514, be enjoy to translate to other language.
@Anduh : I think this issued can be mark as solve after the next merge. :-)

[2020-05-19 09:45] Tealk commented on #6507
Or a link to the wish list

[2020-05-19 14:27] Anduh commented on #6507
I assume the format of the sheet.json doesn't even allow other options.

Maybe it's possible to test this out in the Sheet Sandbox?

[2020-05-19 15:11] LechPsztyk opened #6518 "[RunequestGQS] fails to render"
Only code displays since last committ on Chrome and Firefox

relevant screenshot:

https://pasteboard.co/J96OkCC.png

![bug](https://user-images.githubusercontent.com/46745997/82343923-545d8200-99eb-11ea-8ef8-73f5db3f83c0.PNG)

[2020-05-19 15:28] Tealk commented on #6507
If I just add anything, it gets ignored.

[2020-05-19 18:49] Lockbox313 commented on #6518
Some extra tags seemed to have gotten added to the front of the file <head></head><body>.  These have no effect in a custom sheet or sandbox but do seem to have an effect in the live system

I have uploaded a fix to remove this but I doubt they would  merge any pull request  this week.  I have asked about getting a rollback.

[2020-05-20 04:40] Tealk commented on #6507
I can't find any rules for it, then I would just write that in "instructions"?

[2020-05-20 05:01] johcker opened #6528 "New [Old Dragon] sheet not available to public"
I made a new sheet for Old Dragon RPG, a game very popular in Brazil.
The merge was approved about 9 days ago, but the sheet still unavaliable until today.

The link of the pull request (already closed): https://github.com/Roll20/roll20-character-sheets/pull/6351

Why is this process taking so long?

[2020-05-20 05:08] johcker commented on #6476
I have the same problem to another sheet. Good luck, friend!

[2020-05-20 09:08] Pusikas opened #6530 "[Old School Essentials - AAC] weapon modifiers not working?"
I just tested the new version of the character sheet. My test character has STR 13 and DEX 13, which should result in a +1 on melee attacks and damage and a +1 on ranged attacks. +2 actually, because it's a halfling.
![attacks](https://user-images.githubusercontent.com/82955/82427426-a26c9700-9a78-11ea-94ee-1da99e937bb3.png)
I manually entered these bonuses.

When I press the dice-button in front

[2020-05-20 09:21] Anduh commented on #6507
Yeah. You can look at https://github.com/Roll20/roll20-character-sheets/blob/master/Shadowrun4thEdition/sheet.json for an existing example, for the format.

Looking at how the patreon & tipeee templates (having both text and images different form eachother) looks like in the sheet template menu for "Shadowrun 4E" and "Patient 13", I'd say it's 50/50 if it's hard-coded to accept only those two opti

[2020-05-20 09:27] Pusikas commented on #6530
I tried to debug this a little with Chrome. The code behind the d20 icon of the short sword seems to be this:
`<button type="roll" class="sheet-attack-roll sheet-attack-roll-aac btn ui-draggable" name="attr_weaponAttack" value="&amp;{template:simple} {{roll=Attack with @{weaponName}}} {{attack=[[1d20+@{monsterBAB}+@{modquery}]]}} {{damage=[[{[[@{weaponDamageDie}]], 1}kh1]]}} {{description=@{weapon

[2020-05-20 09:28] Tealk commented on #6507
It is possible to specify other links there, then the linked text leads to the desired destination but the description is wrong, I don't want to expect this from users.

[2020-05-20 09:46] Pusikas commented on #6530
Just saw that the author requested issues to be opened in his own repo. Closing this here.

[2020-05-20 09:46] #6530 closed

[2020-05-20 09:59] LeeRhodes commented on #6465
I was already partly through them but then delve came out and threw everything for a loop. It is likely the next thing I work on after the v2 of the sheet it out. ❤️

[2020-05-20 10:46] Anduh commented on #6507
I mean, instead of having "tipee" or "patreon" on the left side, you could just try to use something else and see what happens.

[2020-05-20 11:11] Anduh commented on #6528
Seems Roll20 forgot to update the [approved.yaml](https://github.com/Roll20/roll20-character-sheets/blob/master/approved.yaml) file to make the new sheet appear. It's a manual process so they sometimes miss a sheet or two when they update the file after the weekly merges.

[2020-05-20 11:21] Tealk commented on #6507
I have already answered this above, other variables are simply ignored

[2020-05-20 12:58] G-G-G commented on #6528
If you have any contact @johcker with the people spamming the sheet request, over here: https://app.roll20.net/forum/permalink/8695648/, can you pass along the information that posting in that thread will not get the sheet approved any faster. No one there has anything to do with the approval process. Since you were the first poster there, maybe you can stop it.

[2020-05-20 13:53] johcker commented on #6528
Unfortunately I don't know those guys, I think that my post with the images caught their attention because the sheet currently available on roll20 is completely broken (rules and dice rolls doesn't match).

Here in brazil we are going through serious problems because of the social isolation caused by the pandemic and the online tabletop RPGs has become extremely relevant, add the fact that the gam

[2020-05-20 15:59] WallaceMcGregor commented on #6465
Ok. Thanks to the work you are doing. I'm waiting for this update to enjoy the upcoming official Spanish release of Ironsworn.

[2020-05-20 16:54] ragamer opened #6533 "[RunequestGQS] Character Sheet fails to render"
As the title explains. The character sheet tab on PC characters fails to render properly. The last time it was accessed and worked properly was on Monday 18/05/2020.

Language settings of all players seeing the same behaviour is english.

[2020-05-21 01:39] clevett opened #6541 "Band of Blades Inlinerollresult color is same as background"
Rolling Marshal as an Officer with Risky + Standard + 2 dice.

https://i.imgur.com/EpxXljo.png

`.sheet-rolltemplate-blades .inlinerollresult` sets the **background: transparent** while  `.sheet-rolltemplate-blades .sheet-holder.sheet-action` uses **color: # 333**. This makes the font effectively invisible.

Recommend setting color to something lighter like #fdfdfe or adding light background to th

[2020-05-21 01:43] clevett commented on #6541
@joesinghaus My apologies for not reporting this via the directions on the readme.

[2020-05-21 03:34] clevett commented on #5976
I don't usually use Prepos. I compile either with npm sass or just a Sublime build.

[2020-05-21 03:34] #5976 closed

[2020-05-21 04:57] G-G-G commented on #6528
Thanks for the explanation. I dont know who is maintaining the github now, but hopefully they've seen this. If not, you might have to email team@roll20.net to get someone to update it.

[2020-05-21 06:51] joesinghaus commented on #6541
(no worries about wrong reporting location)
Hi Cassie, this problem is essentially #6166, which has now gone unfixed for weeks. The background for the roll template is a GIF which quickly moves on to a better contrast, but since the image proxy is broken, it is stuck on a bad frame.

[2020-05-21 06:58] joesinghaus commented on #6541
If the image proxy issue is going to essentially be unfixed for O(months), I'm going to ask Tim if he can cook up a static background that works, and I can replace the gifs with that...

[2020-05-21 10:56] Anduh commented on #6528
In the past I've recalled that Roll20 have told that only they edit it, but I could submit a PR for doing the right changes, so it's remembered when they make the rounds next week, and either approve it or reject it and then does the changes themselves. I've considered submitting another edit to the yaml file also, regarding a sheet categorization that have gone unanswered.

I've conidered writing

[2020-05-21 10:58] Anduh commented on #6533
This is a duplicate of #6518, where you can find more info. This should get a fix at latest next Tuesday when community sheets get their weekly updates.

[2020-05-21 11:02] Anduh commented on #6518
@LechPsztyk you could edit this issue to state the name of the sheet **[RunequestGQS]**, so others also notice this.

For others who find this Issue, more info can be found in this forum thread: https://app.roll20.net/forum/post/8695053/runequest-character-sheet-issues

[2020-05-21 11:35] LechPsztyk commented on #6518
Done, and thank you for quick reply

[2020-05-21 12:08] Anduh commented on #6387
The sheet now appears in the dropdown, so this issue can be close @hjmaier

[2020-05-21 12:25] Anduh commented on #5903
You can't currently add feats at level-up, only at character creation. Roll20 have said they will make it possible at some point, along with proper integrating of what feats does, but there is no timeline.

[2020-05-21 12:44] ragamer commented on #6533
Ok... I see, thanks, when I stumbled over the problem I did a fast scan for similar open issues and the previous one didn't show the Sheet tag on the title, my bad. Closing this one.

[2020-05-21 12:44] #6533 closed

[2020-05-21 13:01] G-G-G commented on #6528
I've submitted an approved.yaml before, to call attention to an error in it. We definitely aren't supposed to edit those files, but if you make clear its just for illustration purposes of the changes needed, it should be okay.

[2020-05-21 13:34] Anduh commented on #6528
While Roll20 is already aware of this "Old Dragon" issue due to the massive spam and messaging done about it, in general issues relating to the approved.yaml seems to fall through the cracks pretty often, and mentions in PR description or creating an GitHub issue seems to be overlooked.

All in all, creating a PR with the requested changes is the most clean--cut and sure way that something get add

[2020-05-21 13:36] Anduh commented on #6518
This sheet was fixed today(I tested), so this issue can now be closed: https://app.roll20.net/forum/post/8703742/release-note-for-may-21-2020-hotfix

[2020-05-21 14:04] LechPsztyk commented on #6518
Fixed, Thank you

[2020-05-21 14:04] #6518 closed

[2020-05-21 16:13] Anduh commented on #6362
@Osspial was this fixed by Anistuff's update? If so, you could close this issue.

[2020-05-21 16:14] Anduh commented on #6166
#5950 is a duplicate of this issue

[2020-05-21 16:17] Anduh commented on #5970
If your PR fixed it, you should close this issue.

[2020-05-21 16:20] Anduh commented on #6284
@Ziturion is mckee14's claim about the how it says in the book correct? If the translation is correct as stated in the German books, this issue should be closed.

[2020-05-21 16:40] Anduh commented on #6395
If this is fixed, this issue should be closed @phaldenby72

[2020-05-21 16:42] #5970 closed

[2020-05-21 16:45] phaldenby72 commented on #6395
I agree, but I'm just another Roll20 user, not an admin or anything. I closed the one I raised. @AtomicReaction, can you close this?

[2020-05-21 16:49] Anduh commented on #6395
Sorry, tagged the wrong person.

[2020-05-21 16:57] Anduh commented on #6152
Looking at the sheet code, I can't see the extra curly bracket. https://github.com/Roll20/roll20-character-sheets/blob/3e7b278e43aaa2e38088c7519b5f04aa21ea00b1/WFRP4CharSheet/WFRP4Charsheet.html#L1012

Have this been fixed? If so, this issue could be closed.

[2020-05-21 16:58] #6362 closed

[2020-05-21 18:10] geoidesic commented on #5903
Ok. But only variant humans get feats at level 1, so that means you can only use feats if you're a lvl1 variant human. With 20 levels, 23 races and (I can't be Bothered to count) how many sub-races. It works in less than 1% of the time, so they may as well not have bothered with that "feat"ure ;)

[2020-05-21 21:18] m3koenig opened #6564 "Mutant Year Zero Character Sheet - Missing symbols"
Hi,

first time here and I hope im at the right point :)

We use the Mutant Year Zero character sheet for several months but now the symbols for grub, water and bullets are msissing.

![image](https://user-images.githubusercontent.com/9989457/82607339-ec5c9680-9bb8-11ea-8e1d-ecb946f2761a.png)

https://github.com/Roll20/roll20-character-sheets/tree/master/Mutant%20Year%20Zero

Tha last commit chang

[2020-05-21 23:00] #6387 closed

[2020-05-21 23:15] Anduh commented on #6564
@clevett seems like a typo in the new url

[2020-05-22 11:31] Ziturion commented on #6284
I can confirm that it is stated as "Alchimie" in the book. Apparently the name is different from the actual real world which is confusing but @mckee14 is correct. Therefore, I will close this issue. Thanks for your help!

[2020-05-22 11:31] #6284 closed

[2020-05-22 15:35] AtomicReaction commented on #6395
Sorry about the delay. Looks like it is indeed fixed! Thanks for putting in the time.

[2020-05-22 15:35] #6395 closed

[2020-05-22 18:05] Ravencrow opened #6586 "[Tenra Bansho Zero - Spanish] merged 11 days ago, not yet available"
Hi there!

I have created a totally new version of Tenra Bansho Zero sheet, in spanish.
Can't be treated as translations of the original Tenra Bansho Zero sheet because we used the original sheet scans in spanish so the online character sheet looks the same as the one found in the manual.

The thing is that the commit was approved and merged 11 days ago, but the sheet is not available yet (2 monda

[2020-05-22 19:12] Anduh commented on #6586
Yeah, I'd say do it. It's not guaranteed they check issues every week, so that's more reliable. The actions I took was exactly for this reason.

[2020-05-22 23:31] aureyia opened #6589 "[Lancer RPG] Broken Pilot HP Styling"
On, Chrome and Firefox the pilot hp is covering the Pilot Grit. Shown Below:

![image](https://user-images.githubusercontent.com/19798820/82715549-82f98800-9c8b-11ea-93de-b691f3061cae.png)

I believe this is the offending code:
https://github.com/Roll20/roll20-character-sheets/blob/3e7b278e43aaa2e38088c7519b5f04aa21ea00b1/LANCER%20RPG%20(1.8)/LANCER.html#L323
The `width:145px`. Happy to remove it

[2020-05-23 11:06] Anduh commented on #6589
@spingle any comments?

[2020-05-23 22:59] RelativeDimension commented on #5986
I wanted to bring something else up, some comments/complaints I've been
hearing from my players over the past few sessions.  These are for the
*Deadlands
Classic 20th Aniversary* Sheets, but I also have an issue or two for just
the *Deadlands Classic* character sheets as well.  I don't know if I should
open a separate ticket for those issues, but I will include tham at the
very end here

1) Flippi

[2020-05-24 11:15] simon-workcircle opened #6596 "[Offworlders] MaxHP limited to 3"
The maxhpvalue has a max of 3 and min of -1, it should just be min 0 like hpvalue below?

`<div class="maxhpvalue">
<input type="number" min="-1" max="3" value="@{str}+@{agi}+12" name="attr_hp_max" />
</div>
<div class="hpvalue">
<input type="number" min="0" value="@{str}+@{agi}+12" name="attr_hp" />`

[2020-05-24 12:07] simon-workcircle commented on #6596
Also, ticking 'ship' on the character sheet doesn't seem to persist, always defaults back to normal character.

[2020-05-24 22:35] MedievalSteve opened #6604 "Character Sheet not appearing in Roll20 dropdown list"
The Dragon Warriors character sheet was accepted a while back, but still does not appear on the list of available sheets in Roll20.

[2020-05-25 13:41] #6528 closed

[2020-05-25 13:42] #6476 closed

[2020-05-25 13:43] #6380 closed

[2020-05-25 13:43] #6381 closed

[2020-05-25 13:44] #6386 closed

[2020-05-25 13:44] #6541 closed

[2020-05-25 13:45] #6406 closed

[2020-05-25 13:47] #6126 closed

[2020-05-25 14:20] #6604 closed

[2020-05-25 17:40] Anduh commented on #6586
Seems Roll20 accepted my edit suggestion to approved.yaml this week and didn't take a look at the issues(like this one), so the doing things yourself seem to be the best approach.

[2020-05-25 19:16] Ravencrow commented on #6586
Thanks, Anduh 👍

[2020-05-25 19:16] #6586 closed

[2020-05-26 22:15] Baledin commented on #5986
I am currently building a new version of the sheet (I had nothing to do with the originals but there was quite a bit I didn't like) called Deadlands - Classic Anniversary - Improved that was recently merged into Roll20. I don't recommend switching mid-game as some attributes do not directly relate and you will end up rebuilding those pieces (primarily the Arcane section but I also fixed duplicated

[2020-05-26 23:25] RelativeDimension commented on #5986
Ah, I saw that sheet..  I copied the game to a separate table, so that I
could see which of the other sheets I like best.. and at the moment, we're
using Classic Anniversary as they are the least buggy.

With the Classic Anniversary - Improved, I did notice a few things.  I am
not sure how far into development you are, so you may have some of these on
the list of what you are working with.

Some o

[2020-05-27 01:43] Baledin commented on #5986
A lot to go over here so I'll reference your item numbers. The sheet itself
is an initial draft so we could get started with our game, and is being
actively worked on as we get deeper in. Also, be aware that I personally
haven't played DL in 20 years so I'm quite rusty with the game (and my
players are new). It's part of why I'm reaching out to other groups here to
review it.. you'll find more tha

[2020-05-27 12:20] dyvim commented on #5300
Hello @Lockbox313
My french translation is almost finished but there are a few terms that I  have questions about...
What are :
- RCR Leg
- LCR Leg
- LCR Leg
- LCF Leg
- MQ Mod.
There is also a skill Sneak that I can translate but there is no sneal skill in RQG normally...
Thanks for all your work to add the data-i18n tags.
I will close the issue just after your response I think.

[2020-05-27 15:21] dyvim commented on #5300
I've found that MQ was an abbreviation of Move quietly.
I close this issue as all is resolved.

[2020-05-27 15:21] #5300 closed

[2020-05-27 23:24] Zarzirel commented on #6320
You are wrong. Because Unnatural Strength field must be used for bonus you benefit from Unnatural Characteristic (Strength) (same for any other Characteristic), not by your Strength Bonus.
This fields of Unnatural Characteristics are used in other mechanics and rolls in this way too. So be careful and read tooltips when you use this character sheet.

Trait Unnatural Characteristic wording:
One or

[2020-05-28 04:45] driventub opened #6640 "[ Vieja Escuela] HP Tokens and character sheets doesnt match itselfs"
Good Night, I have this problem with the tokens and the character sheet , specifically with the HP attribute , look for example an X character have 12 of max HP and it actual HP is 10 in it respective character sheet, but with it default token appears the reverse , like it have 12 actual life and  10 as the max , and it's really confusing trying to play like that , but if I change it in the token

[2020-05-28 05:06] aptMattKoe commented on #6564
![image](https://user-images.githubusercontent.com/57363453/83101034-a9675b00-a0b1-11ea-84a5-6d2fbb2d283f.png)
Works again! thanks! :)

[2020-05-28 05:12] m3koenig commented on #6564
![image](https://user-images.githubusercontent.com/9989457/83101389-87baa380-a0b2-11ea-82d5-38fd6f543a2b.png)
Works again! thanks! :)

[2020-05-28 06:33] MadCoder253 opened #6641 "Popped Character Sheet - Repeating Rows Modify Button Bug"
A few the sheet users for  the GURPS sheet noticed a bug when the character sheet is popped into it's own window. None of the move bars for dragging and dropping a row works on any of the tables. I tested this out on the D&D 5E sheet and the move bars didn't work. However, the drag-drop works fine when it's still part of the VTT.

![dnd-5e-drag-fails](https://user-images.githubusercontent.com/9192

[2020-05-28 10:43] Anduh commented on #6564
close the issue if this is solved

[2020-05-28 10:44] Anduh commented on #6641
A longer list of known issues when char sheets are popped out: https://wiki.roll20.net/Character_Sheet#Character_Sheet_in_a_separate_window

[2020-05-28 19:00] DaveOfTheEd commented on #6320
Happy to be wrong! Thanks for the info :)

[2020-05-28 19:00] #6320 closed

[2020-05-28 20:12] #6564 closed

[2020-05-29 00:50] drockod01 commented on #6152
It's not fixed yet; I'll see if I can find more information on the problem

[2020-06-01 10:35] amanwing opened #6666 "Unisystem Buffy"
There is a problem on the NPC sheet. The boxes for the combat maneuvers are to small to show 2 digits.  they need to be a little wider and it should be fine. Tested on different browsers.

[2020-06-01 11:31] amanwing commented on #6666
I just solved the issue by myself. I just included style="width:70px" to all the wrong boxes.

[2020-06-01 11:31] #6666 closed

[2020-06-01 11:33] Anduh commented on #6666
Could you submit the fix to the repository, or share your version so someone else can make the fix happen for the active Roll20 sheet?

[2020-06-01 12:19] amanwing commented on #6666
I am sorry first time user here. I thought I did. I created a pull request. Is there something else I need to do?

[2020-06-01 12:30] Anduh commented on #6666
You did, but it was a minute after I asked my question :smile:

[2020-06-01 17:07] trev-dev opened #6670 "[GURPS] Macro Template Reference"
With the default template I can simply add {{Field=Value}} and it will appear in the template in chat. I'm trying to add additional notes to a macro for rolling damage, and I can't seem to get another inline field to appear.

Example:
[code]
`someNote` Does not appear. What I see is this:
![Screenshot_2020-06-01_10-06-54](https://user-images.githubusercontent.com/28788713/83434629-b1940300-a3ef-11

[2020-06-01 19:22] MadCoder253 commented on #6670
Hi @trev-dev
Here's a link to a document that explains the available fields for the skillRoll template. There are some new fields I need to add but it should be helpful.

https://1drv.ms/b/s!AnMvSmU-IUW2jJsp-Eip6ahs8bFMhQ?e=84RXmx

Here are a set of new fields for custom results.

**Text Box One**
noteBoxOneShow = 1 or empty. If 1, the note box will display in the chat area
noteBoxOneLabel = The l

[2020-06-01 23:42] Medieve opened #6674 "Mouseguard 2E Sheet doesn't show up in app dropdown"
Hello, the [sheet ](https://github.com/Roll20/roll20-character-sheets/tree/master/MouseGuard2E) was submitted 21 days ago and was successfully pulled but doesn't show up in the available sheets.

[2020-06-02 15:37] dyvim opened #6676 "[RunequestGQS] Translations via Crowdin not committed"
Hello,

I've proposed french translations of the RunequestGQS sheet via Crowdin 2 weeks ago (may 25th) but the two last commits didn'nt embark them.
Can you do something ?

BRgds

[2020-06-02 18:33] #6152 closed

[2020-06-03 10:36] Lockbox313 commented on #6676
The sheet was rolled back and there are no translation attributes in the current version.
with the offending head and body tags removed.
https://app.roll20.net/forum/post/8695053/runequest-character-sheet-issues

[2020-06-03 12:47] dyvim commented on #6676
Thanks for the explanation...
Any chance the tags will be back?

[2020-06-03 12:59] Lockbox313 commented on #6676
No by me

[2020-06-05 00:22] williambbertram opened #6698 "Savage World Tabbed sheet missing + icon to add new skills"
Hello, I love the Savage Worlds Tabbed sheet, but I cannot find the + icon to add new skills.  The wiki says there should be a + icon, but I don't see one on the player tab or the configuration tab.  I see where I can rename skills, but I need to add some setting-specific skills for Beasts and Barbarians which is not available under the configuration tab either.

The + skills button is missing whe

[2020-06-05 22:50] runiArnsbjornson commented on #6041
I have the same request, i would like to know if someone can help with this because i'm really not proefficient in coding

[2020-06-06 00:21] Anduh commented on #6041
Same as my initial advice. Few reads the issues here.

[2020-06-06 07:50] runiArnsbjornson commented on #6041
tried to do it, PR is done, waiting for reviews and merge, was the point of my comment in fact

[2020-06-07 17:55] dhicks opened #6711 "Where is FATE by Roll20?"
I'd like to edit the FATE by Roll20 character sheet, to address some limitations with the sheet as it stands.  (The sheet can't show more than 4 stress boxes; doesn't have a great space for keeping notes; that kind of thing.)  But it doesn't seem to appear in this repo.  None of the folders with "Fate" seem to match this sheet, and searching for "fatebyroll20" turns up 0 results.

Here's the PNG p

[2020-06-07 20:04] simchanu29 opened #6713 "[Mass Effect 5e]"
The character sheet for Mass Effect 5e derived from DnD 5e OGL sheet is not working properly. Abilities can't be modified, thus the sheet is useless.

It seems, according tio this forum topic that I'm not the only on with this issue. The author, according to this thread, seems to think the sheet should be removed but is not sure how to do it.

Link to the forum topic : https://app.roll20.net/forum

[2020-06-09 22:06] Baledin opened #6730 "[Deadlands-Classic Anniversary-Improved"
Improper tag closure leads to Roll20 "eating" the majority of the sheet.

[2020-06-10 03:08] clevett commented on #6711
Roll20 produced sheets live in their own repository. This one is for the community sheets.

[2020-06-10 03:08] #6711 closed

[2020-06-11 05:25] G-G-G opened #6742 "Stars-without_number_revised encumbrance"
The following line in the character.pug file
+text-input("gear_encumbrance")(type="number", value="0", step="1").center
sets encumbrance to a number field which doesnt allow decimals, as raised in this forum thread: https://app.roll20.net/forum/permalink/8804583/

I'd fix this myself, but I dont work with pug. So I'm pinging people who have edited this sheet @joesinghaus @Karlinator @svmnotn @jrvi

[2020-06-11 12:33] Karlinator commented on #6742
That's quite a wide reaching ping you have there! For future reference, we prefer issues be raised over on [the fork where development happens](https://github.com/Karlinator/roll20-character-sheets). The link is in the bottom right of the sheet.

I've looked at it, full response in the forum thread. Arrows are useless at step 0.01, and the only "disallowment" is a validation message that I can ove

[2020-06-15 14:30] #6742 closed

[2020-06-15 17:11] #6730 closed

[2020-06-16 00:16] Medieve opened #6768 "Submitted "Magical Land of Yeld" Sheet isn't showing up in Roll20's sheet dropdown"
I submitted a sheet successfully in early May https://github.com/Roll20/roll20-character-sheets/pull/6340

It seems to have got pulled correctly but the sheet doesn't show up in the dropdown. I have a similar issue with a Mouseguard sheet and just wanted to see if this is a known issue with new sheets.

[2020-06-17 11:06] bergmannf opened #6780 "[Shadowrun 5E] Support Vehicle import from Chummer"
When importing a character from chummer the vehicle data is not imported.

I already saw that the logic was in place, but is commented out (https://github.com/Roll20/roll20-character-sheets/blob/master/Shadowrun5thEdition/src/js/importer.js#L672-L727).
I assume there is a reason that's the case.

Unfortunately I don't know enough about Roll20 to test it out and maybe try to fix it.

Is there a way

[2020-06-18 04:00] ShivonQ opened #6782 "[Scum and Villainy] Muscle resprowess_bonus comes from???"
The MUSCLE character in our game, when resisting is rolling what looks like twice as many dice as he should be.  We have managed to trace it to a attribute called resprowess_bonus but cannot figure out where that is coming from.
I can see it in the HTML, its an input, but we cant find it in his sheet, or figure out why it would have started as 'activated'.  Doesn't seem correspond to any of his ab

[2020-06-18 15:01] cbrenberg commented on #6782
I'm playing a pilot in this same game, and like @ShivonQ I also have no 'resbonus' attributes visible on my attributes and abilities tab, but I do see the same hidden `attr_resbonus_*` inputs in the html of my character sheet (all have zero as the value), and I see the same `resbonus` referenced in the template strings that are presumably used to calculate the number of dice to roll when clicking

[2020-06-18 17:32] mvy opened #6783 "[Ars Magica 5] .1 decimal in fatigue rolls"
There is a particularity when rolling fatiguing spells when you are down one fatigue level. The roll has a added `.1` that is not supposed to be here, as there is no penalty for being 'winded'.

Is there a particular reason why this value is `0.1` instead of `0`.

See: https://github.com/Roll20/roll20-character-sheets/blob/299e903794335d7f928c7f34bd7c3794a4209c31/Ars_Magica_5th/Ars_Magica_5th.html

[2020-06-18 20:10] Medieve commented on #6783
Hi mvy!

Its an inelegant solution to a problem of radios. Right now the fatigue levels are setting the value of the penalty, but when you have duplicate values the radio 'falls' to the Fresh condition when you re-open the sheet because the sheet can't make the distinction between "0" Fresh and "0" Winded.

The correct way is probably having the radios set the value to a string and have sheet-work

[2020-06-20 16:04] dsansom opened #6789 "[Mongoose traveller 2e] Calculated value for damaged stat has a bug when temp value reduces stat to 0"
Using the Temp value for a stat, e.g. Strength applies a change (eg damage) to the stat score and updates the stat modifier to reflect the new stat value.

The "ATTRIBUTE MODS" section calculates this mod from the attr_base- and attr_injury- attributes but the calculation of the result doesn't correctly handle the case where base + injury == 0 as it checks the base score, not the calculated value.

[2020-06-21 22:36] clevett commented on #6780
The code is commented out because it results in an infinite loop. Which is the Cthulhu of programming.  I've got it on my list to fix it but no ETA. Some one else is welcome to look into it.

[2020-06-23 21:12] PrimalZed commented on #6188
This was resolved by creating a copy of the "Chronicles of Darkness by Roll20" directory and applying changes there. This was at the direction of @Reonin and @clevett.

[2020-06-23 21:12] #6188 closed

[2020-06-24 10:49] Almos80 opened #6818 "[Shadowrun 4th Edition] Grunt Initiative Missing Attribute"
I'm noticing missing or unconnected attributes in the Grunts section for Initiative, Astral Initiative, and others.
For example
• Rolling initiative returns an error for missing @{initiative_dice}
• @{initiative_dice_modifier} doesn't seem to connect to anything.

[2020-06-27 16:54] PrimalZed opened #6849 "[Chronicles of Darkness] [NWOD] Conslidate sheets?"
It might make sense to consolidate NWOD-Changeling, NWOD-Demon, NWOD-Hunter, NWOD-Mage, NWOD-Mage2, and NWOD-Werewolf into the Chronicles of Darkness sheet. NWOD and Chronicles of Darkness 1e are the same game.

@kluver, @Tratnis, as recent contributors to those sheets (at least for Changeling and Hunter), can you share insight?

@Reonin As with the community-contributed Chronicles of Darkness set

[2020-06-27 17:02] PrimalZed commented on #6849
For anyone unfamiliar, crossover campaigns aren't uncommon in Chronicles of Darkness. That's usually still within a single edition, not somehow crossing 1st edition and 2nd edition rules.

The Chronicles of Darkness sheet already has support for 1e Changeling, Hunter, Mage, and Werewolf, and 2e Changeling, Demon, Mage, and Werewolf (among others). However, I'm not sure if the NWOD-* sheets for the

[2020-06-27 19:31] dyvim opened #6852 "[Trudvang Chronicles] bug on the display of the equipment tab"
There is a problem in the display of the equipment tab in the part "Money and valuables".

A priori the display should be like a table with the names at left and the quantity at right. The problem is that the quantity is displayed below the names.

I suspect that it is due to a css class mentionned in the html code (line 2490, class="sheet-5colrow") but doesn't exist in the css. But as I have no p

[2020-06-28 04:19] TheAziraphale commented on #6852
I currently don't have a pro account so can't really test new code in their environment. I don't think I would want to blindly do a fix to it. Is it a show stopper for your group? If not, then I could do an update when I get pro again. Probably will get it again in a month or two, but no guarantee exactly when I will reactivate.

[2020-06-28 18:49] Snorglup commented on #6852
Greetings,

I take this opportunity to report another problem on the Trudvang Chronicles character sheet.

For more readability, I will report them by tabs

1) **Character tab**

- In the characters Features it would be necessary to replace the fields by a mulitple choice +4 , +2 , +1, 0 ,-1, -2 , -4 except for the feature "Raud".

2) **Combat Tab**

- the calculation of "lightly Damage" is not co

[2020-06-28 21:37] TheAziraphale commented on #6852
First off, thank you for your testing. The campaign I made this sheet for was cancelled after first session, so my own testing is lacking. I will try to do these corrections sooner than later, everything you mention should be kinda fast changes and it's only me not being pro atm is in the way.

Thank you for your feedback

[2020-06-29 17:34] Anduh commented on #6849
I does make sense, and there was that one WIP attempt by CPP that's now in a standalone repo by me if you wanna pick it up. There was a thread about this at some point, but don't remember if anyone continued working on it.

[2020-06-30 02:03] RinVindor commented on #6416
You'll have to be more specific with which Vampire CWOD sheet you mean. Do you mean the V20, Dark Ages V20 or Vampire Revised sheet?

[2020-06-30 02:23] jrichview commented on #6416
Yep, sorry. I thought this forum was for the older rev only. I'm playing revised.

[2020-06-30 02:24] jrichview commented on #6416
My only R20 experience thus far is as a player in AD&D 5e. Trying to bring together a VtM Chronicle for revised rules.

[2020-06-30 16:24] #6090 closed

[2020-06-30 16:25] clevett commented on #5903
I'm going to close this issue. It's not really an issue as the level up feats were a feature never implemented rather than a bug. Keep an eye out..... :) They *finger crossed* are coming sooooon.

[2020-06-30 16:25] #5903 closed

[2020-06-30 18:44] LeeRhodes opened #6884 "[Ironsworn] Discover A Site - Roll does not work"
The Discover A Site functionality was broken when moving over to the new version of the sheet.

This will require extending the move builder component to handle the roll logic differently, as it needs to keep one of the challenge dice. Rather than use a standard action roll.

## Features Required
- [ ] Extending Roll template for the move.
- [ ] Adding missing logic to the roll builder
- [x] Add a

[2020-06-30 19:06] clevett commented on #6507
I'll confirm that only Tipee & Patreon are supported as entries in the sheet.json as a key. Anything else would need to be added to the instructions key.

[2020-06-30 19:06] #6507 closed

[2020-06-30 19:07] clevett commented on #6768
#6881 has been added as a PR to fix this.

[2020-06-30 19:09] clevett commented on #6312
The One Ring has translations keys. You just need to get an invite to Crowdin to translate it into Polish. Email cassie@roll20.net requesting access to translate Polish to get an invite.

[2020-06-30 19:09] #6312 closed

[2020-06-30 19:10] #6670 closed

[2020-06-30 19:13] clevett commented on #6166
@joesinghaus Sorry for not answering you sooner. We've been taking turns doing character sheet updates. My GitHub notifications for this repo tend to be overwhelmed. I unfortunately do not have an update at this time for this issue.

[2020-06-30 20:40] trev-dev commented on #6670
@MadCoder253 For whatever reason I didn't get notified of your reply, and saw it as my issue was closed. Thank you so much for the doc!

[2020-06-30 22:58] MadCoder253 commented on #6670
You're welcome @trev-dev !

[2020-07-02 16:06] semajmaharg opened #6892 "[Apocalypse World 2nd Edition] Missing Extended Playbooks & Custom Playbook"
Would it be possible to include the following official Extended Playbooks which are currently missing?

- The Contaminated
- Landfall Marine (this one might be a bit complicated)
- The No One
- The Symbiote (this one might be a bit complicated)

A custom playbook that would allow you to add your own playbook would also be super helpful!

Thanks!

[2020-07-02 22:13] Deltayn opened #6894 "[Demon Gate Scripted] character sheets not showing up in dropdown as an option"
New sheets for Demon Gate (Demon Gate Scripted) have been approved and committed to the master branch but do not show up as an option in the dropdown for character sheets.

[2020-07-03 15:57] tobloef opened #6897 "[Ironsworn] Endure harm always rolls +Iron"
I'm new to the game, but shouldn't it roll either +Iron or +Health, whichever is greatest?

[2020-07-03 20:33] LeeRhodes commented on #6897
Already raising a fix for this.

[2020-07-05 02:15] imaginosmusic opened #6908 "[HARP] sheet not showing up in dropdown"
The sheet was submitted a couple of months ago and is not in the dropdown in game settings.

[2020-07-05 02:16] imaginosmusic opened #6909 "[Magic World] Sheet not appearing in game settings drop-down"
The sheet was submitted a couple of months ago and is not in the drop-down in game settings.

[2020-07-05 08:40] trev-dev opened #6911 "[GURPS] DR Calculator"
This would be a feature request.

My friends and I were going over our layered armor and realized that our DR was starting to get a bit out of hand. We're having to write our DR down in our inventories, decided if we were wearing this or that piece of armor, then having to math out our DRs in various hit locations in the combat tab. It works, but it's clunky. This sheet is amazing with how it calc

[2020-07-06 06:59] MadCoder253 commented on #6911
Hi @trev-dev

Can you try creating this issue on my repo? I have a number of existing items there and have a few projects to track what I'm working on.

https://github.com/MadCoder253/roll20-character-sheets/issues

[2020-07-06 07:43] trev-dev commented on #6911
Created! https://github.com/MadCoder253/roll20-character-sheets/issues/193

[2020-07-06 07:43] #6911 closed

[2020-07-06 19:22] #6884 closed

[2020-07-06 19:22] #6897 closed

[2020-07-07 04:25] rvhguy opened #6922 "[Apocalypse World 2nd Edition: Burned Over] Harm Calculates Incorrectly"
Harm rolls are a 2d6 roll MINUS the Harm you've suffered, not PLUS the Harm you've suffered. The Harm move button on the sheet currently ADDS the Harm inputted instead of SUBTRACTING the Harm inputted. It just needs to be reversed.

[2020-07-07 09:02] blalasaadri opened #6923 "[Monster of the Week Official]"
On July 30th, ["Reinforcements"](https://www.drivethrurpg.com/product_info.php?products_id=130278) was updated and, to quote Generic Games: _"the Hard Case is almost completely changed"_.

It would be good, to have both the legacy Hard Case playbook (for people, who are currently playing it and don't want to switch) and the new Hard Case 2020 playbook available.

[2020-07-07 17:37] LeeRhodes opened #6928 "[Ironsworn] Dropdowns are slow on certain browsers (Chrome)"
With the most recent changes to the Ironsworn sheet. Users appear to be experiencing a slowdown when using the character sheet. I have not found the exact cause, because I can't replicate it on my machine.

## Update
I have tested this across multiple devices from multiple users and can't seem to replicate this issues. There seems to be something with chrome on certain machines that is causing the

[2020-07-08 18:06] PrimalZed commented on #6849
It looks like your standalone repo was for World of Darkness sheet consolidation, not Chronicles of Darkness. They're actually separate game lines, not unlike Dungeons & Dragons and Pathfinder.

I have some more work to do on the Chronicles of Darkness sheet before I want to pull in those other sheets. I'd still like to continue this discussion for what form the consolidation will take.

I'm gener

[2020-07-08 18:14] kluver commented on #6849
(Sorry for missing this chain earlier. PrimalZed's email bumped it in my
indbox)

I worked on NWOD-Changeling for a friend, rather than for my own direct
play. I do know the systems from pen/paper play though. With that context
my thoughts:

   - The Chronicles of Darkness sheet does seem to cover the same system,
   and is more feature rich for sure with the dice roller that's built in.
   - My f

[2020-07-09 12:46] Anduh commented on #6923
think this is directed to your sheet @fredhicks

[2020-07-09 14:49] fredhicks commented on #6923
Hey there @blalasaadri, I'm aware of this and do have an intention to preserve the older Hard Case for folks already using it. (May be the case for other Reinforcements as well.) Will likely be a couple weeks before we can get the new Reinforcements worked in, regardless.

[2020-07-11 06:17] Azgrymn commented on #6894
@clevett   yep,  I believe this one has been overlooked. If we add it in can we place it under the correct Chaos System yet call it Demon Gate v02 or something. It it a totally different sheet than the other but they are all Chaos System

[2020-07-11 06:18] Azgrymn commented on #6894
This is for the Demon Gate rpg by Arcanum Syndicate

[2020-07-12 19:48] mistatipsta commented on #5809
This issue is remedied in the alternate Old School Essentials sheet, "Old School Essentials by Necrotic Gnome" by the author wesbaker. Thread closed

[2020-07-12 19:48] #5809 closed

[2020-07-13 01:52] Lockbox313 opened #6961 "Pendragon 5.2 Squire roll buttons referencing knight's attributes instead of squires"
There is an issue with squires after the the changes to make the mixins generic . The squire roll buttons attribute references are not prefixed with squire so all the rolls are now referencing the character instead.

e.g.

[code]

Should be
[code]

[2020-07-14 10:29] FrederickMuench opened #6974 "[Old School Essentials] Remove old (unofficial) Sheet"
Hi,

I'm part of the [Necrotic Gnome](https://necroticgnome.com/) Team, publisher of the game 'Old-School Essentials'.
OSE has currently two sheets on Roll20. The newer and official version ('Old School Essentials - AAC') is an enhancement of the old sheet ('Old School Essentials').
We appriciate the authors  (@Sheershym (?)) work very much, because it laid the foundation for the new one.
Unfortun

[2020-07-14 10:46] Anduh commented on #6974
Roll20 will likely accommodate you by removing the sheet from the selection, but not strictly delete it from here.
That would break any existing games using it. In that way, any games using the old sheet would still function, but no more games can select the old sheet.

[2020-07-14 10:55] FrederickMuench commented on #6974
That sounds reasonable. Removing it from selection sounds good! Thank you.

[2020-07-14 15:20] clevett commented on #6974
Greetings,

I have deprecated the old sheet so new users will no longer be able to select it.

[2020-07-14 15:20] #6974 closed

[2020-07-14 15:20] clevett commented on #6908
I've added HARP to the approve yaml. It should be live later today.

[2020-07-14 15:20] #6908 closed

[2020-07-14 15:21] clevett commented on #6674
I've added Mouseguard 2e to the approve yaml. It should be live later today.

[2020-07-14 15:21] #6674 closed

[2020-07-14 15:22] clevett commented on #6894
I've added this to the approve yaml. It should be live later today.

[2020-07-14 15:22] #6894 closed

[2020-07-14 18:04] imaginosmusic commented on #6908
Thank you!

[2020-07-20 20:52] ughjonnjonzz commented on #6922
well that would be an incredibly simple fix, except...

![Capture1](https://user-images.githubusercontent.com/67462479/87984398-2651f800-ca97-11ea-867d-a8cddccc6329.PNG)

now granted, I didn't read through the entire playbook, but that seems pretty cut and dry to me. PbtA games usually are.

[2020-07-20 21:16] rvhguy commented on #6922
You're reading Apocalypse World 2nd Edition, where you roll+harm as
described. In the Burned Over hackbook, you roll-harm.

THE HARM MOVE
When you suffer harm, roll minus the harm you’ve suffered. On a 10+, the MC
chooses 1:
• The harm you take stands as is, with no additional effect.
• You take -1harm, but the MC chooses 1 from the 7–9 list below.
On a 7–9, the MC chooses 1:
• You lose your footi

[2020-07-20 21:29] ughjonnjonzz commented on #6922
I stand corrected. sorry, the only PbtA game I've played is Monsterhearts.
well, like I said, it should be a super easy fix. I'll submit a request in a sec ~~and hopefully not break anything~~

[2020-07-21 17:57] WallaceMcGregor opened #7027 "[Spire - The City Must Fall] Allow translations"
Hi.

I don't know if @Medieve plans to update this sheet so that it can be translated. If not, is there any way to translate it? I'm not a programmer (I only know how to translate the sheets) and I don't have a Pro account, this is why I'm asking.

Thanks

[2020-07-21 20:44] Medieve commented on #7027
I didn't have current plans to put in translation tags but since you asked nicely I can set out some in the next few days.

[2020-07-21 23:42] Medieve commented on #7027
Submitted a translation file pull

#7028 https://github.com/Roll20/roll20-character-sheets/pull/7028

[2020-07-22 02:31] finderski commented on #6698
If you click the crossed Hammer/Wrench icon, you can select the Knowledge/Other skill. That will add the + icon at the bottom of the skill list so you can add a custom skill.

The other option would be to rename an existing skill you're not using that uses the same linked attribute.

I hope this helps.

[2020-07-22 02:33] finderski commented on #6257
Not difficult, but since it's a rare instance that a character doesn't take at least a d4 in Fighting this was done to save the majority of people the hassle of having to delete a -2 while putting that burden on the few characters that don't take any Fighting at all.

Hope that makes sense.

[2020-07-22 04:07] WallaceMcGregor commented on #7027
That's amazing! Thank you very much @Medieve

[2020-07-22 14:51] djrenren commented on #6257
Yeah it makes sense and I see how it could save hassle, but I'd like to offer some pushback, if that's okay. When I'm GM'ing with new players I find it really nice to point them to your character sheet as a structured way to build their characters. The past game I hosted I had one player point this out to me and the other 2 players assumed they had just missed something in the rules and that they

[2020-07-25 12:52] PrimalZed opened #7049 "[Chronicles of Darkness] Image not updating on Roll20 VTT"
An image was updated in the `master` branch over 3 weeks ago, but the image loaded in the Roll20 character sheet remains the old one.

[Old image](https://github.com/PrimalZed/roll20-character-sheets/blob/614e4d8abb8dfa1201e0b88a97b672b87214c4d6/Chronicles%20of%20Darkness/images/geist.png)

[New image](https://github.com/PrimalZed/roll20-character-sheets/blob/master/Chronicles%20of%20Darkness/imag

[2020-07-25 15:15] Anduh commented on #7049
Did you try to rename the file and use the new name on the sheet to forcefully update it?

[2020-07-25 16:04] PrimalZed commented on #7049
I'd rather not go with a new filename if it can be avoided.

[2020-07-25 17:50] PrimalZed commented on #7049
If the point of the question is to see whether there's something wrong with the new file itself, the imgsrv.roll20.net request works just fine if sourced from my repository:
https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/PrimalZed/roll20-character-sheets/master/Chronicles%2520of%2520Darkness/images/geist.png

(For some reason the request for the image from the Roll20 repository

[2020-07-26 20:20] julesbl opened #7066 "Warhammer FRPG Version 2"
Hi

The encumbrance rules in this version of the game have always been poor, quite a few starting characters are over-loaded right from the start.

In the rule book they are labled as optional so would it be possible to have a GM option to turn them off or maybe change the calculation?

Jules

[2020-07-27 14:26] #6768 closed

[2020-07-27 14:28] #1750 closed

[2020-07-27 14:28] #2847 closed

[2020-07-28 23:04] blalasaadri commented on #6923
@fredhicks Thanks for the change, looks good!

[2020-07-28 23:04] #6923 closed

[2020-07-29 13:13] finderski commented on #6257
With the Official Savage Worlds character sheet, this is now an option. In Sheet settings you set it so Fighting starts a unskilled with the -2. You can also set that on each sheet individually, if you don't set it as a sheet setting when creating/modifying your game.

[2020-07-31 00:45] viniciuscdeandrade opened #7099 "3D&T Alpha sheet is using wrong atributes to calcultate FA(PF)"
The following sheet: 3D&T_ALPHA/3D&T_ALPHA.html

Is using Strenght (Força) to calculate FA(PF) it should be using Firepower (Poder de fogo).

Change the variables:

1. @{forca} to @{poder_de_fogo}
2. @{bf} to @{bpf}

In the following formula on "3D&T_ALPHA/3D&T_ALPHA.html" line 27:

&{template:default} {{name=@{character_name} Ataca com FA(PF)}}{{\*\*FA\*\*[[ 1d6cs1cf6 + (@{forca} + @{bf})+(@{habi

[2020-08-03 21:13] BlckKnght opened #7117 "[Stars Without Number Revised] Drone attack rolls add inteligence modifier twice"
I just noticed a small bug in the Stars Without Number Revised sheet. When making attacks with a drone, the roll adds the character's Intelligence modifier twice. The first time is rolled up in the drone's attack modifier, the second time it is added separately for the roll.

I've looked into the code and I have found the two places it gets included:

Here, the worker script adds it to the pre-com

[2020-08-05 00:39] imaginosmusic commented on #6909
This has been a month in the issues log. Is something wrong with this sheet that I should not expect it to appear as a character sheet option in game settings?

[2020-08-06 18:03] zyr8 opened #7143 "[L5R 5e Unofficial] Feature Request: input box for Bonus Ring Dice on skill rolls"
On the Skills tab: Add Bonus box to each skill that adds Ring Dice instead of Skill Dice; or simply change the existing Bonus box to add Ring Dice instead of Skill Dice.

**Reason**: There are many situations where bonus Ring Dice would be added to a roll (using Void Point, many advantages/disadvantages and techniques/abilities), whereas situations that add Skill Dice are extremely rare.

[2020-08-06 18:05] zyr8 opened #7144 "[L5R 5e Unofficial] Feature Request: On-sheet input for standalone Ring/Skill rolls"
On the Skills tab: Add drop-down list (or number input box) to the Roll Ring/Skill Dice Buttons. This should replace the existing pop-up prompt.

**Reason**: In the great majority of cases, players will be rolling 1 extra dice. Using dropdown/input box saves the user one click; also pop-ups don't play well with popped-out character sheet windows.

[2020-08-06 18:05] zyr8 opened #7145 "[L5R 5e Unofficial] Feature Request: On-sheet skill selection for Weapon rolls"
On the Equipment tab: Add a Skill drop-down list to each line of Weapon entry. This should replace the existing pop-up prompt.

**Reason**: With a few exceptions, all weapons will always use the same skill. It generally isn't something that should have to be picked every time. Additionally, the few weapons that can use multiple skills (throwable melee weapons) have different stats with different s

[2020-08-09 16:28] PrimalZed commented on #7049
Is renaming the image file the only way to overcome the cache for the VTT? Did I somehow stumble into a isolated issue, or is this a broader systemic issue for updating images used in character sheet templates?

@Reonin Since you previously helped out with a systemic issue (getting a new community sheet alternative to the orphaned "by Roll20" sheet), can I ask you to get eyes on this?

[2020-08-09 16:53] Reonin commented on #7049
So renaming a file is always a good way to bust a cache but before we go to those as viable solutions want to confirm the cache is not being saved on the browser/client side and a hard refresh doesn't resolve it. If that's still the case I'll bring it up tomorrow and see if anything changes in our caching of sheets.

[2020-08-09 23:43] PrimalZed commented on #7049
I've tried it with different browsers, and with incognito and "disable cache" checked. I'm pretty sure that eliminates the possibility of browser caching.

[2020-08-10 14:19] Anduh commented on #7049
Yeah, and when I looked at the sheet as well, it showed the old image.

Whatever is going on, it's so pervasive that it's happening for multiple people, and need a proper fix, either manually updating the image with new name, or to check whatever is going on with the roll20 image hosting cache.

[2020-08-10 14:38] Anduh commented on #7027
@WallaceMcGregor if this have been implemented, you could close this issue.

[2020-08-10 16:13] #7027 closed

[2020-08-11 17:25] rpelisse opened #7172 "[Shadowrun6] Translation fixes have been removed"
@yagrima I don't what happened, but I did a lot of work in the previous week to fully externalised the strings on the Shadowrun6th-German, in order to be able to have a french version and even an english one. All those changes have somehow disappear from the master branch of Roll20, while @clevett did merge them two weeks ago. Did you know what happen?

It's really much a shame because the CS was

[2020-08-11 17:40] yagrima commented on #7172
 

Hopefully this works.

 

You have implemented translations which disabled the German translation instead of defaulting to it.

 

https://app.roll20.net/forum/post/8786790/shadowrun-6-sheet-german-work-in-progress-translation-en-later see here

 

In order to have it working for the upcoming convention this weekend I decided to overwrite the whole thing and undo it later.

 

Regards

René

 

[2020-08-11 17:52] rpelisse commented on #7172
@yagrima OK, so it did not only break for me (as I thought) because the translation was missing, it break everywhere. So it's seems we need to have a translation for both German & French for this to work. That's a shame, it would have be nicer to implement progress step-by-step.

Then, let me a rebuild all my changes and creates the german translation file. Then I'll do a Pull Request against your

[2020-08-11 18:16] yagrima commented on #7172
I'm fine with your proposal and will wait some days with new features.

 

I'll take care of the relevant merging between our projects. I included the wild die rules for attributes, skills and attack rolls.

 

Regards

 
 

Gesendet: Dienstag, 11. August 2020 um 19:52 Uhr
Von: "Pelisse Romain" <notifications@github.com>
An: "Roll20/roll20-character-sheets" <roll20-character-sheets@noreply.github.

[2020-08-12 12:44] Warien opened #7179 "[Shadowrun5] Sub tabs aren't clickeable anymore"
It is impossible to click on most of the sub tabs. (arms => melee weapon, knowledge, language, magic => rituals, etc)
The issue exist on chrome and edge at least.
![2020-08-12_14h43_22](https://user-images.githubusercontent.com/17216030/90016420-3df15a80-dcaa-11ea-9d55-af9594bbc15c.png)

[2020-08-12 22:54] Anduh commented on #7179
@clevett this have also been reported on the forums: https://app.roll20.net/forum/post/9064207/shadowrun-5th-edition-macro-character-sheet-bug

[2020-08-13 00:16] #6909 closed

[2020-08-13 10:05] rpelisse commented on #7172
@yagrima Can you update your fork of the Roll20 characters sheets so that its master branch match the content of Roll20's master branch? I would like open a Pull Request against your repository so you can review my changes and test it, but your repo is a behind so there is plenty of unrelated commit appearing inside the PR...

Thanks !

[2020-08-13 12:31] yagrima commented on #7172
Hey, thanks for the update.

 

I just re-created my fork for the purpose.

 

Best wishes

René

[2020-08-13 13:36] LewisJardine opened #7186 "[RunequestGQS] Statistics bonuses are not transferred to skills in the QS sheet"
In the RunequestGQS character sheet, if you select QS version, add some stats etc.
The bonuses are not added to either the bonus boxes on the Skills tab or to the skills themselves.

Current game version tested with a new game created 11/08/2020 and the sheet imported.

[2020-08-13 14:20] #7179 closed

[2020-08-13 21:24] Peberro opened #7188 "[Shadowrun5thEdition] Rolling for Skills and Condition Monitors broken."
These issues started recently (in the middle of our game!), possibly after the Hot Sim and Running Silent switches were implemented.
Upon rolling for a skill through the sheet the hit total in the chat is equal to the maximum value (it adds the skill ranks and the attribute being used together instead of rolling the required amount of d6s). This only affect skills, rolling for specific weapons or

[2020-08-13 22:06] clevett commented on #7188
Thanks for making an issue. My apologies for the inconvenience.

[2020-08-14 17:24] Reonin commented on #7049
Hey @PrimalZed  and @Anduh I was able to reach out to the team this week regarding the image cache. For the here and now renaming the image is the only way to update the cache. There are some limitations on the way we host character sheet images that may be changing in the future. If I hear anymore on this I'll you all know!

[2020-08-15 14:29] Mazalinus commented on #7188
I'd like to add that initiative rolls are broken too. The same principle as skill rolls.
It just counts the number of dice needed to roll, but not rolling.

[2020-08-15 20:42] clevett commented on #7188
I'll take a look at all roll templates to double check any other issues.

[2020-08-15 20:50] #4048 closed

[2020-08-15 20:50] #4665 closed

[2020-08-17 07:04] JacksonReid opened #7214 "[Warhammer 4e Character Sheet] - 'Melee (Fencing)' skill roll failing due to missing curly bracket"
When rolling the Melee (Fencing) skill from the Skills tab on the character sheet, it shows the following error and the roll fails.

![fencing](https://user-images.githubusercontent.com/55610202/90364516-2c48e380-e019-11ea-9568-ba1c2032ef94.JPG)

This is due to line 7467 of the sheet html file - it currently contains:
`{{blinded=[[@{BlindedMod]]}}`
when it should be:
`{{blinded=[[@{BlindedMod}]]}}

[2020-08-17 14:48] Lockbox313 commented on #7186
Why are using the QS that was created as a  stop gap and  should  have been deprecated but I didn't want the hassle of getting it deprecated.

[2020-08-17 16:34] #7188 closed

[2020-08-17 16:56] #6818 closed

[2020-08-17 16:56] #6961 closed

[2020-08-18 08:47] LewisJardine commented on #7186
I was exploring using it for a starter adventure I am writing that uses non-humanoid characters.
If it is deprecated - maybe just add a couple of comments: one in the UI so it reads "Quick Start (deprecated)" and another in the code at the start of the QS section.

In the end I have just customer edited the character sheet (html and css) into a specific version for these non-humanoids.  As they ar

[2020-08-18 11:13] Lockbox313 commented on #7186
Sheet authors have very limited access to javascript and the template that
produces the results is very limited also.  I am no longer supporting this
sheet.

On Tue, 18 Aug 2020 at 09:47, Lewis Jardine <notifications@github.com>
wrote:

[2020-08-19 08:10] Djjus commented on #7214
Thanks JacksonReid. I will fix this in next release.

[2020-08-20 01:39] Dookeduk opened #7239 "[cWOD W20] healthbox values"
i have a problem in the codes of no damage value of healthbox 5 & 6 instead of 0.1 is 0.2, this problem of the value dont allow me to make more easy the automation of some scrips.

                            <input type="radio" class="sheet-healthbox sheet-whitedot" name="attr_healthbox_5" value="0.2" checked="checked"/>

[2020-08-20 01:43] Dookeduk commented on #7239
i have a problem in the codes of no damage value of healthbox 5 & 6 instead of 0.1 is 0.2, this problem of the value dont allow me to make more easy the automation of some scrips.

  <input type="radio" class="sheet-healthbox sheet-whitedot" name="attr_healthbox_5" value="0.2" checked="checked"/>

[2020-08-20 13:01] CyricPL opened #7241 "[Dungeon World Official] Armor total value not stored as attribute and cannot be accessed for tokens"
Currently a characters total armor is being displayed in an autocalc field but does not correspond to an attribute. This makes it difficult to account for a PC's armor value when writing macros. It would be very useful to store this in an 'armor' attribute.

[2020-08-21 18:12] jcemelanda opened #7253 "[Tormenta20] Attribute checks are not getting the actual number they should"
Example:

A character with Atletismo 8 (lvl 2, 5 mod destreza, 2 proficiencia). When I check atletismototal it says 7 instead and the math for checking uses 7 instead of 8 too

![Captura de tela de 2020-08-21 20-07-50](https://user-images.githubusercontent.com/2574306/90921497-b06ce380-e3ea-11ea-85c3-0d5b51492bfe.png)
![Captura de tela de 2020-08-21 20-07-59](https://user-images.githubusercontent.

[2020-08-26 02:52] #7214 closed

[2020-08-26 13:28] rsimoes opened #7286 "[Pathfinder Second Edition by Roll20] Feature request: Process decimal fractions for bulk"
Currently decimal fractions are floored to the nearest integer. It would be convenient if they were instead rounded down to the nearest multiple of L, such that, e.g., 0.5 would be equivalent to 5 * L. My personal use case is tracking items that come in bundles, such as arrows. 100 arrows must be represented as 10 due to existing as bundles 10. If they could instead have a bulk of 0.01, one could

[2020-08-28 07:09] TurtlePope opened #7294 "[Ironsworn] Location descriptor oracle chart instead opens character descriptor oracle chart"
Under the Oracles tab on the character sheet, clicking to open the Descriptors chart under the Location heading instead opens the Descriptors chart under the Character heading. This only applies to opening the chart image; rolling on the chart returns results for the correct category.

[2020-08-28 20:10] guivre101 opened #7296 "[L5R 5th Edition Unofficial] Roll Template not displaying how many dice to keep when skill rank is 0"
The roll template is not displaying how many dice to keep when the skill rank is 0.

In the template this is when s0 is equal to 0

Bug I think is in this portion of the html?  It is checking if s0 is 0 and then skipping maybe?
 {{#rollGreater() r0 0}}
            {{#rollGreater() s0 0}}
            <div class="div-keep-amount-dice">
                <span data-i18n="keep-up-to-u">Keep up to</span>

[2020-08-29 19:52] RobbaYaga opened #7301 "Dark Heresy 1st Edition"
There are a couple problems that have appeared since the character sheets were recently updated:

1) The dice roller now gives decimals instead of whole numbers when indicating levels of success. For instance, a roll that might generate 1 level of success now generates 1.2 levels of success.

2) The new range categories on the ranged weapons are incorrect. These range categories never existed on t

[2020-08-29 22:23] LottVanfield opened #7302 "[Iron Kingdoms] Investigation skill is configured to incorrect attribute"
The sheet has the Investigation skill set under the Perception attribute, it should be set to Intellect.

I believe that the change only really takes changing line :
https://github.com/Roll20/roll20-character-sheets/blob/806f4e3faa8562ad15272cfb8973621b4190b823/Iron%20Kingdoms%20RPG/IKPRG.html#L3870

to

`<option class="sheet-blackfont" value="@{intellect}">Intellect</option>`

[2020-08-31 19:47] pitxels commented on #6711
Ok then how can we use this sheet as a starting point for a community one?

[2020-08-31 21:31] #7302 closed

[2020-09-01 12:19] Karlinator commented on #7117
Thanks for the report! I don't frequent around here much, so I didn't see it for a while. Feel free to ping me in the future or report stuff on my fork for this sheet and I'll see it a lot faster!

Anyway, I see the issue here. For melee weapons and the like we simply provide a dropdown, it doesn't choose the better option automatically.

I think the most transpaerent option is to remove the int m

[2020-09-03 18:11] joesinghaus commented on #6782
In the settings (little gear, top right), there are fields to add a permanent resistance bonus to characters. Set these to 0 to disable this. @ShivonQ Someone must have set these to some value at some point.

[2020-09-07 18:58] #7294 closed

[2020-09-07 19:01] #7117 closed

[2020-09-08 09:07] LeeRhodes commented on #6928
Seen no more comments on this from the community, closing this issue.

[2020-09-08 09:07] #6928 closed

[2020-09-08 16:44] Anduh commented on #7239
What values should those health boxes have instead? And if the values are changed, won't that affect negatively other people who are used to how it works currently?

[2020-09-08 23:58] jcemelanda commented on #7253
I found out that the issue was happening only in old sheets so I recreated them and now they work.

[2020-09-08 23:58] #7253 closed

[2020-09-09 17:45] Anduh commented on #7049
the issue should be closed, if this is now fixed

[2020-09-09 17:47] Anduh commented on #6641
This isn't a bug with the GURPS sheet, but an inherit limitation of the character sheet system. @MadCoder253 can you close this issue?

[2020-09-09 17:50] Anduh commented on #5758
btw was this fixed? If so, I could close the issue.

[2020-09-09 17:51] Anduh commented on #5985
As this isn't an actual bug with he sheet, this issue could be closed as solved.

[2020-09-09 17:55] Anduh commented on #5236
Has this been fixed in some later update? If so, this issue could be closed.

[2020-09-09 20:34] angramainyu74 opened #7355 "Stars Without Number Revised - Str/Dex/Con are not editable"
While in edit mode, Str/Dex/Con are not editable. Int/Wis/Cha work as expected.

![image](https://user-images.githubusercontent.com/19170466/92650316-54470200-f2ba-11ea-9de9-63606dbd3ff8.png)

[2020-09-09 22:54] CameroC13 opened #7357 "Prowlers-n-Paragons wrong Talent name"
In roll20 one of the Talents has the title of Riding. This is not an in-game talent. Maybe it existed in an older version. But whatever the case it looks like Investigation is missing from the list and Riding was added in its place. I pasted a screenshot of the character sheet taken from the Waiting Room Edition of the Book.

Hopefully this is an easy fix. Thank you

![image](https://user-images.g

[2020-09-10 07:32] geoidesic commented on #5236
Nope. My PR was denied. Apparently this feature isn't desirable. Really not sure why but there you are.

[2020-09-10 08:48] Anduh commented on #6166
Any updates?

[2020-09-10 15:44] Delastrik opened #7360 "[AGE System: The Expanse] Character Sheet missing "Toughness""
The new character sheet for the Expanse, under the AGE system sheet does not include a field for Toughness, which should be included with speed, defense, and armor. (Toughness = Constitution Score + Armor Bonus)

Related, the Expanse system allows characters to gain a permanent increase to defense or toughness every 4th level, there is not currently a way to indicate/implement this on the sheet.

[2020-09-10 16:59] PrimalZed commented on #7049
I'll close out this issue since we found a workaround I can use, but the root problem that an image used in the character sheets is cached indefinitely is still outstanding.

[2020-09-10 16:59] #7049 closed

[2020-09-10 21:29] Snorglup commented on #6852
Hi guys,

Please don't forget us, players of Trudvang.

We still waiting for the solution !

for STORM !

Greetings

[2020-09-12 14:19] Karlinator commented on #7355
This is a known bug (fixed by #7354 once Roll20 gets around to merging that).

You can work around it by going into the settings and toggling+untoggling both "AI Character" and "Transhuman Characters".

[2020-09-15 17:48] morgdalaine opened #7386 "[Electric Bastionland] English translation en.json altered"
It was brought to my attention that when the translations/ directory was created (by @wing-it) the en.json uses "Poor" as the translation for "arm_name", instead of "Arm".

![image0](https://user-images.githubusercontent.com/1750637/93245854-8987a000-f751-11ea-8e05-ab547ad20aec.jpeg)

[2020-09-15 22:16] Karlinator commented on #7355
Fix is now deployed! You can go ahead and close this, it should work now (forgot to close it from the PR).

[2020-09-16 09:48] EcoN77 opened #7388 "Blank Commodity Placeholder"
![Blank BR](https://user-images.githubusercontent.com/71378884/93321448-74267a80-f812-11ea-8302-91ced8c48c47.png)

[2020-09-16 16:24] Anduh commented on #7388
What's the point of this issue? The title & that image doesn't say anything about what you want fixed or changed, or what character sheet this is about.

[2020-09-18 19:51] rafaelartur commented on #7099
Desculpe a demora, na resposta, mas ja fiz a correção
Obrigado pelo apoio

[2020-09-20 22:07] aulospl opened #7412 "[GURPS] Feature request"
Hi, I'd like to request a feature for the GURPS character sheet. I would like to have an option to use the _Perception and Will are separate from IQ_ from the MyGURPS website (http://mygurps.com/pmwiki.php?n=Main.GURPSHouseRules), as I think it's a very used house rule (at least the folks at the SJ forums seems to like it) and I always use it myself.

[2020-09-24 02:12] MadCoder253 commented on #7412
Hi @aulospl, I do a lot of updates for the GURPS sheet. I have a repo with issues. Can you try  adding this request to my issues page?

https://github.com/MadCoder253/roll20-character-sheets/issues

Thanks,
Ken

[2020-09-24 18:19] CameroC13 commented on #7357
I was wrong. There are actually more errors. The sheet is missing Agility and Intellect as well. See the sheet in Roll20 below
![image](https://user-images.githubusercontent.com/71046294/94183729-bde91380-fe57-11ea-9b57-317534b3852a.png)

[2020-09-28 17:17] raskardev opened #7450 "Dead of Night sheet not available although it has uploaded into this repository"
When I try to search and select the tab, it does not appear in the dropdown. I don't know if it's a bug or if the file is incomplete, in that case, I can help. Thank you!

![image](https://user-images.githubusercontent.com/11407705/94464821-4270c480-01bf-11eb-9f5c-8b1c48de798f.png)

[2020-09-28 18:21] Anduh commented on #7450
Are you talking about [this sheet](https://github.com/Roll20/roll20-character-sheets/tree/master/Dead-of-Night), added 4 years ago and never updated since?

The Dead of Night 2E sheet seems to have intentionally been removed form the list, likely doe to being created forever ago and being sub-par in functionality/having no users for a long time.

If a new sheet adhering to the minimum requirements

[2020-09-28 18:44] raskardev commented on #7450
Oh, snap! Yeah, I'm talking about that sheet 😅

Can you link me the minimum requirements, please? Maybe I can spend some time and learn at the same time 😁

[2020-09-28 18:53] Anduh commented on #7450
check the repo's readme file.

#1 to remember, dont use `<table>` in sheet layout or design.

For general advice and info, see the Roll20Wiki's article on [Building Character Sheets](https://wiki.roll20.net/Building_Character_Sheets) (The wiki, not the Help Center version).

[2020-09-28 18:54] #7450 closed

[2020-09-29 15:39] ArtySemenov opened #7453 "[Feature request]"
Weapons as Ability or Attributes so they can be used in Macros. Basically this:

As a player I want to have Hit/Damage buttons on my screen for quick access so I don't need to open my character sheet each time and navigate to the Gear section so my rolls take 10 seconds instead of a full minutes.

AC1: When I add a weapon it is automatically translated into Ability

AC2: When I call %Weapon_1_Hit

[2020-09-29 19:49] Anduh commented on #7453
Is this a general feature request, or aimed towards a specific sheet?

Many sheet have the option to drag-n-drop sheet buttons to the Quick Macro Bar. And the buttons you can drag to the macro bar, you can indeed call through  `%{charactername|commandname}`

Example: https://wiki.roll20.net/Macro_quickbar#Character_Sheets

[2020-09-29 21:07] ArtySemenov commented on #7453
Huh okay, I didn't realise that was a thing. I was messing around in macros and couldn't find a way to quickly call and existing command. I'll investigate. Thanks!

[2020-09-29 21:07] #7453 closed

[2020-09-30 11:17] JBeighel commented on #5632
Is this still an issue?  I was looking at the sheet and it appears to have all the data-i18n tags.

[2020-09-30 12:25] JBeighel commented on #5756
So this request is a bit old, but I started work on it anyway.
I added the first bullet point, the modifier query, and am looking into some of the others.

To try it out join this game:
https://app.roll20.net/join/8659560/Qj5SVw

[2020-09-30 13:16] JBeighel commented on #5756
Bullet 2: Also added a button on the Armor table to roll the value per the macro the original posted provided.

I can probably get bullet 3 as well, but I don't know the game rules.  Damage and Crit I'm assuming are die rolls that would be filled into the table, I can get those rolled and displayed easy enough.  The Pool thought I'm not sure about, I'm guessing its built from Strength for Melee an

[2020-09-30 13:50] Anduh commented on #5632
Yeah seems LethalKitty added it at some point, and the official version of the sheet have translation tags as well, so this issue could be closed. @dyvim

[2020-10-01 00:52] Karlinator commented on #7355
@oliviakristiansen you can go ahead and close this if you want :)

Just so fixed issues aren't filling up the feed.

[2020-10-01 01:09] angramainyu74 commented on #7355
Thanks!

[2020-10-01 01:09] #7355 closed

[2020-10-01 02:16] MadCoder253 opened #7459 "[GURPS] Translation Files Bug"
There's a bug that's adding special characters to all the translation files.

**GURPS/translation.json**

Line #606
`"modifier-label": "Modifier:",`

When the system updates all the files under the translation folder, extra characters are added that are causing a display issue on the character sheet and the chat roll results.

**Example**

GURPS/translations/en.json

Line #606
`"modifier-label": "

[2020-10-01 08:49] dyvim commented on #5632
data-i18n tags have been added

[2020-10-01 08:49] #5632 closed

[2020-10-01 10:27] Anduh commented on #7459
Odd, so #7445 remove them, but Git Blame shows that it got added when the weekly translations script where applied to all Roll20 sheets by @oliviakristiansen in this [commit](https://github.com/Roll20/roll20-character-sheets/commit/b6fe539e83e9c442741a66fee24de95090655832). I assume this process involves pulling Translations from CrowdIn, and propagating translation changes on `translation.json` f

[2020-10-01 10:41] Anduh commented on #7459
Through [CrowdIn](https://crowdin.com), I submitted a translation changed for English to change `Modifier:$[[3]] ` to `Modifier:`, which hopefully overrides whatever is making this thing return each week.

If that works out, I'll try to submit the changes to the rest of the languages  so it gets competently removed.

If you want to get access to the CrowdIn Translation tools for the future, send a

[2020-10-01 19:07] Anduh commented on #7386
I submitted a translation fix to [CrowdIn](https://crowdin.com), so this might be fixed after next week's Tuesday.

[2020-10-01 19:11] Anduh commented on #7172
Is the Translation things fixed now, or is this still in the air? If this if fixed, the issue could be closed.

[2020-10-01 20:07] Anduh commented on #6596
I submitted a fix for the ship sheet thing, but didn't touch the maxhp thing yet. Am I reading it right that the min should be set to zero, and the max should be removed entirely, as it's by default defined as a number way higher than 3.

[2020-10-01 20:26] Anduh commented on #6465
Did you get stuck with the translations?

[2020-10-02 02:22] MadCoder253 commented on #7459
Thank you @Anduh !

[2020-10-02 05:42] Eunomiac opened #7464 "Broken image links on Mutants & Masterminds 3E Sheet"
### Problem
Error in image source code prevents background and logo images from appearing on the M&M 3E sheet.

Further discussion of the issue can be found here: [Roll 20 Community Forums: "Mutants and Masterminds 3e character sheet Image files not loading."](https://app.roll20.net/forum/post/8182504/mutants-and-masterminds-3e-character-sheet-image-files-not-loading)

### Solution
A quick change

[2020-10-02 08:14] rpelisse commented on #7172
Indeed, it can!

[2020-10-02 08:14] #7172 closed

[2020-10-02 17:56] felven-art opened #7468 "[BitD] [Feature] Pingable Alchemicals"
Hi!

I am not sure if this is the right way to ask for new feature, but let me try:
Would it be possible to make Alchemicals items "pingable" in Blades in the Dark character sheet?
Players usually have to go into the character sheet and then copy whole description, while just clicking it to show information inside dscription box would be much faster and simpler.

[2020-10-04 00:45] littlebigbucky opened #7477 "[Mutant Year Zero] radio button for critical injuries not showing up"
If you hover over the correct space you can click the button but it is invisible at least on my screen.

![image](https://user-images.githubusercontent.com/42523630/95004467-352d4e80-05a0-11eb-922b-6e3c8c6a86e1.png)

[2020-10-04 17:34] vince-roll20 commented on #7477
Looks like the checkbox images were moved from imgur to github(which is good), but the css was not updated to reflect the new  image URL.  I'll have a look and try to get it updated ASAP.  Thanks

[2020-10-04 18:15] littlebigbucky commented on #7477
Thanks!

[2020-10-04 19:00] vince-roll20 commented on #7477
Pull submitted #7481

[2020-10-05 17:53] #6596 closed

[2020-10-05 17:54] #7464 closed

[2020-10-06 15:17] hulm22 opened #7494 "[Feast of Legends] cannot add more than 1 Load"
The Load box only has space for 1 weapon or item.  The bottom part is just freeform text and cannot be used for rolling attacks and such.

[2020-10-06 15:45] Anduh commented on #7494
Guess I could add a second weapon/item spot to the sheet. Never ended up playing it so haven't basicly touched the sheet since I created it.

Any other minor quality-of-life improvements for it? I might update the Roll Templates so the rolls looks a bit better.

[2020-10-06 15:50] hulm22 commented on #7494
Ill let you know. Planning on running a game for my bday in 2 weeks on
roll20 for laughs.

On Tue, Oct 6, 2020, 11:46 AM Andreas J. <notifications@github.com> wrote:

[2020-10-06 20:32] Stexinator commented on #7301
Is this still an issue? I am currently working on 2ed and could take a look if it is a quick fix. Can you please create an issue for each point?

[2020-10-06 21:05] Stexinator commented on #7301
I dont understand the second point. Looking at the character sheet the placeholder gives the values @RobbaYaga provided

[2020-10-06 21:20] RobbaYaga commented on #7301
Yeah both are still an issue:

1) This is apparently a problem with it being difficult to program the system to to round down when one gets a success (2.2 = round down to 2 levels of sux) and round up when one fails (2.2 rounds up to 2 levels of failure).

2) This remains unchanged and incorrect

3) This is new but at various times, the system logs something as a success or failure when the dice r

[2020-10-06 21:39] Stexinator commented on #7301
Since I am not familiar with the first edition ruling I need some more clarification. In 2ed it is just the tenth digit that is regarded, when I looked at the roll-template the order of rounding was wrong, so this might be the issue here.

@RobbaYaga Correct me if I am wrong:

- Roll 10 Target 22 => 1 Degrees of Success
- Roll 20 Target 22 => 0 Degrees of Success
- Roll 10 Target 29 => 1 Degrees o

[2020-10-06 21:45] Stexinator commented on #7301
@RobbaYaga can you extract the range issue into a separate ticket and edit your starting post?

[2020-10-07 13:48] Stexinator commented on #7301
This links to https://github.com/Roll20/roll20-character-sheets/pull/7195

[2020-10-07 23:11] RobbaYaga opened #7502 "[Dark Heresy 1st Edition] Dice Results Incorrect or Missing"
Occasionally,  when rolling dice, the system responds listing the roll as a failure when it is actually a success. This is shown in the screen shot where the character "Neo Castor Ajoku" makes a Logic Test. The target number was 65. The character rolls a 61 (which should be a success, but it is listed as a failure by 4.6 degrees

![image](https://user-images.githubusercontent.com/70450366/95396955

[2020-10-07 23:18] RobbaYaga opened #7503 "[Dark Heresy 1st Edition] Range Categories are Incorrect"
As requested, I am resubmitting this.

Dark Heresy 1st Edition has the following Range Categories.

Point Blank (PB) - usually 3m or less
Short (S) - less than half the weapon's listed range (<R/2)
Medium (M) - Anything from half the weapon's listed range up to twice the weapon's listed range (R/2-R*2)
Long (L) - greater than twice the weapon's listed range (>R*2)
Extreme (E) - greater than three

[2020-10-07 23:19] RobbaYaga commented on #7301
I have created two new tickets, one for the Range Issue and one for the Incorrect or Missing Dice Results issue.

[2020-10-07 23:34] RobbaYaga commented on #7301
In DH1e, "Degrees of Success" or "Degrees of Failure" really refers to Degrees of EXTRA Success or EXTRA Failure. If the roll is with 9 of the target, it is simply a success or failure. As soon as you have a difference of 10, it becomes an (extra) level of success or failure.

Difference of 0-9 = 0 levels of Success / Failure
Difference of 10-19 = 1 level of Success / Failure
Difference of 20-29 =

[2020-10-07 23:58] aureyia commented on #6465
No it's just on and off with when I can make changes. Been busy with work.

[2020-10-08 08:16] Stexinator commented on #7502
@RobbaYaga can you reproduce the first screenshot consistently and provide the hover like in the second picture?

[2020-10-08 12:45] Stexinator commented on #7503
Point Blank (PB): 3m
Short (S): <R/2
Medium (M): <R*2
Long (L): >R*2
Extreme (E): >R*3

would be possible. There is not enough space to provide the range.

[2020-10-08 13:17] Stexinator commented on #7502
Since I am not familiar with the first edition ruling I need some more clarification. In 2ed it is just the tenth digit that is regarded, when I looked at the roll-template the order of rounding was wrong for 2nd, so this might be the issue here.

    @RobbaYaga Correct me if I am wrong:

        Roll 10 Target 22 => 1 Degrees of Success (YES)
        Roll 20 Target 22 => 0 Degrees of Success (YES

[2020-10-08 13:36] Stexinator commented on #7502
I did some testing and fixing this is currently not possible. I let it sit for now and think about if reworking the template works might fix this.

[2020-10-09 00:19] RobbaYaga commented on #7502
Here is another Logic roll from that character with the mouse-over. I'm not sure if this happens with other skills, I know it's happening with this skill and this it was easy to get it to reproduce.

![image](https://user-images.githubusercontent.com/70450366/95527506-7c05b480-09a3-11eb-80e1-4f4fd3ac2b42.png)

[2020-10-09 00:22] RobbaYaga commented on #7503
That looks great other than Medium Range. If there is enough room, I would suggest .5-2 or some variation of that (0.5-2x or .5-2x or whatever). If none of that fits, I would suggest leaving Medium as simply R.

[2020-10-09 10:05] Anduh commented on #7386
Looking at the current English translation file, this should have now been fixed. If you check in a game and it looks good, you can close this issue.

[2020-10-09 10:09] Anduh commented on #7459
It seems my CrowdIn change to the translations removed the pesky `$[[3]]` on [line 606](https://github.com/Roll20/roll20-character-sheets/blob/210aee7e73c807f6aabdbff2c6bb1a106acda8dc/GURPS/translations/en.json#L606).

If you can verify in a game that it's fixed, you could close this issue.

[2020-10-09 10:36] Stexinator commented on #7502
The roll for logic uses scrunity for calculation and logic for display. Did you see this error also with other skills?

[2020-10-09 15:22] RobbaYaga commented on #7502
I'm not absolutely certain. We've noticed this error a couple times, but I didn't record it happening then and so all instances may be Logic. If it happens again, I'll post a new issue.

Thank you so much for all your help!

[2020-10-09 17:19] MadCoder253 commented on #7459
@Anduh  thank you! It's fixed.

[2020-10-09 17:19] #7459 closed

[2020-10-09 19:17] Djjus opened #7509 "[Warhammer 4e Character Sheet] New Translation.json not updated properly on roll20 - Need advice"
Hi Devs, this week my latest PR #7483 was merged. All files have merged up fine as i see in GitHub, but the new translation file was not updated on roll20 live servers giving the sheet some translation errors and i also can't see the updated version on Crowdin. I'm not sure how this happened, the current html/css/json files work fine on a test server/sandbox.

Could it have anything to do with the

[2020-10-09 20:46] morgdalaine commented on #7386
Looks great. Thank you for your help!

[2020-10-09 20:46] #7386 closed

[2020-10-12 13:40] aldaron838 opened #7525 "SyntaxError: Unexpected token '<' - when activating "Degree Weapons""
When copying in DH_Degrees_Weapons.js in the Script Library the following error is given and script is stopped.

In the settings it's shown I need 3 scripts to get started:

DH_Degrees_Weapons.js
DH_Degrees_Skills.js
Ammo.js

However, when adding all three I only get a syntax error (see screenshot below).

![Unexpected Token](https://user-images.githubusercontent.com/33810839/95752958-27af4d00-0ca

[2020-10-12 15:06] #6789 closed

[2020-10-13 17:09] Stexinator commented on #7503
@mperes something seems off with the rollout of the updates. Can you please verify when the changes will be rolled out? Thanks

[2020-10-14 19:49] Djjus commented on #7509
Fixed with new PR this week. I checked the logs on crowding and is does seem like the translation where done Monday night and the Tuesday PR's did not get fully processed. So i'm assume this caused the issue.

[2020-10-14 19:49] #7509 closed

[2020-10-15 13:34] Stexinator commented on #7502
@RobbaYaga please close it when it is fixed

[2020-10-15 13:34] Stexinator commented on #7503
@RobbaYaga please close it when it is fixed

[2020-10-15 14:22] Anduh commented on #7509
The translation process and interaction between changes coming from the repo, vs changes pulled from CrowdIn does seem to have some issues.
Sometimes CrowdIn translations revert changes submitted through the repo, sometime only part of the translations goes through, and probably seen some rare issue that was something else. Those have all been pretty ambiguous in how/when they are caused, and seem

[2020-10-15 18:49] #7503 closed

[2020-10-15 18:50] #7502 closed

[2020-10-15 22:47] Anduh commented on #6711
Maybe switch to use the one created by Evil Hat? That one is in the repo, is actively updated, and might listen to your requests if the sheet already doesn't behave as you suggested.

[2020-10-16 12:08] Djjus commented on #7509
Hi Anduh, thanks for you feedback. I think in this case it was a simple sequence of events problem. I am aware of other translation issues as you mention, but lucky I have not experienced these myself. Only been translation a shortly while now to be fair.

[2020-10-16 15:26] LewisJardine opened #7537 "[RuneQuestGQS] Skills under 10% do not get critical successes"
The rules RQG rules specify that a roll of 1 is always a critical (and also that a roll of 2-5 is always a success).
However, for skills of 9% or less, this breaks the general logic used in the character sheet of critical chance = success/20 that the character sheet uses.

One fairly ugly solution is to add special logic for skills 1 to 5 and 6 to 9 to address the 2 issues above.
Something like th

[2020-10-16 16:01] loskylp opened #7538 "[RuneQuestGQS] NPCs Character Sheet has oddly small type for textboxes"
The Character description, Runes, Spells, Passions and Skill texboxes have a different letter type and size compared to the rest of the Sheet

[2020-10-16 21:09] chirstius opened #7540 "Add Old School Essentials additional classes?"
Is there any possibility of adding in support for the extra classes listed in Old School Essentials books such as Assassin, Mystic/Monk, Bard, Druid, etc.?

I'm happy to give the work a try and I can fork but curious if any current authors are interested in doing it, or collaborating on it?

[2020-10-17 02:04] #6922 closed

[2020-10-17 02:28] #7388 closed

[2020-10-17 02:41] clevett commented on #6780
Are you still interested in this? Do you have a character with vehicles I can have? I don't use chummer and need json of a character with vehicles. Oddly the five example characters I have do not include vehicles.

[2020-10-17 21:35] LethalGhost opened #7544 "[Pathfinder Second Edition by Roll20] Feature request: a way to describe actions with outcome depended on roll result"
Please add a way to describe actions with outcomes like "Critical Success, Success, Failure, Critical Failure" that do not require a savethrow DC.

[2020-10-17 21:59] LethalGhost commented on #7544
An example how that's look right now.
Please add a way to hide/omit "saveing throw dc" line.
![unknown](https://user-images.githubusercontent.com/2458675/96354231-bed73300-10ed-11eb-8ba9-57ef1cfe239a.png)

[2020-10-20 19:55] Keldin opened #7561 "[Pathfinder 2nd Edition by Roll20] Request: Colored Headers"
When I asked for where to make this suggestion, I got two answers, with people unsure of which to use, so I'm doing both.  Apologies for people who see it twice.

I would like to request the ability to change the color of the header on the character sheet.  The current situation is difficult to use if you decide to link the name of the spell/trait/weapon/effect that you're using.  Here:

![screens

[2020-10-24 20:49] MadCoder253 opened #7574 "Custom Sheet Sandbox - JavaScript console shows many [violation] handlers which causes slowness"
For the past week I've been encountering a lot these errors that results in slow load times when I try to upload a html, css, or translation file. It also affects the speed of the webpage and character sheets. I also encounter jerky movements when trying to drag a character sheet around on the map.

Here's a screenshot.

![custom-sheet-errors](https://user-images.githubusercontent.com/9192404/9709

[2020-10-25 14:28] Anduh commented on #7574
I suggest you submit a [Help Center Reques](https://roll20.zendesk.com/hc/en-us/requests/new)t on this issue.

Roll20 doesn't really pay much attention to github issues as they are meant to target the community sheets themselves, not issues with the Roll20 platform.

[2020-10-25 18:27] MadCoder253 commented on #7574
Thanks

[2020-10-25 18:27] #7574 closed

[2020-10-25 21:23] bergmannf commented on #6780
I switched to FoundryVTT in the meantime, but I can still give you a JSON of a character with a vehicle at least:

[code]

[2020-10-29 19:33] Bruweiz opened #7612 "D&D_3-5 Character Sheet weapon damage"
Hi.
There is currently no sensible way to add weapon damage to a weapon on the character sheet.
Functionally, this can be done by editing the hardcoded 1d6 damage in the macros used for damage and crit damage rolls. This seems to be bad practice, as users inexperienced with "Code Stuff" are often unwilling to to make changes to the attack macros.

![Capture](https://user-images.githubusercontent.c

[2020-10-30 19:32] Tealk commented on #7503
Now it is mega confusing!
The fields contain the maximum values according to the rulebook.

[2020-10-30 22:05] Stexinator commented on #7503
@Tealk besides the medium range I disagree. But I also dont understand the problem with typing in text. So, I dont object to reverting it. Clarifing the issue in such a small place so that all parties are happy is probably impossible.

@RobbaYaga you can state your problem with it any maybe we can come to some sort of agreement (e.g. tooltip is more explaining)

[2020-10-31 03:35] clevett commented on #6780
@bergmannf Thanks for checking back. :) I have added vehicle support finally.

[2020-10-31 03:35] #6780 closed

[2020-10-31 12:38] dude-rtfm opened #7616 "[Pathfinder Official] AC is calculated incorrectly"
Hello,

It seems like there's an off by one error or something similar in the "Additional" tab of the character sheet.
An AC bonus added to the Deflection column gets counted in the Totals line under @{ac_natural_items}. Screenshots are attached. It affects the other AC types too.

![Screenshot from 2020-10-31 13-37-06](https://user-images.githubusercontent.com/26977664/97779438-f924e380-1b75-11eb

[2020-10-31 18:48] RobbaYaga commented on #7503
I have no problem with the current change, however, if other people are having trouble with it, then just leave them blank and let people look up the ranges in the core book. My original post in this thread explains what the Ranges are according to the core rules and the "maximum values" change in each field depending on the weapon. (A weapon with a range of 30m is going to have vastly different m

[2020-11-01 02:50] Kraynic commented on #7616
There is something off in your display.  The equipped checkbox is one spot out of place to the right, pushing everything else over.  The 7 and 4 are actually on the AC line, so  your 1 is actually entered in the NAT column due to the entry fields being pushed over.

Which browser are you using?  It might be that this is browser specific for this display issue.

[2020-11-01 07:25] LethalKitten commented on #5632
Sorry I'm late to the party. Yes I added all of them (I hope) for all the base classes and the custom class. I'm still working on the Tome of Mysteries and the unofficial but sanctioned classes I hope this helps everyone who wanted translations :)

Apologies it took me so long, this is the first time I've ever delved into making character sheets and CSS stuff so I'm learning slowly.

[2020-11-01 14:48] Anduh commented on #5632
Thank you for your contributions!

And don't apologize for spending your free time at your own terms :smile:

[2020-11-03 09:04] Stexinator commented on #5844
Can you provide the page in the rule book?

[2020-11-03 09:52] Tealk commented on #7503
Well, in my rulebook it is a little different than what you wrote in your first post:
Point Blank (PB) up to 3m
Short (S) to range/2
Medium (M) to range *2
Long (L) - to range*3
Extreme (E) - to range*4

of course the minimum always refers to the value before; so the previous version was correct and the current one is faulty, because you can't shoot further than the extreme range according to the

[2020-11-03 15:45] RobbaYaga commented on #7503
What you have here is fine and is identical (if worded differently) to what I put in the post at the top of this thread. Regardless, the most succinct description of ranges comes from the Errata.

"Short range is below half of this number, long range is above double, extreme range is above three times and maximum is above four times. Below 3 metres is point blank range."

[2020-11-04 11:21] Tealk commented on #7503
But as far as I know, this would mean that the weapon can shoot infinitely far

[2020-11-06 00:28] RobbaYaga commented on #7503
Sure, that could be inferred from what is listed there. However the things you have listed are too many characters to fit into the available space as it has been described to me "(Extreme (E) - to range*4)." Perhaps yet another box that adds maximum range should be there, but probably not.

Honestly, Tealk, there never were ranges on the ranged weapons on the character sheet originally. So I hones

[2020-11-06 09:41] Tealk commented on #7503
no, as I have shown above it is not, because the statement placeholder="> R*3" is wrong as well as placeholder="0.5-2*R"

[2020-11-07 17:33] RobbaYaga commented on #7503
I feel like there is a real communication problem here.

The categories are correct: PB / S / M / L / E (as opposed to what was there before PB / N / M / F / E).

The details within each category that describes how to calculate each range are also, technically, correct. Extreme Range is, in fact, greater than the Range multiplied by 3 (>R3), just as Medium Range is from one half the Range to two t

[2020-11-07 23:44] Tealk commented on #7503
ok that was very ambiguous, it would be better to write 0.5R - 2R. I have assumed a mathematical calculation all the time

Why is that irrelevant? If you want to keep on shooting you ignore the rule?
House rules have no place in the bows in my opinion.

[2020-11-07 23:51] Tealk commented on #7503
I will insert the following description text that will be displayed when you move the mouse over the fields

then everything should be clear

[2020-11-08 03:56] RobbaYaga commented on #7503
While Short Range is technically incorrect (it's actually less than R/2), I'm fine with these changes as long as the category titles remain correct (PB / S / M / L / E).

[2020-11-08 11:28] Tealk commented on #7503
This is regulated by the translation, not by the programming.
You have to contact the Roll20 support and get an account.

[2020-11-08 18:26] RobbaYaga commented on #7503
I have an account on Roll20 you inconsiderate wretch. I'm sorry that your German translation is not what you want it to be, but on the English character sheet, the Range Categories should read PB/S/M/L/E. Change them back. That was the whole point of this ticket.

[2020-11-08 18:27] RobbaYaga commented on #7503
@Stexinator What options do I have for reporting this nonsense? Is this a Github issue or a Roll20 issue? I've been as accommodating as I can possibly be and this person just refuses to do anything except what they want and what they want is simply wrong based on the rules of the game.

[2020-11-09 05:41] MadCoder253 opened #7654 "[GURPS] Several translations are not working"
I haven't looked at the sheet for a couple of weeks due to work. I just noticed that translations that used to work are no longer working. I did merge in all the latest updates and the translations are working for both the main development file `translation.json` and the other `/translations/en.json.` on my sandbox.

Here's a screenshot of the issue I'm seeing.

![broken-translations](https://user

[2020-11-09 07:18] Tealk commented on #7503
Any translations you find in the folders below are not changed by GitHub, but by some other tool I don't know myself (I asked for an account once, but never got one)
https://github.com/Roll20/roll20-character-sheets/tree/master/Dark_Heresy/translations

What you say is wrong, because as you can see in the change, there is F and not L too; so this has nothing to do with my changes I mentioned.
http

[2020-11-09 12:51] Stexinator commented on #7503
@Tealk there is no translation initalization yet for this sheet. One of the points of my change was, to give the english names for the ranges. Instead of reverting my changes you should make a commit which changes the placeholder according to the outcome of your discussion.

It is common to use the english language until that happens. If you want to have a certain language then feel free to start

[2020-11-09 12:53] Stexinator commented on #7503
@Tealk @RobbaYaga by the way this PR is closed. @Tealk open a new issue which is linked to this one and post a summary into it. Then add your changes to the new issue

[2020-11-09 12:56] Tealk commented on #7503
If these are not translations, what are they?
https://github.com/Roll20/roll20-character-sheets/tree/master/Dark_Heresy/translations

[2020-11-09 13:02] Stexinator commented on #7503
Right, I looked at 2nd edition. @RobbaYaga in this case I have to agree with @Tealk . Please try to get a Crowdin-Account (https://github.com/Roll20/roll20-character-sheets#internationalization--translations) and submit a fix for the english language there

[2020-11-09 19:20] RobbaYaga commented on #7503
Very well, I apologize to @Tealk for my harsh words. Given the sheet was completely in English when I came upon it, I (arrogantly) assumed it started out that way.

Thanks for being the intermediary, @Stexinator and I will join and ask for a fix.

Despite the mild battle of text we had, I really do appreciate all the efforts from both of you.

[2020-11-09 19:30] Tealk commented on #7503
Diverse opinions have the potential to improve things.

[2020-11-09 22:55] KenRiehle opened #7665 "Hackmaster 5e Sheet add NPC tab"
Would it be possible to add a new tab to the Hackmaster 5e Sheet ...NPC tab .... having an NPC section that we could fill out for MOBS would be outstanding.

[2020-11-10 09:22] Anduh commented on #7654
There was some [ups and downs with that yesterday, but it should be solved now](https://app.roll20.net/forum/post/9382237/translation-and-crowdin-changes). Have you checked if the translations work today?

[2020-11-11 06:15] MadCoder253 commented on #7654
Hi @Anduh that looks good! thank you!

[2020-11-11 06:15] #7654 closed

[2020-11-12 20:16] Stexinator commented on #7665
The title should reflect the sheet and functionality

[2020-11-14 19:07] hyphz opened #7693 "Pathfinder 2e: @{Level} in cantrip expressions gives character level, not cantrip level"
@{Level} in the damage block for a cantrip will roll based on the character's level, not the spell's level. For example, a level 5 character rolling @{Level}d4 with a cantrip will roll 5d4, when they should roll 3d4 (because Level 3 spells are the highest available to a level 5 character)

[2020-11-16 00:33] mustacheride opened #7703 "[Star Wars FFG API-Compatible] Force dice always double light side"
![image](https://user-images.githubusercontent.com/15336577/99201503-e4993b80-2770-11eb-91ee-83164cc089e2.png)

Not exactly sure whats going on.

[2020-11-16 00:34] #7703 closed

[2020-11-16 15:30] VacantFanatic opened #7710 "Total Weight not being assigned correctly"
`getAttrs(["item1weight", "item2weight", "item3weight", "item4weight", "item5weight", "item6weight", "item7weight", "item8weight", "item9weight", "item10weight", "item11weight", "item12weight", "item13weight", "item14weight", "item15weight", "item16weight", "item17weight", "item18weight", "item19weight", "item20weight", "item21weight", "item22weight", "item23weight", "item24weight", "item25weight"

[2020-11-17 01:04] VacantFanatic commented on #7710
Correction: It does work, a player had entered a float of 0.5 which the parseInt() choked on.

[2020-11-17 01:04] #7710 closed

[2020-11-17 18:31] Antelbxl opened #7721 "Nephilim Legende: Alchemy Difficulty calculation incorrect in "Oeuvre au blanc""
@fennelin
Le calcul des transmutations ("Difficulté") de l'Oeuvre au Blanc est incorrect:
actuel: les 2 Ka-éléments sont additionnés
réel: seul le plus petit des 2 Ka est pris en compte. (encart des règles page 220)

[2020-11-17 23:37] Medieve opened #7725 "I am touching Mutants and Masterminds 3E"
Just announcing I'm going to be putting my thumbprint on the sheet, mostly styling but I'll be working on the powers section too to make it more svelte and collapsible. I'll be updating my progress on the [forums](https://app.roll20.net/forum/post/9504317/mutants-and-masterminds-3e-sheet-restyling):

Let me know if there's any conflicts or just overall disagreements with what I'm doing here: @Andu

[2020-11-18 00:16] killerasus opened #7727 "[Old Dragon Aprimorado] Clérigo com Sab 17 fica com 1d4 mortos para afastar ao invés de 1d6"
@johcker Estava passando a Eledriel para o Roll20 e percebi pelo Livro Básico Aprimorado ela deveria afastar 1d6 Mortos Vivos, mas o cálculo apresenta apenas 1d4.

[2020-11-18 01:08] johcker commented on #7727
@killerasus o cálculo da quantidade afastada se baseia no Carisma e não na sabedoria, com carisma 14 ela só afasta 1d4 mesmo.

[2020-11-18 01:09] killerasus commented on #7727
Caramba, li errado então, cancelando o issue

[2020-11-18 01:09] #7727 closed

[2020-11-18 13:20] Anduh commented on #7725
I've only made some bug fixes by request, haven't used the sheet, and welcome any updates to it. All the more likely I might play it one day.

[2020-11-20 22:24] Gabbalo opened #7745 "DE Translation is wrong"
According to the official translation of the corebook by Ulisses Spiele there are several other wordings used.
I whould update those by myself, but it is much faster to open this issue that to install git and get it running as a non-gitter -.-

Line 8: Aufgeregt -> Aufgebracht
Line 15: Kraftakt -> Kraft
Line 19: Berechnen -> Rechnen
Line 21: Einschmeicheln -> Einfühlen
Line 23: Ermitteln -> Unters

[2020-11-21 14:58] Alzared opened #7747 "Warhammer Fantasy Roleplay 4e Official : Magic / Translation / Lore not poping"
Hi,

I've noticed a bug, when you use a translated sheet (French in my case), If you try to sreate a spell in the list, when you choose Spell (Spell/Pray) the field "Lore" does not pop.

Thanks.

[2020-11-21 15:19] Stexinator commented on #7745
Translations are done via Crowdin. I suggest you create an account and submit the fix

[2020-11-21 17:45] Gabbalo commented on #7745
I can only access unfinished translations over there (or I have no clue how to access the finished charactersheets). How can I modify a finished translation?
<img width="907" alt="2020-11-21 18_45_02-Translating Roll20 Official Character Sheets to German language" src="https://user-images.githubusercontent.com/5897819/99883750-be204800-2c29-11eb-80fc-805d0ab8da0b.png">

[2020-11-21 20:29] Anduh commented on #7745
It seems that sheet's translations is in the regular sheet project, here: https://crowdin.com/translate/roll20-character-sheets/9978/en-de?filter=basic&value=0

[2020-11-22 13:59] Gabbalo commented on #7745
Ok, I think I managed to update the options. I guess, now I have to wait if the translation manager or whoever accept the wording or denies it (which whould be sad because it's the official wording ;) )
Thank you for your help in doing this 👍

[2020-11-22 15:13] aureyia opened #7755 "[The Burning Wheel] Open-ended tickbox no longer visible unless hovered over."
The open-ended tickbox on The Burning Wheel Sheet are now no longer visible unless you hover over the element:
![image](https://user-images.githubusercontent.com/19798820/99907504-fe88d000-2cd4-11eb-8c9b-fa1089164d35.png)
![image](https://user-images.githubusercontent.com/19798820/99907560-49a2e300-2cd5-11eb-8212-d44f5f654f5e.png)

Most players will now not know that it exists and will assume it i

[2020-11-22 15:21] aureyia opened #7756 "[The Burning Wheel] Delete Skill box overlapping skill info"
![image](https://user-images.githubusercontent.com/19798820/99907603-a69e9900-2cd5-11eb-8966-714ccd883f76.png)
The delete box is now overlapping the other elements. This on skills and being learned skills.

[2020-11-22 17:04] Stexinator commented on #7745
@Gabbalo please close this issue when you got a solution

[2020-11-23 18:42] fennelin commented on #7721
Le calcul a été corrigé. Le comportement est maintenant le suivant :

oeuvre au noir somme des deux (pour tenir compte des deux positions)
oeuvre au blanc : seul le plus petit Ka des deux est pris en compte

[2020-11-23 22:03] Fliptop023 opened #7769 "[Warhammer Fantasy Roleplay 4e Official] Career and other issue"
Duelist has WS, I, and Ag as tier one advances not WS, Str, and Ag.

Auto xp spending calculation no longer working, as a gm it was useful to determine if people were adding correctly or not - I have two players who are dyslexic/dyscalculic.

Combat tab needs a copy of talents and conditions so as not to force changing between combat tab and main tab, maybe just a reference to those talents.  Coul

[2020-11-25 09:13] Gabbalo commented on #7745
Translation is now working. Thank you 👍

[2020-11-25 09:13] #7745 closed

[2020-11-25 09:18] Gabbalo opened #7777 "Tales from the Loop Sheet at zero or negative dices"
Hi everyone,

if you have multiple conditions you might run into zero or even negative dice count. Based on the corerulebook, that can only happen in one situation: If you are broken (where you have zero dices and everything fails by default). Otherwise you always have at least one dice to roll. So if you click on the action and you are mathematically on less than one dice it should roll one dice.

[2020-11-26 00:15] #7725 closed

[2020-11-26 04:12] #7769 closed

[2020-11-26 04:12] Fliptop023 commented on #7769
I'm an idiot

[2020-12-01 01:48] rotoclone opened #7819 "[The Burning Wheel] Cannot switch tabs on character sheet"
As of today (November 30th), the buttons on the top of the character sheet to switch tabs are no longer switching tabs. They were working fine the last time my group played on November 25th. We are all seeing this issue in Chrome, Firefox, Edge, and Safari.

If I manually change the `value` attribute of the `input` tag with class `sheet-tabstoggle`, the shown tab does change. And changes made to t

[2020-12-01 01:55] rotoclone commented on #7819
Found an issue for this in Seraaron's fork: https://github.com/Seraaron/roll20-character-sheets/issues/3

[2020-12-01 18:20] MadCoder253 opened #7826 "[GURPS] Script and autocalc fields are broken Urgent"
Several users reported in the GURPS thread that the sheet is now broken. The last set of updates were two weeks ago, I do have a pending pull request but it hasn't been merged yet.

Here's a link to the first reported incident.

https://app.roll20.net/forum/permalink/9554202/

Thank you,
Ken

[2020-12-01 19:50] Anduh commented on #7826
Roll20 Character Sheet Backend Changes where rolled out yesterday, are likely the cause of this issue. Seem [my comment](https://app.roll20.net/forum/permalink/9556767/) in the main thread for an full explanation.

The issue is identified, and a fix will be out later today, is what I was just told.

[2020-12-01 19:51] Anduh commented on #7819
Roll20 Character Sheet Backend Changes where rolled out yesterday, are likely the cause of this issue. Seem [my comment](https://app.roll20.net/forum/permalink/9556767/) in the main thread for an full explanation.

The issue is identified, and a fix will be out later today, is what I was just told.

[2020-12-01 19:52] MadCoder253 commented on #7826
Thanks @Anduh !

[2020-12-01 19:52] #7826 closed

[2020-12-02 13:39] JCDJ101 opened #7835 "MGT Traveller 2e can't change tabs"
Hi,

I've been designin a MGT2 traveller game during 1 week and everything was working perfectly. But today I wanted to create a character and I just realized I cannot switch tabs inside the character sheet. Its just "locked" and cant change from for example " Prime " to "Skill" tab...

If you know what it can cause this please I await your response.
Ty.

[2020-12-02 13:39] Vyzzini opened #7836 "[ChroniquesOublieesContemporain] - Modificateurs d'Attaque restent actifs après suppression"
Bonjour,

J'ai le bug suivant sur la fiche ChroniquesOublieesContemporain:
- Je n'ai aucun modificateur d'attaque.
- J'ajoute un modificateur d'attaque "Ajuster" avec un bonus de +2.
- Je fais un jet d'attaque, le bonus de +2 est bien pris en compte.
- Je supprime le modificateur d'attaque "Ajuster".
- Je fais un jet d'attaque, le bonus de +2 pour "Ajuste" est toujours pris en compte même si il n'

[2020-12-02 23:34] Baleine82 commented on #5634
Hello there.

@Anduh  ,are you still working on the translation or did you give up?

I checked your repository but I didn't found a work in progress.

So, just to keep you in touch, I started to work on the sheet.
If anyone reading this feels that something could be improved (I'm sure there are some needed), just ask, and either I'll do it or we'll raise another issue.

I've started my work anyway

[2020-12-03 03:28] rotoclone commented on #7819
I'm not seeing this issue anymore as of today

[2020-12-03 03:28] #7819 closed

[2020-12-03 13:13] MildarAA opened #7845 "[CyberpunkRED_raycw] - Attack rolls with melee always roll 1"
As in headline. The calculation is wrong as it does +1d10 instead of using relevant skill

[2020-12-03 13:16] Baleine82 commented on #5634
My branch is there in case anyone would like to check it out : https://github.com/Baleine82/roll20-character-sheets/tree/DeathwatchTranslation

I still have some work to do because everything is set in a fixed manner in the page, so the translation texts have to comply on not being longer than the english counterpart. I'll see what I can do about it, but I'm really not trained with CSS. I'll try t

[2020-12-03 16:43] dyvim commented on #5634
hello @Baleine82

You are no more able to merge modifications in the translation files directly in github IIRC
You can only modify html and css files and the original translationµ.json according to the new policy ( if i understand correctly)
I say that because i've seen on your repository that you have modified fr.json
Translations have to be done via Crowdin

BRgds
(it seems that we are both fren

[2020-12-03 16:58] Anduh commented on #5634
Never looked into it, just plainly forgot.

I have nothing, and my auto-i18n creating script is only useful for sheets that have no prior tags, so there probably isn't much for me to contribute, I've mainly helped out with creating translations in cases where my script have been useful at the start by automating some of the simple work.

Assume you're talking about the variance in word length caus

[2020-12-03 17:44] Baleine82 commented on #5634
I did get a quick glance on that, it could help. Isn't there a way in CSS to tell an input to fill with available space in a div? That's something basic in most GUI languages.

I think I'll adjust some spaces here and there as a first step, because if I'm doing huge revamp, it should be in another PR.

Indeed, we are ;)

[2020-12-03 19:54] Anduh commented on #5634
Likely, you'll have to google about it, and look at MDN for how inputs behave. Don't have any immediate suggestions on how to do it.

[2020-12-03 23:49] Baleine82 commented on #5634
Indeed, I found what I searched.
It can prove very useful, so I share it here  : https://jsfiddle.net/836c154c/

[2020-12-04 08:19] simchanu29 opened #7851 "[Anima Beyond Fantasy] Add popup when opening newly created sheet to explain some uses"
Hi,

I wanted to use this sheet for my Anima campaign but I wasn't able to find where to specify level and class. After some question to the discord server of the french community I finally found where.

I think there may be some ergonomy issue since I struggled to find the area to specify the level. The top bar where the level and xp are showed are misleading since it led me to believe that the l

[2020-12-04 13:50] MildarAA commented on #7845
Fixed in last version

[2020-12-04 13:50] #7845 closed

[2020-12-04 15:56] dyvim commented on #5634
good to know that. thx

[2020-12-04 16:40] Baleine82 commented on #5634
I should be able to create the PR in the next 24h. I'm doing final checks, but the translation should be alright (except for rolls, but I'm looking if I can find an easy solution).

[2020-12-04 18:31] Anduh commented on #5634
`display: table-cell;` ?? Lol this ís completely new to me. Thanks for sharing.

[2020-12-04 18:33] Anduh commented on #7835
this should be fixed now. Please close the issue if it was resolved.

[2020-12-04 18:37] #7835 closed

[2020-12-04 18:40] Anduh commented on #7851
A more practical and community collaborative approach would be to create a page for the sheet on the Roll20 Community Wiki, were everyone could share tips & tricks, and no coding for the sheet would be needed.

If you follow this link and save some info, a page will be created: https://wiki.roll20.net/index.php?title=Anima_Beyond_Fantasy&action=edit&redlink=1
It would then be accessible at the add

[2020-12-05 11:02] Akefal opened #7863 "[Shadowrun 5th Edition] Attributes skills names are now in french and can't be properly linked"
Hi,

I don't know why as I don't see a recent sheet's release but skills are no longer properly linked because their Attributes name is now in french.

For example, score of @{primary_melee_weapon_skill} is no longer added to the dice pool.
When I check Attributes & Abilities, I can see that Attributes are translate in french.

So when @{primary_melee_weapon_skill} try to catch @{unarmedcombat} it

[2020-12-05 13:09] Akefal commented on #7863
Ok, Roll20 has deployed crowdin for translations. I presume that the issue is linked.

[2020-12-05 13:15] Noctifer1011 commented on #7863
Yeah, I'm not seeing this in my Shadowrun character sheets, but I'm using English, as are my players, so I suspect you're right about the Crowdin translator mucking with things it shouldn't.

[2020-12-05 17:43] #7863 closed

[2020-12-05 17:44] Akefal commented on #7863
These issue is not relating with github translations files.

[2020-12-08 07:03] Pellanor opened #7887 "[Shadow of the Demon Lord] commas break sacrifice spells"
When a comma is used in a sacrifice spell description then the comma and anything after it are not displayed when the spell is cast.

![sacrifice_cut_off](https://user-images.githubusercontent.com/3335485/101450883-774c7680-38e8-11eb-9110-2c3b2c7514ac.png)

I tested a few other strings and verified they all get cut off at first comma.

[2020-12-08 18:56] Seraaron commented on #7755
This was intended for a cleaner look. The star symbol is explained in the documentation (see the README link button next to the sheet version number) and on the roll20 mainpage when you select the sheet while setting up a new game. I also think it's fairly implicit from being able to see stats that start open-ended by default, a curious player can find out it's there naturally.

But if enough peop

[2020-12-08 19:02] Seraaron commented on #7756
I noticed this too while developing the sheet, and tried fixing this a few times, but the way that these elements overlap is very strange. I think it's partly because the Add/Modify/Delete buttons are built in by Roll20. Since this such a minor graphical bug that you only notice very infrequently while actually using the sheet, I gave up on trying to fix it. It just wasn't worth the effort.

If an

[2020-12-08 19:44] aureyia commented on #7756
I'll have a look into it and see if I can come up with something.

[2020-12-09 16:23] Seraaron commented on #7756
Nevermind, I managed to sort of fix it:
![See](https://i.gyazo.com/6558349feea6ab3976f47e168ad2664a.png)

I'll add it to my latest pull request.

[2020-12-09 17:02] Seraaron commented on #7755
Actually, since I'm submitting a pull request this week anyway for other updates I might as well add it back in and see what the response is. It won't break anything afterall :)

[2020-12-09 17:40] #5634 closed

[2020-12-09 21:44] Stexinator opened #7898 "[DSA 5 - Tsa Bogen] collapsible talent kategories"
Für die Übersichtlichkeit wäre es gut, wenn die verschiedenen Talentgruppierungen nicht untereinander sind. Ich sehe hierfür zwei Möglichkeiten: die Gruppen zuklappbar machen, oder Sub-Reiter machen

@Trestolt arbeitest du noch aktiv an dem Sheet?

[2020-12-11 20:04] WallaceMcGregor commented on #6465
Is there any chance in the future that the translations can be set up for the wonderful sheet? The Spanish edition of the game has already been released and the community would be very grateful for the opportunity to have the sheet in their language.

Thanks

[2020-12-12 12:56] Trestolt commented on #7898
Hi @Stexinator, ich habe gerade zuwenig Zeit für zuviel Projekte, daher sammle ich jetzt erst einmal weiteres Feedback, bevor ich einen neuen Sprint starte. Zu deiner Idee: Ich hatte schon eine längere Diskussion mit meinen Beta-Testern, wie das Layout der Talente aussehen könnte, da wurde die Gruppierung in Sub-Reiter  eher abgelehnt. Aber die zuklappbaren Gruppen werde ich mir nochmal anschauen.

[2020-12-13 00:20] reveblve opened #7921 "Character Sheet translations"
https://wiki.roll20.net/Character_Sheet_Translation

[2020-12-13 10:52] Stexinator commented on #7898
@Trestolt ich kann mich da auch gerne selber dran setzen. Ich wollte dir nur nich ins Handwerk pfuschen :)

[2020-12-13 12:56] Seraaron commented on #7756
This can be closed now, I think.

[2020-12-14 17:07] Yamings opened #7930 "[Nephilim Legende]"
Bonjour @Zakarik.
Suite au changement de fiche sur Nephilim Légende, voici quelques retours suite à une partie.

**Côté bugs :**
- [ ] Lorsqu'on lance un sort, que l’on fait une confrontation de Kabbale ou qu’on fasse une alchimie, le titre du lancer n'est pas centré, contrairement aux autres jets de dés.
- [ ] Dans l'alchimie, lorsqu'on modifie les valeurs des œuvres (au-dessus de la voie initiat

[2020-12-14 21:47] Anduh commented on #7921
Because whoever created the sheet made it in their free time and just didn't have the interest to go the extra mile to create it? Who knowns.

It's not an easy thing to do, and not all sheets have them either. Don't know many people who want to volunteer their time to make something that sounds like a demand being taken for granted...

[2020-12-15 21:22] Zakarik commented on #7930
J'ai envoyé une mise à jour de la fiche :

C'est corrigé.

C'est corrigé.

Je vais me renseigner auprès de l'éditeur (car c'est une commande) pour être certains, et je verrai, au besoin, pour corriger ça.

C'est corrigé.

C'est corrigé.

C'est ajouté.

C'est ajouté.

C'est ajouté.

C'est compliqué, car je manque beaucoup de place, donc je ne vois pas où y mettre de manière "simple".

J'ai ajouté d

[2020-12-17 21:34] #7756 closed

[2020-12-17 21:35] #7755 closed

[2020-12-20 20:50] jstreeky opened #7954 "[Shadowrun5th] Will Missing from Advanced Shadowrun Drain-Attribute Dropdown"
[
![willmissing](https://user-images.githubusercontent.com/2574951/102724034-74835580-42da-11eb-9927-c994f24f7dea.png)
](url)

Will is missing as a Drain-Attribute, Gypsy get Will + Will, which is cheese, but should be possible in the character sheet

[2020-12-21 22:47] mdanielak opened #7964 "[Vaesen-dodgepong] Translation files and small improvements request"
Hello @dodgepong

Your card is pretty good, however would you mind having a look and improving it a bit? I have two requests, I hope those are small. At least the first one should be.

1. What do you think about adding in brackets information to which attribute given skill is connected? Like Agility [PH].

2. Translation files would make everything more fun. At least playable character sheets. Swi

[2020-12-21 22:51] dodgepong commented on #7964
Sadly my Vaesen game ended several months ago and I don't particularly have much interest in maintaining this anymore. Feel free to fork it and submit updates to the official repo!

[2020-12-21 22:52] mdanielak opened #7965 "[Vaesen] Translation files and small improvements"
Hello @starshipsandsteel

I would love to use your card to play Vaesen, It has everything it needs, however it misses two functionalities. One is crucial for me.

1. I really miss NPC/Vaesen character sheets. Writing down on notepad characteristics and health points doesn't look like fun to me. Is it possible for you to add such character sheet type?

2. Translation files would make everything mor

[2020-12-21 23:02] mdanielak commented on #7964
I would love to do it, sadly I don't have a pro account.

[2020-12-21 23:25] dodgepong commented on #7964
I let my pro account expire after the free trial they gave out for Free RPG day.

[2020-12-22 14:33] starshipsandsteel commented on #7965
Hi @mdanielak

1.  I am not sure what you mean here, the sheet in roll20 has tabs at the top of the character sheet that allow a roll20 "Character" to be a PC, NPC, or Vaesen for tracking and rolls.  If you mean something else I think I will require clarification.

![image](https://user-images.githubusercontent.com/68384161/102899080-a229e500-4427-11eb-86b7-d9f88f57ae8d.png)

2. As in you are play

[2020-12-22 14:57] mdanielak commented on #7965
Thank you for a fast reply @starshipsandsteel ! First of all, my bad. There are two versions of Vaesen character sheets on roll20 and I have mistaken yours with the other one, sorry! Yours is the one that we (me and my friends) agreed to use during our campaign.

1. It is not related to your character sheet.
2. Yes, this is exactly what I meant. Sorry for not being clear.
3. Would it be possible t

[2020-12-22 15:24] starshipsandsteel commented on #7965
1) Ahhh! Ok, no problem!
2) No worries, something I can look into, but don't hold your breath on it being a quick thing.
3) Yes.  That can be added, I use a similar layout for a Conan sheet and ended up doing the same thing.
4) This is a result of "Labels" on objects displaying differently against a input field and a text area field.  It is certainly not optimal, and something that can be fixed, t

[2020-12-22 18:50] starshipsandsteel commented on #7965
Just pushed some updates.  General sprucing up as well as adding ph,pr,lo,em suffixes to the skills.  I haven't looked at the styling on the NPC/Vaesen/HQ sheets but I will work on them as time permits.  You should see the changes next week maybe, not sure how Roll20 is doing merges over Xmas.

Cheers!

![image](https://user-images.githubusercontent.com/68384161/102922683-a962ea00-444b-11eb-8446-3

[2020-12-22 19:09] #7964 closed

[2020-12-22 19:12] mdanielak commented on #7965
Thank you for a fast reaction! The new style looks awesome! I'm looking forward to translation files (but no pressure). Happy Xmas!

[2020-12-22 19:18] starshipsandsteel commented on #7965
Oh wow.  They rolled it in already!  Should be there for you to take a look at.  Wasn't expecting that!

[2020-12-26 23:20] erikjordan opened #7985 "[Star Wars FFG Alternate] Wrong "Stun" qualities for weapons"
@timothyyuen-ty

Thank you so much for your sheet! Of all the ones out there I like it the best.

The character sheet seems to have several problems with it related to "Stun" qualities for weapons. Here is what I see:

![image](https://user-images.githubusercontent.com/1298330/103160591-d8a38f00-479c-11eb-9f45-09ecb61d09de.png)

This Stun quality, based on the description, should be called "Stun D

[2020-12-27 01:29] timothyyuen-ty commented on #7985
Hi there!  Thank you.

You're right.  I had made the current Stun toggle for the first entry "Stun Damage" - basically just noting whether or not the weapon has a stun setting.  I can add another ranked Stun entry under the weapon qualities.  I can probably add this sometime in  next week, depending on my work schedule.

Tim :-)

[2020-12-28 18:08] timothyyuen-ty commented on #7985
Hi Erik,

I've added the Stun quality to the sheet and have submitted a PR to Roll20.  If you'd like to pick it up earlier, grab it from my repo.  Thank you and have fun!

https://github.com/timothyyuen-ty/roll20-character-sheets/tree/master/Star%20Wars%20FFG%20Alternate

Tim 🙂

________________________________
From: Erik Jordan <notifications@github.com>
Sent: Saturday, December 26, 2020 4:20 PM

[2020-12-30 21:07] Lockbox313 opened #7999 "[Roll20 official CoC 7th edition] Has disappeared from the new game selection"
It has disappeared from the new game selection dropdown and in current games setup with the sheet is listed  as deprecated 5th edition sheet.

[2020-12-31 04:39] KrisHammerberg opened #8001 "Tales From the Loop Character Sheet - Information not displaying when reopened"
The Favorite Song and Iconic Item attributes do not display when the character sheet is closed and then reopened. The attributes are saved, but simply do not appear on the Character Sheet. [It seems like this is a "known" issue with a work around](https://app.roll20.net/forum/post/9225075/slug%7D), but I thought I'd log an issue report since it is still a problem and not everyone trawls the forums

[2021-01-03 20:14] nottsknight opened #8009 "[Wrath and Glory API] Attributes out of order"
Attributes are presented in a different order to the rulebook. Rulebook order is as follows:

- Strength
- Toughness
- Agility
- Initiative
- Willpower
- Intellect
- Fellowship

[2021-01-04 21:33] Stexinator opened #8016 "[DSA 5] Modifier mit + erlauben"
@Meteox es ist möglich die Zahlen im Modifikator-Popup mit dem + einzugeben, wenn man das Ergebnis der Query in [[ ]] packt.

Magst du dies im Sheet updaten?

[2021-01-05 07:59] #7930 closed

[2021-01-05 08:09] Yamings opened #8018 "[Nephilim Legende] Rollback de fonctionnalités"
Bonjour @Zakarik

La dernière pull request effectué sur la fiche de roll20 a engendré un rollback des dernières fonctionnalités implémentées, en plus d'avoir cassé le lien des différentes images de la fiche, la rendant difficilement utilisable.

Un petit exemple de ce que cela donne pour le pentacle de l'onglet Nephilim :
![image](https://user-images.githubusercontent.com/76000028/103620998-ccee60

[2021-01-05 12:31] raymondh3 opened #8020 "Discipline needs added to weapons in Star Wars FFG API-Compatible"
so i was looking at the weapons list and we have  these
`   <option value="skill(@{rankBrawl}|@{brawn})" data-i18n="brawl">Brawl</option>
                                                    <option value="skill(@{rankGunnery}|@{agility})" data-i18n="gunnery">Gunnery</option>
                                                    <option value="skill(@{rankMelee}|@{brawn})" data-i18n="melee">Melee</op

[2021-01-05 16:10] raymondh3 commented on #8020
update i must have messed up at first when i did it since i went back and tried again and it worked in my test so ill likely do an update to the sheet if no one else does

[2021-01-05 19:50] hip2behip2be opened #8024 "[Zweihander] Modifier and Difficulty displayed twice"
**Might need to be change code starting on line 2559 from**

                {{#difficulty}}
                    <div class="template-grid-item template-span-one-two">
                        <span>{{difficulty}}</span>{{diff}}
                    </div>
                {{/difficulty}}
                {{#mod}}
                    <div class="template-grid-item template-span-three-four">

[2021-01-05 21:10] Zakarik commented on #8018
Désolé pour ça !
Je ne sais pas ce qu'il s'est passé exactement, j'ai du m'embrouiller, mais c'est corrigé à présent.

[2021-01-06 09:33] #8018 closed

[2021-01-08 13:16] #7999 closed

[2021-01-08 13:16] Lockbox313 commented on #7999
Apparently it's back

[2021-01-08 23:12] Stexinator commented on #7954
@jstreeky I think this can be closed.

[2021-01-08 23:15] Stexinator opened #8046 "[Shadowrun 5] Import broken"
Recently the import functionality broke down. On  first glance I could not find a reason.

@clevett are you still maintaining this sheet? Or should I dig more into it?

[2021-01-09 18:57] Anduh commented on #8046
- Is it broken for any files you try importing?
- have either the sheet or Chummer recently been update? could be the cause
- when was the last time the importer worked?

[2021-01-10 11:07] Stexinator commented on #8046
The button does not open the import interface.
The sheet was updated but not the part of the import.
Somewhen last year around october november was the last time I imported something

[2021-01-10 18:37] Pusikas opened #8054 "[Conan: Adventures in an Age Undreamed Of] Talent display suggestions"
Hello and thanks for this nice character sheet!

Here are some suggestions for improvement of the display of talents:
1. There is a "Skill" dropdown. Not all talents are based on skills, though. An example would be the "Berserker" talent from Conan the Barbarian, or the Fortune talent line from the core book. It would be really nice if you would make it possible to just leave this field empty. Or

[2021-01-11 10:11] Stexinator commented on #7540
Which sheet + system are you talking about?

[2021-01-12 20:02] clevett commented on #8046
I've dropped all support for Roll20 Character Sheets. You can find the source code here, https://github.com/clevett/Roll20-character-sheet-Shadowrun-5th-Edition

[2021-01-13 16:33] #7954 closed

[2021-01-13 20:40] Gabbalo opened #8083 "Cannot choose "Teens in Space" template"
Even while listed in the Github repo, you cannot choose Teens in Space as system for a Roll20 game.
I remember I could maybe 3-4 weeks ago, but now, my game is system-less and I cannot choose that system anymore.

<img width="579" alt="no_TIS" src="https://user-images.githubusercontent.com/5897819/104507887-b35db000-55e7-11eb-9c25-db5867823306.png">

<img width="727" alt="yes_TIS" src="https://use

[2021-01-14 16:51] Riernar commented on #6783
Hi @Medieve

I think you could use `floor()` to wrap the `@{Fatigue}` attribute in a sub-roll, as in `[[ ... + [[floor(@{Fatigue})]] + ... ]]`, to completely hide that detail from the user (even in tooltip). I tested that on some rolls and it seems to work fine.

I ended up making more change to the sheet to try and add [inline lables](https://wiki.roll20.net/Dice_Reference#Inline_Labels) (I find

[2021-01-15 23:11] Medieve commented on #6783
That sounds a great workaround. I was considering that it would need a sheet worker but yours sounds more sane. Feel free to submit

[2021-01-16 17:38] Anduh commented on #8083
just search the dropdown for the sheet, and it appears

![teens](https://user-images.githubusercontent.com/2890634/104818776-6588b800-5832-11eb-955b-6591ed051780.png)

[2021-01-16 18:47] Gabbalo commented on #8083
Yes, I figured out, I cannot choose the game from the frontpage of the game (where you set the description and stuff), but I can choose the game in the configuration page to setup the character sheets.
So, the issue is not present and therefor closed.

[2021-01-16 18:47] #8083 closed

[2021-01-17 03:52] MadCoder253 opened #8092 "[Generation] character sheet files have CRLF instead of LF"
Hi,

I just did a `git merge upstream/master` and the files for Generation use CRLF. This is causing me issues since git is showing that I modified the files because I follow the rule of `pull line endings as is` but `commit using LF`. Can someone fix these files?

Thanks.

[2021-01-20 01:27] Anhkwearer opened #8113 "RuneQuest Glorantha Character sheet"
The graphic for the dice rolls on the full sheet are all Luck runes. No matter what type of roll it is. While on the Quick sheet, they are dice symbols for normal rolls, x? for multiplied characteristic rolls, and -p% symbols for modified rolls.

Please change the art on the graphics. While the Luck rune is thematic for the setting (if you have the old books), it isn't present in the new version o

[2021-01-20 20:15] Riernar opened #8116 "[Ars Magica 5] Sheet tabs are rendered as plain radio buttons"
Hi @Medieve and everyone,

I think there is a problem with the tabs selector on the Ars Magica 5 sheet: it is rendered as 5 plain radio buttons instead of the nice headers visible [on the forum](https://app.roll20.net/forum/post/8479777/slug%7D). I tried with firefox, on both windows and unix.

Unfortunately, I don't now html/css and I have no idea how to fix this. If anyone has pointers, I can tr

[2021-01-21 00:17] Medieve commented on #8116
This is just the state of the sheet in Firefox, I honestly have no idea why Firefox won't render the headers.

[2021-01-21 08:53] Anduh commented on #8116
Sometime around a year ago Firefox changed how something worked, resulting it that specific way many older sheets use of trying to show tabs not working any longer. This isn't the only sheet that's affected.

The current example on [CSS Wizardry](https://wiki.roll20.net/CSS_Wizardry#Tabs) works on firefox, but changes the radio inputs to action buttons.

**Ambition & Avarice** and **Stargate-RPG**

[2021-01-21 08:56] Anduh commented on #8092
Seems the line endings are fixed two days ago, so this issue should be resolved: https://github.com/Roll20/roll20-character-sheets/tree/master/Generation

[2021-01-21 08:58] Anduh commented on #8113
@ragamer and @Lockbox313 are the last two to have updated the sheet, does either of you have any insight or interest looking into this?

[2021-01-21 09:04] Anduh commented on #8024
Removing the tranlsation tag doesn't sound like the real solution, and it's likely betteer to do:'
[code]

@nogileyelsew any comments?

[2021-01-21 10:10] Lockbox313 commented on #8113
This is a very entitled request. Also the Luck rune is in the new version of the game on page 15 of the Runequest Roleplaying in Glorantha rulebook .  It is also on page 193 of the Glorantha Sourcebook and page 149 of the Guide to Glorantha Volume 1.  Both core books for this version.

[2021-01-21 12:50] Riernar commented on #8116
Looks like I completely missed that section in CSS Wizardey (oops!). Thank you so much, I'll use the Stargate/Ambition & Avarice sheet to adapt tabs to firefox.

[2021-01-21 17:00] Anhkwearer commented on #8113
I agree. This is an entitled request. I am asking as the Director of
Organized Play from Chaosium Inc., so it might not be unearned entitlement.
And yes, the rune is present in the setting. But not on character sheets,
nor as something that has rules in the game.

On Thu, Jan 21, 2021 at 2:11 AM Lockbox313 <notifications@github.com> wrote:

[2021-01-21 18:27] Lockbox313 commented on #8113
If you had lead with your title  the request would have had a been better response.  It strange that this is the first time that  anyone from Chaosium has even  acknowledged the existence of custom sheets for their products on Roll20 and then labels one of them as "misleading".
Anyway I have already added tool tips to the double buttons and a header over the buttons for characteristic rolls.  What

[2021-01-21 19:00] Lockbox313 commented on #8113
![sample](https://user-images.githubusercontent.com/8994813/105398945-dce78e80-5c1a-11eb-831c-e38d21956a86.jpg)

[2021-01-21 19:42] Anhkwearer commented on #8113
First time on GitHub. So thank you for your guidance.

We have tons of CoC stuff, but yes. We are increasing our support for
RuneQuest and love it that people like you are working in that area.

The preferred graphic is the one that is on the quick start sheet seen on
Roll20 by toggling the character sheet view in the top left option box.

On Thu, Jan 21, 2021 at 10:28 AM Lockbox313 <notifications

[2021-01-21 20:45] Lockbox313 commented on #8113
![sample3](https://user-images.githubusercontent.com/8994813/105410313-a49b7c80-5c29-11eb-9dfc-e6789b67b92a.jpg)

[2021-01-21 23:50] Anhkwearer commented on #8113
Very close. The right die of every pair might instead have the "-?" symbol
to indicate it is modified.

But thank you so much for this fix!

On Thu, Jan 21, 2021 at 12:46 PM Lockbox313 <notifications@github.com>
wrote:

[2021-01-22 00:25] Lockbox313 commented on #8113
That's not a quick fix.   It will take a few days before I can get around to that.

[2021-01-22 00:35] Anhkwearer commented on #8113
Sure, that makes sense. Again, my deadline is Jan 29th. Is that a workable
date for you?

Also, contact me directly at todd@chaosium.com so I can include an
incentive when you are done.

On Thu, Jan 21, 2021 at 4:25 PM Lockbox313 <notifications@github.com> wrote:

[2021-01-22 00:44] Lockbox313 commented on #8113
Should be

[2021-01-22 12:37] Riernar commented on #8116
I ported the code to the recommended style on the wiki, as it seems much simpler and possibly more compatible with other browsers (e.g. Safari). My progress is [on a new branch](https://github.com/Riernar/roll20-character-sheets/tree/arm5-tabs) that I will merge into the PR once ready.
There are still bugs:
+ The tab button are confined on only half the sheet width, the rolling button using the ot

[2021-01-22 14:43] Anduh commented on #8116
https://wiki.roll20.net/CSS_Wizardry#Button_Styling

[2021-01-22 15:01] Riernar commented on #8116
Oh thanks, I forgot to add the critical button to the CSS selector doing that !
I got most things working now, just got to figure out how to select the tab currently opened in CSS to change de button background.

[2021-01-22 15:30] Riernar commented on #8116
Layout is working, merged in #8094

[2021-01-25 15:10] MartiniSz opened #8142 "[DSA5-TSA] Button names"
Wäre es möglich den wichtigsten Würfelbuttons Namen zu geben?
Makros wären dadurch deutlich einfacher.
Wäre es außerdem möglich Würfelergebnisse oder das Resultat (geschafft oder nicht) irgendwo zwischen zu speichern also in den Attributen?
Ziel wäre es Kämpfe etwas schneller zu gestalten indem Spieler sofort einen Gegner anwählen können den sie angreifen und dann deren Verteidigungswurf direkt mi

[2021-01-25 22:33] #7747 closed

[2021-01-26 11:08] Lockbox313 commented on #8113
This has been done so this issue cab be closed

[2021-01-31 19:40] Oparrudo opened #8184 "Ficha de Gurps"
[gurps-3e-ficha-de-personagem-v-bruno-ikeda-biblioteca-elfica.pdf](https://github.com/Roll20/roll20-character-sheets/files/5900512/gurps-3e-ficha-de-personagem-v-bruno-ikeda-biblioteca-elfica.pdf)

[2021-01-31 19:51] wesbaker opened #8185 "Add sheet setting to default all new sheets to a specific tab"
You'll probably create far more NPCs/Monsters than you will PCs, so lets make that a setting and default it to Monster.

[2021-01-31 19:51] #8185 closed

[2021-02-01 02:16] #8092 closed

[2021-02-01 02:16] MadCoder253 commented on #8092
Thanks @Anduh

[2021-02-01 09:36] MadCoder253 opened #8191 "CRLF issues for Generation/sheet.json"
I can't complete my pull request due to another issue with CRLF. I follow the suggested process of creating a fork, merging upstream/master to remain in-sync. I have GIT setup using the standard method of handling CRLF; when making commits all CRLF are automatically converted to LF. I rebased my forked master branch to the Roll20 master branch and everything is identical, but when I make changes t

[2021-02-02 12:17] Almos80 commented on #7616
I have the same issue of misalignment in the "AC Items" repeating section when using Firefox 85.0.
Looks fine in Chrome for me as well.

[2021-02-04 02:47] vince-roll20 commented on #8191
I had the same issue when I submitted a pull on another sheet...  I ended up closing my first pull and re-submitting a separate pull for the generation sheet and the pathfinder sheet.  I have no clues why the generation sheet.json caused an issue with my local fork and branch...

[2021-02-04 03:04] MadCoder253 commented on #8191
Thanks @vince-roll20

[2021-02-04 03:04] #8191 closed

[2021-02-07 15:33] Arkundar opened #8242 "Equipment list reordering problem"
Hi,
I have an issue with reordering equipment.
Nothing moves.
I tried and tried.
Sometimes an item moves outside the list. (see images attached).
I disabled all my add-ons and tried on Chrome and Firefox. Not working.

![SR5_item_reorder1](https://user-images.githubusercontent.com/69141037/107151225-727b6180-692f-11eb-99bb-64b693625a9b.gif)
![2021-02-03 07_14_23-Kowalski — Mozilla Firefox](https:/

[2021-02-08 01:56] Karlinator commented on #8242
Are you experiencing this with only one sheet, or on others as well? If this happens in different sheets (that is, in multiple different game systems) you should report it to Roll20 [here](https://help.roll20.net/hc/en-us/requests/new).

And which character sheet are you experiencing this in?

[2021-02-08 04:15] Arkundar commented on #8242
I confirm the problem occured in Shadowrun 5th (Advanced) sheet and in D&D 5E by Roll20 sheet (see animated gif below).
![Kowalski-—-Mozilla-Firefox-2021-02-07-23-06-03](https://user-images.githubusercontent.com/69141037/107175211-39c4a200-699a-11eb-8366-2b74a89bfa8b.gif)

[2021-02-08 07:57] MadCoder253 commented on #8242
Do you have the character sheet popped out into a separate window? If so, this is a known bug, but I have no clue if they made any progress with that bug. Drag-drop should work when the character sheet is part of the Virtual Desktop.

[2021-02-08 10:55] Arkundar commented on #8242
It is indeed popping in a separate window. I forced Firefox to open it in a separate tab but it doesn't fix the problem.

[2021-02-09 21:28] clevett commented on #8046
This should now be resolved.

[2021-02-10 00:09] #6783 closed

[2021-02-10 00:09] #8116 closed

[2021-02-12 15:40] #8046 closed

[2021-02-12 15:44] Stexinator commented on #8142
Ich verstehe das Problem nicht.

Du kannst dir doch ein targeted Makro schreiben, welches den Angriff macht und einen W20 hinterher würfeln. Wenn du willst, dass da auch steht ob eine Verteidigung erfolgreich war, müssen die Spieler Zugriff auf die Werte des Zieltokens haben.

Falls das Problem, das herausfinden des Würfelns ist, ist der Trick, einmal das entsprechend im Sheet zu machen und danach

[2021-02-12 15:45] Stexinator commented on #8016
Closed, due to switched sheets

[2021-02-12 15:45] #8016 closed

[2021-02-12 15:45] Stexinator commented on #7898
@Trestolt ich habe es selber implementiert und es ist live. Daher mache ich das zu

[2021-02-12 15:45] #7898 closed

[2021-02-12 15:47] Stexinator commented on #7525
Please update the title with the sheet name. If it is possible for you try to find out the maintainer (usually written when you choose the sheet) and ping them

[2021-02-12 21:34] #7525 closed

[2021-02-15 10:11] #6676 closed

[2021-02-16 03:52] Arkundar commented on #8242
In settings "use window popouts for characters" was checked. When unchecked the sheet opens in the VD. Item drag-drop works fine now. Ty
________________________________
From: Ken <notifications@github.com>
Sent: Monday, February 8, 2021 2:57:36 AM
To: Roll20/roll20-character-sheets <roll20-character-sheets@noreply.github.com>
Cc: Arkundar <furanku_74@hotmail.com>; Author <author@noreply.github.co

[2021-02-19 02:00] bigmc10 opened #8321 "MERP: Most Recent Update to Roll20 destructive of user data!!"
The new changes to the sheet are good prospectively, but you erased data people already using the sheet had in their "languages" and "body development" fields. Not good coding practices, to say the least. I don't think there's anything you can do to retrieve that data, is there? And I don't think a revert would help. Let me know if I'm wrong.

[2021-02-19 13:39] Reonin commented on #8321
Hi @bigmc10 taking a look at the history of the repository a fellow community author @LyricalStreetPoet made changes to the body development fields [here](https://github.com/Roll20/roll20-character-sheets/commit/f55cde0030d7e3da808bc210012c7dc7b7dff7b9#diff-81d84c4692582739ea913de813e606375ac279a056c81b449678020379c7eead). Good news is the data for the body development and languages is likely stil

[2021-02-19 22:11] bigmc10 commented on #8321
I already attempted to (re)populate the new pulldown fields. So I'm not sure a data migration would help me specifically anymore. It was probably the right idea the first time, but now won't it overwrite my (new) data?

[2021-02-19 22:14] LyricalStreetPoet commented on #8321
@bigmc10
I'm SO SORRY if anything broke.  It wasn't intended.  Is there anything else that is not working?  I tested with my group's sheets and thought everything would carry over since the variable names were kept the same.

**Languages**
This should have kept your original values.  I tested with my groups sheets and it DID preserve the data.  I guess if you had typed the language slightly differ

[2021-02-19 22:30] LyricalStreetPoet commented on #8321
@Reonin

If you want to revert the sheet back to the original, feel free.  I can just continue to build this version under a new sheet.

If you don't want to roll back, then I'll just be more mindful of the updates when I touch an existing variables.

I have LOTS more changed already in a new pull request and have even more changes for this weekend.  Note that I reviewed my current pull request an

[2021-02-19 22:44] bigmc10 commented on #8321
I don't think reverting is necessary. And I appreciate all the work you and others do on this sheet!

Yes, some of my sheets where I had typed the character's race correctly, it worked seamlessly with your new pulldown field. But if someone had anything other than one of the <option> values you provided, it didn't.

Anyway, keep up the improvements. I've actually written a bunch of API scripts and

[2021-02-19 22:54] Reonin commented on #8321
Hey all,

Thanks for keeping up the communication on this. I don't think we want to revert on our end, but I do believe the data is still there. (Migration of the sheet data is something I'm a little fuzzy on. But I'm sure there is documentation available to help if that's something you still want to consider.)

Warm regards,
Corey J

[2021-02-19 23:02] LyricalStreetPoet commented on #8321
@Reonin I'll do some research to see if I can add a migration script.  The languages might be recoverable, but the bodydev calculation was completely overwritten, I'm pretty sure.

@bigmc10 That's one of the challenges of going from a free text field to a dropdown.  I wish roll20 gave us a combo box option that would allow for both.  They have one on character sheet selection for new games, but I'

[2021-02-19 23:13] bigmc10 commented on #8321
I do not have my code in a repository. When I first started tinkering, I didn't know how Roll20 sheets were developed and didn't think my work would have much of an audience. Most of what I've done could be done in revisions to the sheet, but it's mixed in with lots of other stuff that wouldn't be useful in a sheet. For example, I manually build the html to resemble the template outputted by the s

[2021-02-20 00:25] tarlockgod opened #8324 "Shadowrun5th (Advanched) sheet doesnt take JSON imports."
Tried to import multiple characters, didnt work, only feedback i got was 'Error in Skills'. The other players in the group have the same issue. JSON cant be the issue, it worked before and the other 5e sheet takes the data and imports it correctly.

[2021-02-20 01:51] differentsmoke commented on #8324
My group has the same issue

[2021-02-20 02:58] differentsmoke commented on #8324
@Stexinator could it have been your pull request?

[2021-02-20 10:32] Stexinator commented on #8324
Yep, it was mine. I implemented a safeguard so it should not happen, but it didnt work.
Already made some fixes to it https://github.com/Roll20/roll20-character-sheets/pull/8323

[2021-02-22 14:01] bananaferret commented on #8324
This is happening to my group too currently, even testing multiple sheets that have been imported before.

[2021-02-23 15:41] Stexinator commented on #8142
@MartiniSz kann das zu?

[2021-02-24 10:04] MartiniSz commented on #8142
Ja kann zu

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
From: Stexinator <notifications@github.com>
Sent: Tuesday, February 23, 2021 4:41:24 PM
To: Roll20/roll20-character-sheets <roll20-character-sheets@noreply.github.com>
Cc: MartiniSz <mschmitz1297@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Roll20/roll20-character-sheets] [DSA5

[2021-02-25 15:35] Fliptop023 opened #8366 "[Warhammer Fantasy Roleplay 4e Official] Initiative not rolling properly"
When setting a character's initiative roll type to 1D10+Initiative bonus+ agility bonus, the sheet is returning the error of **No attribute was found for @{Nachmir|initiatve_bonus}**

There seems to be a spelling mistake for initiative_bonus

Also certain talents are still spamming on the talent section on the main page, mainly acute senses (sight) for wood elves

[2021-02-25 17:09] Stexinator commented on #8142
@MartiniSz das kann nur der Autor

[2021-02-25 19:27] Stexinator commented on #8324
The last merges came earlier then expected, the fix to the safeguard was not included. So I used the time and finished the feature and removed the safeguard https://github.com/Roll20/roll20-character-sheets/pull/8368

[2021-02-25 19:35] Stexinator commented on #7887
@ryansigg

[2021-02-25 19:39] Stexinator commented on #8366
@nmbradley

[2021-02-25 19:40] Stexinator commented on #7693
Please update the title with the exact sheet name

[2021-02-25 19:41] Stexinator commented on #7965
@mdanielak if this is done please close it

[2021-02-25 19:41] Stexinator commented on #7851
@simchanu29 when this is solved, please close it

[2021-02-25 19:43] Stexinator commented on #7540
@chirstius please close this, it seems to be of no interest

[2021-02-25 19:45] Stexinator commented on #7145
@zyr8 if you dont tag the author the chance is very slim that this will be read

[2021-02-25 19:46] Stexinator commented on #6505
@mileslucas if this is done, please close it

[2021-02-25 19:47] #6505 closed

[2021-02-25 19:47] Stexinator commented on #6305
@HauRukh if this is resolved, please close it

[2021-02-25 19:47] Stexinator commented on #6281
@Landorlin  if this is resolved, please close it

[2021-02-25 19:48] Stexinator commented on #6224
@HauRukh  if this is resolved, please close it

[2021-02-25 19:50] Stexinator commented on #6041
@jayy00  if this is resolved, please close it

[2021-02-25 19:51] Stexinator commented on #5986
@RelativeDimension  if this is resolved, please close it

[2021-02-25 19:51] Stexinator commented on #5956
@JRandall0308  if this is resolved, please close it

[2021-02-25 19:52] Stexinator commented on #5950
@Logicon211  if this is resolved, please close it

[2021-02-25 19:52] Stexinator commented on #5844
@mtxdew  if this is resolved, please close it

[2021-02-25 19:53] Stexinator commented on #5758
@Anduh  if this is resolved, please close it

[2021-02-25 19:54] Stexinator commented on #4602
@Dave2211  if this is resolved, please close it

[2021-02-25 20:05] Logicon211 commented on #5950
The animations are still not playing. But I the critical roll template is now readable at least

[2021-02-25 20:05] #5950 closed

[2021-02-25 23:08] #5758 closed

[2021-02-26 09:50] #8142 closed

[2021-02-26 15:38] Stexinator commented on #8324
@mperes is it possible to assign issues to show that someone is working on it?

[2021-02-26 15:39] Stexinator commented on #8020
@raymondh3 can this be closed?

[2021-02-26 15:40] Stexinator commented on #8184
@Oparrudo what do you want to say with this issue?

[2021-02-26 15:41] Stexinator commented on #8009
@nottsknight if this is still relevant for you, please tag the sheet author

[2021-02-26 15:43] Stexinator commented on #7777
@Gabbalo this is doable. Please tag the sheet author so he sees your request

[2021-02-26 15:44] Stexinator commented on #7721
@Antelbxl if this is resolved, please close it

[2021-02-26 16:54] nottsknight commented on #8009
@wing-it , I'm guessing you're one of the authors?

[2021-02-27 00:56] Baledin commented on #5986
@RelativeDimension If you feel any pieces still need worked on (quite probable), add it to the [issues on my repo](https://github.com/Baledin/roll20-character-sheets/issues).

[2021-02-27 16:23] Aspire2Hope commented on #8321
It looks like there are some great changes to the MERP character sheet but in your push for automation, but I'm losing flexibility. For example, I can't add my own language groups because there is not a **user input option**. So in your next iteration, it would be good to have that across the board.
**Professions:** Need to add the additional professions from MERP2 (we didn't have them in this gam

[2021-02-27 17:07] simchanu29 commented on #7851
I added a tip inside the wiki page of the sheet.
https://wiki.roll20.net/Anima_Beyond_Fantasy

[2021-02-27 17:07] #7851 closed

[2021-02-27 19:35] bigmc10 commented on #8321
Agreed, the latest update seems to have erased a few fields under the NPC/Creature tab as well, such as Defensive Bonus ("spec" columns). I know there is some crossover between the Personal and NPC/Creature tabs, so I assume this was an unforeseen consequence.

As I said, I fully support upgrading the sheet, but more care has to be taken. This is the second such problem. I agree some kind of group

[2021-02-27 20:09] Riernar opened #8380 "[Ars Magica 5th] Roll20 image server gives outdated image"
In #8094 , I updated some images used in the Ars Magica 5 sheet, to make the boundaries between background image repetitions look less rough. The changes were merged into master, but not reflected on the Roll20 website. It seems the roll20's image server is caching the old image and is not updating its cache.
Indeed:
+ the image on the master branch of this github has integrated the changes: https

[2021-02-27 21:33] Necrask opened #8381 "[DSA 4.1 - Roll20] Rounding Error"
Hello,

I have the following problem:
My automatically calculated values for Initiative and AT-Basic are rounded down instead of rounded up like stated in the corerules (2008).

My char has the following stats
![Falschberechnet](https://user-images.githubusercontent.com/67807029/109400845-51fd6080-794b-11eb-8e89-41901b53410b.png)

With AT-Basic=(MU+GE+KK)/5 it should be =6.6 and therefore 7 like s

[2021-02-28 05:03] #6041 closed

[2021-03-01 12:53] #7721 closed

[2021-03-01 12:53] Anduh commented on #8380
it's a weird issue that pops up now and then. A workaround is to rename the new files and their references, so roll20 is forced to use different images than the old cached ones.

[2021-03-03 08:11] Stexinator commented on #8324
@tarlockgod it is fixed. Please close it

[2021-03-03 12:44] #8324 closed

[2021-03-04 18:06] Riernar commented on #8380
Thank you for your help. I was wondering if there was a better way, I'll rename the image then.

[2021-03-05 07:46] Anduh commented on #8380
submitting a help center ticket about it would be a good idea.

I added a mention of this issue to the wiki: https://wiki.roll20.net/Image_use_in_character_sheets

[2021-03-05 15:13] ocasta opened #8409 "[Torhchbearer 2e] Fresh gives 2 extra dice but only until reset"
When the character sheet is first created (with Fresh checked) the number of dice indicated for a skill that has a rating are one higher than they should be though the summary shows the correct dice.  e.g. Alchemist 4 indicates 6 dice to be rolled and the Active Modifiers shows Alchemist (+4D), Fresh (+1D)

If you uncheck and re-check Fresh the mysterious dice disappears from the total number to b

[2021-03-06 01:00] jtljac opened #8413 "[StarWars5e] Inventory fails to display encumbered message"
When a character's inventory weight exceeds their maximum, the encumbered message fails to display.

This occurs as the function responsible, update_weight(), at line 10071, checks the weight of the items in the pc sheet first, displays the encumbered message, then checks the weight of the items in the cargo inventory from the ship sheet (where the inventory would be empty) and hides the message.

[2021-03-08 13:35] #8380 closed

[2021-03-08 13:36] #8413 closed

[2021-03-08 22:17] #7540 closed

[2021-03-08 23:29] aureyia commented on #6465
Raised the following pull request to enable the translations: https://github.com/Roll20/roll20-character-sheets/pull/8438. Note that I am having to do this in phases, because of the amount of content being ported over.

[2021-03-09 05:59] WallaceMcGregor commented on #6465
Thank you so much! Can I start translating?

[2021-03-09 10:27] aureyia commented on #6465
I'm not 100% clear on the process after this is deployed, other than roll20 handling the translations through Crowdin.

[2021-03-10 23:11] aureyia opened #8452 "[Ironsworn] Resource Rolls and Custom Assets showing duplicate fields"
**The resource rolls were broken due to enabling the translations and not handling the substitution correctly. Where is was replacing the content within the <label>.**
_Already have a fix for this_

**The Custom Assets are showing the fields for the other options as shown here:**
![image](https://user-images.githubusercontent.com/19798820/110710475-d5de0500-81f5-11eb-8501-4a15a0ca12a3.png)
I imagi

[2021-03-12 04:09] danimagaming opened #8463 "Unwanted file from other collaborator locally"
A file names Adventures/adventures.css has showed up on my local machine as a change that I made. And when I try to remove it gives me errors. The only way I could get rid of it was by pushing the commit. But after that, I was unable to submit a pull request since on the Roll20 Repo, it says there is more than one collaborator on more than one folder and gives an error. I'm new to Github but have

[2021-03-12 14:28] JRandall0308 commented on #5956
@Stexinator Nope... individual dice rolls are still not broken out. It's not a big deal since you can build your own macro, just a bit of a disappointment on an otherwise good character sheet.
![image](https://user-images.githubusercontent.com/30268855/110953324-3879f280-8315-11eb-8867-c9df3321bf40.png)

[2021-03-13 11:12] Stexinator commented on #8463
This happens sometimes due to different line endings. To fix this issue, commit the file and then drop the commit. Your Git should then realise that there are no changes and should not prompt you again to commit this file.

[2021-03-13 14:54] jamakkon commented on #8321
It's great to have several people developing and/or sharing ideas about MERP character sheet. I noticed the commits only yesterday, so I come late to the discussion.

The weapon section looks great. I had something similar in mind originally, but gave it up due to the complexity with parry and weapon-specific armor bonuses. However, I am not sure if the drop-down menu of weapon names helps. It pre

[2021-03-13 16:14] LyricalStreetPoet commented on #8321
@jamakkon I've totally redone the character sheet and have been holding off on re-publishing it until it is well tested and vetted.  The community on the [ICE discord channel](https://discord.gg/wESAMpau) has given some great feedback on the changes.

I agree on the book material.  I've been putting it in for my personal games to make things easier, but will strip it out when the changes are publi

[2021-03-13 16:37] bigmc10 commented on #8321
@LyricalStreetPoet I'm once again impressed at your dedication to improving MERP on Roll20! I think almost all of the stuff in your change log and planned feature list is good. But as I urged you on Discord a week or two ago, I would say publish this as a new, distinct sheet given the vast scope of the changes.

[2021-03-13 17:20] LyricalStreetPoet commented on #8321
This is why I never do community development.  I'm going to ask the admins to roll my changes back to Jamakkon's original.

[2021-03-13 17:21] LyricalStreetPoet commented on #8321
@Reonin, who can we get to roll these changes back to their original?

[2021-03-13 17:27] jamakkon commented on #8321
I just made a pull-request containing fixes for encumbrance calculation (negative ST bonus should not yield MM penalty) and misaligned section boxes.

[2021-03-13 17:29] LyricalStreetPoet commented on #8321
@jamakkon, gonna let you roll with this and am stepping away.  Sorry to have messed anything up and thanks so much for this original sheet.  It was an inspiration for what our group is using now.

[2021-03-13 17:31] jamakkon commented on #8321
I don't see anything messed up. But if you publish your strong vision as an alternative sheet, I might start using that. :-)

[2021-03-13 17:51] bigmc10 commented on #8321
@LyricalStreetPoet I will urge my group to consider your new sheet if you publish it as well. I just know there will be grumbling and resistance if the existing sheet changes dramatically under their feet. I appreciate the huge amount of effort you have put into this. This is _absolutely not about a judgment of your work_ but just trying to figure out best practices for community development. (I.e

[2021-03-13 18:05] LyricalStreetPoet commented on #8321
@jamakkon I might.  I just did it as a special project for my own MERP group after we started using your sheet.  I've spent WAY too much time on it and don't have the time and dedication to support it.  So I might not.  I published the source in that discord link if you want to try it out.

But I think I'm done working on it outside of our personal group.  We're actually changing everything to mak

[2021-03-13 19:07] jamakkon commented on #8321
@LyricalStreetPoet I claim no ownership of the sheet. Open source is open for people to change it. Of course, with an active Roll20 community, you might want to do major rewrites carefully, as alternative sheets for instance. The community then gets to decide which one to use. A lot of your changes make the original sheet obsolete, which is great, but there may be some users that prefer the old wa

[2021-03-13 19:47] bigmc10 commented on #8321
@jamakkon  I think an expanded Class pulldown with all the classes from the book _plus_ a "custom" option (with no level bonuses attached to it) would be a good, relatively minor enhancement of the original sheet.

[2021-03-13 20:28] jamakkon commented on #8321
@bigmc10 It would certainly combine the best of both worlds. It is simple unless someone wants to type in those class bonuses. IIRC, marrying an auto-calc field with editable field causes problems. I might be wrong, and/or that may have changed, or they may be JavaScript spell list somewhere that does that.

@LyricalStreetPoet Re: regarding HTML tables. I started the layout with CSS tables, but ca

[2021-03-14 00:08] 140453a opened #8473 "[Mythras] Survival skill is wrong in import.js file."
#### Description:
Survival skill in import.js on lines 1525 - 1527 is wrong.
Currently it is calculating the Survival base value with POW+CHA, but it should be CON+POW.

[Here is the file and problem lines.](https://github.com/Roll20/roll20-character-sheets/blob/0e2333d046145a331e29756642472282b550cc26/Mythras/src/scripts/import.js#L1525)

[2021-03-14 07:08] jamakkon commented on #8321
RE: rollback.

@LyricalStreetPoet It would be best if you removed the changes you want to remove. It is sort of the spirit of open source projects. If I do it, I would be removing someone else's work and it would make me look like a... (browsing through a dictionary) ... a curmudgeon, or worse!

**Anyone** can checkout an older version of the sheet predating the latest batch of changes and make a

[2021-03-14 14:26] bigmc10 commented on #8321
@jamakkon Hang on a second. Do you have any actual game need to revert these changes? The data lost when a few fields were converted to drop down or auto-calc is lost. Reverting won't fix that. But reverting might jeopardize more data. My group has now adjusted their sheets to the changes.

Let's make sure there's a practical reason for any reversion. I think @LyricalStreetPoet was feeling underst

[2021-03-14 18:00] LyricalStreetPoet commented on #8321
You guys do what you want to this version.  No need to get my permission since it's open source and I have no ownership.  I'm abandoning this project.

[2021-03-15 05:19] jamakkon commented on #8321
@bigmc10 I am very much aware of the problems in doing/reverting changes. If no rollback is needed, great.

@LyricalStreetPoet You do what you think is right. Take care.

[2021-03-15 12:22] #8452 closed

[2021-03-15 13:27] #8473 closed

[2021-03-17 14:35] elminster commented on #8463
Hi. I am also having this issue. A commit makes it go away but as soon as I remove the commit with a git reset the issue comes back. Just to confirm what you mean by 'drop the commit'

[2021-03-17 15:29] Stexinator commented on #8463
I remembered incorrectly. For me every other master update fixes all these issues

[2021-03-17 16:04] elminster commented on #8463
I never did get it to go away. I just have to make sure I am not lazy and not do an add all. But it is annoying its always hanging around as an unstaged change.

[2021-03-17 16:12] Stexinator commented on #8463
I commit it with a specific name, and sometimes when I rebase it tells me there are conflicts regarding this file. Then I accept all incoming changes and drop mine and the problem is gone

[2021-03-20 17:32] TBigLyfe opened #8534 "[Troika] Letters dissapearing from name and background"
I think there is a major bug with the Sheet. Whenever me or my players try to write in some parts of the Sheet (Mainly Name and Background) and we close the sheet, whatever was previously written there gets deleted!
Not sure if this is a known bug, if i'm doing something wrong or another reason, idk; But it happened just now; If ya have a way to solve this or knows what is happening please tell me

[2021-03-20 17:41] TBigLyfe commented on #8534
@david-janning

[2021-03-21 15:26] david-janning commented on #8534
Hi @TBigLyfe
Thanks for spotting this.
The name and background inputs didn't have the type="text" attribute on them so it wasn't saving. As I was updating the old character sheet those values already existed in my data so it looked ok.
Have put in a bug fix here;-
https://github.com/Roll20/roll20-character-sheets/pull/8543

[2021-03-23 13:16] #8366 closed

[2021-03-23 19:09] badaz commented on #5975
How did you manage to import ?

[2021-03-23 19:59] reactormonk commented on #5975
I edited the file and removed the https://en.wikipedia.org/wiki/Byte_order_mark at the beginning. notepad should work. It's the weird first character. The first character should be a `{`, delete everything in front of it, should be 1-2 characters.

[2021-03-24 06:53] Gabbalo commented on #7777
That might be @nmbradley as far as I can see from the history of that sheet.

[2021-03-24 07:42] linkendel opened #8570 "Shadowrun 5 advanced: Import from Chummer doesn't work anymore"
Hello !
In the sheet "Shadowrun5th (advanced)", the "Chummer Import" functionality doesn't seem to work anymore.

How to reproduce:
Create a new Character
Edit the new character
Go in tab "Character Sheet" to show the Shadowrun Sheet
Go in tab "Character"
Past the JSON of your character in the field "Chummer Import"
Click on button "Import", it will display the message "This will override everythi

[2021-03-25 02:14] bananaferret opened #8577 "Shadowrun 5e hide unused and show all buttons no longer work"
Clicking the buttons hide unused skills and show all do not do anything when clicked, tested in multiple browsers. There is no way to add points to skills that were previously hidden, or default on them if they were previously hidden.

Edit: it is the Shadowrun 5th Edition (Advanced) version

[2021-03-25 08:16] Stexinator commented on #8577
Go to Attributes and Abilities => search for skillshowcheckbox and write on for the skills you want to see

[2021-03-25 08:28] bananaferret commented on #8577
There is no Attributes and Abilities page or skillsshowcheckbox on this sheet. There is a "main" page where attributes are, and a "skills" page where they are. On the skills page there is a list of every skill and buttons above each section that say 'hide unused ' and 'show all' and clicking these buttons used to make the skills appear. Now they do nothing.  There is no way to add in skills.

![im

[2021-03-25 13:11] Stexinator commented on #8577
Even above that. Roll20 provides 3 tabs: Bio, Character and Attributes&Abilities I think.

The buttons should be fixed together with the import, when the code is merged next time

[2021-03-25 13:45] bananaferret commented on #8577
Yes, as you can see above when i tried the method you suggested, everything was deleted. All physical skills disappeared and I could not find a way to bring them back when I put "on" in the areas you said to, so that did not work and didn't turn out to be a viable work around.

[2021-03-26 21:19] nmbradley commented on #7777
Apologies, must have missed this when it was first posted. I'll see what can be done to resolve this.

[2021-03-28 02:41] #8113 closed

[2021-03-29 12:21] CaptainFrosty55 commented on #8577
I am also facing the issue and have managed to find a temporary work-around!
once more, go to the "Attributes & Abilities" tab.
There, find all the "skillhideunusedcheckbox(number)" and "skillshowcheckbox(number)" lines
Their values will either be 0 or "on". Both of these values are incorrect and result in hiding the skills.
What you want to do is switch the value to "1". Doing that reveals the bo

[2021-03-29 14:19] adamkost commented on #7612
or a single text field could be used, to house "2d6" for example. I would also recommend an additional field to be added at the end to add additional damage of a different type, such as +1d6 fire damage for a flaming weapon. You may need to have a 2nd row for additional details due to limited real estate, much like the official character sheets produced by [WotC](https://dd5echaractersheet.co/wp-c

[2021-03-30 04:07] #4583 closed

[2021-03-30 04:14] nmbradley commented on #5113
Closing this issue as the Burning Wheel sheet has seen major revisions since this was opened. If this is still an issue, please consider submitting a new ticket.

[2021-03-30 04:14] #5113 closed

[2021-03-30 04:27] nmbradley commented on #5223
Closing as this seems to be resolved. If this is still an issue, please consider submitting a new issue.

[2021-03-30 04:27] #5223 closed

[2021-03-30 04:38] nmbradley commented on #5236
Closing as this sheet is no longer present in this repository.  If this is still an issue, I would advise raising it in the [pertinent forum thread](https://app.roll20.net/forum/post/8033570/d-and-d-5th-edition-by-roll20-q1y2020).

[2021-03-30 04:38] #5236 closed

[2021-03-30 04:48] nmbradley commented on #5455
Closing this as it hasn't been updated in two years and I can't find any additional bug reports. If this is still an issue, please consider opening another issue.

[2021-03-30 04:48] #5455 closed

[2021-03-30 04:52] nmbradley commented on #5528
Closing this as it appears to have been resolved. If there are residual issues, consider opening another issue.

[2021-03-30 04:52] #5528 closed

[2021-03-30 04:57] nmbradley commented on #5571
It appears that this was fixed by #5882. If there are any residual issues, please consider creating another issue.

[2021-03-30 04:57] #5571 closed

[2021-03-30 05:12] nmbradley commented on #5697
Closing this ticket as we recently merged this new feature. If you feel as though there's something further that needs work, please consider opening a new issue.

[2021-03-30 05:12] #5697 closed

[2021-03-30 05:15] nmbradley commented on #5395
Closing this ticket as I cannot reproduce these issues, and I believe that they have been resolved. If there are unresolved problems, please consider opening a new issue.

[2021-03-30 05:15] #5395 closed

[2021-03-30 05:36] nmbradley commented on #8534
@david-janning @TBigLyfe could either of you confirm that this has been resolved with the PR merge?

[2021-03-30 05:42] nmbradley commented on #8381
@kreuvf you're the most recent editor of the DSA 4.1 sheet. Are you able to look at and resolve this issue?

[2021-03-30 05:45] nmbradley commented on #8321
@bigmc10 are you able to verify that you feel this issue has been resolved?

[2021-03-30 05:52] nmbradley commented on #8409
@SteveKoontz I think this is an issue with one of your sheets. Thought I would highlight you in case you wanted to resolve this issue.

[2021-03-30 06:00] nmbradley commented on #8242
This is a known issue with the VTT, so I am closing this issue as it doesn't specifically pertain to sheet development. If you feel as though there are outstanding problems, please consider opening a new issue.

[2021-03-30 06:00] #8242 closed

[2021-03-30 06:02] nmbradley commented on #8054
@Riccarr bringing this to your attention as the original sheet author. Don't feel compelled to solve this, but I thought it best to nudge you in the first instance.

[2021-03-30 06:05] kreuvf commented on #8381
@nmbradley: On it. Detailed answer following.

[2021-03-30 06:05] nmbradley commented on #8009
@bts1967 I believe you may be the sheet author for this sheet?

[2021-03-30 06:07] nmbradley commented on #7985
This appears to have been resolved, so going to close this issue. If there are any remaining problems to resolve, please consider creating another issue.

[2021-03-30 06:07] #7985 closed

[2021-03-30 06:08] nmbradley commented on #7965
This appears to be resolved, so I am going to close the issue. If there are any oustanding problems, please consider creating a new issue.

[2021-03-30 06:08] #7965 closed

[2021-03-30 06:14] nmbradley commented on #7612
@42shadow42 you were the last sheet author to update this sheet; would you be willing to explore solving this issue?

[2021-03-30 06:17] nmbradley commented on #7538
@Lockbox313 you appear to be the most recent maintainer of this sheet, would you be able to look at this issue?

[2021-03-30 06:19] nmbradley commented on #7537
@Lockbox313 another RuneQuestGQS request if you'd be willing to take a look. These might be resolved, feel free to let me know if so, and I'll close the issue.

[2021-03-30 06:20] nmbradley commented on #7494
@Anduh did you ever resolve this request?

[2021-03-30 06:23] nmbradley commented on #7412
Closing this as it has been relocated to an external tracker.

[2021-03-30 06:23] #7412 closed

[2021-03-30 06:25] nmbradley commented on #7360
@Delastrik I know this is a long time later, but are you able to confirm that your issues were resolved by PR 8507?

[2021-03-30 06:28] nmbradley commented on #7357
@finderski this appears to be one of your sheets; is this something you're potentially willing to explore and fix?

[2021-03-30 06:33] nmbradley commented on #7836
@stephaned68 it looks as though you are maintaining ChroniquesOublieesContemporain. Do you know if these are still issues?

[2021-03-30 07:37] stephaned68 commented on #7836
@nmbradley I never got the original notification from Github thus was not aware about the problem, abd therefore did not look into it ;)
@Vyzzini Poster en français sur le Github de Roll20 n'est pas la meilleure manière d'avoir une réponse à ton bug, la preuve je viens juste d'être mis au courant. Dommage, j'ai posté à de maintes occasions sur le forum BBe pour indiquer que les retours de bug pouv

[2021-03-30 07:54] kreuvf commented on #8381
@Necrask: This answer is a bit more difficult, but I hope that I can make things clear.

### Is it a bug?
Yes and no. It is not a bug with regards to the calcuation:
[code]
[Javascript's Math.round() rounds numbers >= .5 up.](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/round)

It is still a bug, because the user interface does not make clear what the "Mod"

[2021-03-30 07:56] kreuvf commented on #8381
@nmbradley: You may leave this issue open, I will reference it in a commit when it's finally fixed, so it gets auto-closed on merge.

[2021-03-30 08:02] stephaned68 commented on #7836
@Vyzzini Je viens de jeter un bref coup d'oeil au problème et effectivement, quand on part d'une liste de modificateurs d'atk ou de dm vide, ça n'actualise pas correctement les jets d'attaque. Le bug est corrigé et la correction sera disponible dans la prochaine version de la fiche COC (3.9.0). Pour tes prochains rapports de bug, si tu veux une réponse plus rapide : https://github.com/stephaned68/

[2021-03-30 08:46] geoidesic commented on #5236
What? What's going on? How can D&D 5th edition no longer be in this repository?

[2021-03-30 08:47] david-janning commented on #8534
Can confirm is working as expected after PR merge.

[2021-03-30 08:54] finderski commented on #7357
@nmbradley unfortunately, this is not a game I play and did the sheet waaaay back when as a favor. I made the requested changes, though really the sheet needs a complete overhaul. Unfortunately, I don't have time, nor the desire to make such an overhaul.  However, I did add Agility, Covert, Intellect, and Investigation to the existing sheet.

This will be my last update for this sheet, however.  S

[2021-03-30 09:04] stephaned68 commented on #7836
@nmbradley Issue resolved by PR #8608. Please close.

[2021-03-30 09:05] Lockbox313 commented on #7538
The fonts on those fields on NPC sheet are that size to prevent the need for scrolling or resizing the textareas,

[2021-03-30 09:11] Lockbox313 commented on #7537
I might get to it once I have completed the large task of preparing the sheet for the new sanitization

[2021-03-30 09:50] Necrask commented on #8381
Thank you very much for the detailed explonation, I couldn't find that before opening a ticket so hopefully this will get others with the same issue the reason what should be done to bridge it.

Stay safe!

[2021-03-30 14:09] nmbradley commented on #5236
All of the 'by Roll20' sheets are hosted in a separate, private repo. Nothing to be alarmed over 🙂

[2021-03-30 14:28] nmbradley commented on #8381
This is a great answer, thank you for taking the time!

[2021-03-30 14:42] nmbradley commented on #7836
Thank you for attending to this!

[2021-03-30 14:58] nmbradley commented on #7099
Closing this issue as it seems to be resolved. If there are further outstanding problems, please consider creating another issue.

[2021-03-30 15:02] nmbradley commented on #6892
It looks as if at least one of these issues was resolved by #5577. Linking here as it might serve as a basis for further updates.

[2021-03-30 15:08] nmbradley commented on #6465
Closing this issue as it seems to have a resolution. Please feel free to create another issue if there are lingering problems.

[2021-03-30 15:08] #6465 closed

[2021-03-30 15:09] #7357 closed

[2021-03-30 15:11] nmbradley commented on #6782
Closing this issue as it seems to be resolved. If there are outstanding problems, please consider creating a new issue.

[2021-03-30 15:11] #6782 closed

[2021-03-30 15:16] nmbradley commented on #7239
@Dookeduk could you provide some clarity on what it is that you're trying to achieve? Why is this an issue?

[2021-03-30 15:19] nmbradley commented on #6641
Closing this issue for the reasons stated above.

[2021-03-30 15:19] #6641 closed

[2021-03-30 15:19] nmbradley commented on #6698
Closing this issue as it seems to be resolved. If there are residual problems, please feel free to create a new issue.

[2021-03-30 15:19] #6698 closed

[2021-03-30 15:20] Stexinator commented on #7301
@nmbradley This isssue cannot be resolved until Roll20 changes things in the dice engine

[2021-03-30 15:22] nmbradley commented on #6640
This seems like an issue of mislabeled fields on lines 63 and 64:

[code]

@elfonochasis you seem to have made recent changes to this sheet. Would you be willing to fix?

[2021-03-30 15:31] nmbradley commented on #7066
@julesbl It appears that this sheet hasn't been updated by the author in over two years.

Trying to get more clarity on the issue: Is this just an aesthetic change, or does the encumbrance calculation have other effects on the sheet (i.e. altering dice rolls, etc.)?

[2021-03-30 15:32] #8534 closed

[2021-03-30 15:35] nmbradley commented on #7301
Good to know! Can I get some more clarity on that response?

Is this because of a rounding issue? Or because of the way that dice are handled?

Either way, I'll move this to an internal ticket, but any information you can provide would be useful.

[2021-03-30 15:41] nmbradley commented on #7612
Thanks for the update. I'll tag this appropriately, then.

[2021-03-30 15:42] Stexinator commented on #7301
The logic used in the sheet works with saved dice values. The issue is that it can be rounded only once, when making the actual roll, due to not being able to calculate with saved values.

As soon as saved dice rolls can be rounded this issue can be resolved. Other sheets have similar issues with multiplication, so this would be a feature that can be used for a broader audience

[2021-03-30 15:45] nmbradley commented on #8020
Closing as it seems this was resolved by #8026. If there are residual problems, please feel free to create a new issue.

[2021-03-30 15:45] #8020 closed

[2021-03-30 15:50] nmbradley commented on #7301
Perfect, thank you.

I'm going to close this ticket as it only pertains to an issue with the VTT rather than the sheet itself. Feel free to create a new issue if you think that there are residual issues that still need to be addressed on the sheet side of things.

[2021-03-30 15:50] #7301 closed

[2021-03-30 16:24] julesbl commented on #7066
Its not actually a problem, you can ignore encumbrance on the sheet which
is what everybody does as even quite a few of the starting characters are
carrying too much

On Tue, 30 Mar 2021 at 16:31, Nic Bradley ***@***.***> wrote:

--
--
w34u - Websites Which Work For You
www.w34u.com
07833 512221
Company: JB Development Ltd.
Company No: 06604371

[2021-03-30 16:25] nmbradley commented on #6713
Closing this issue as it looks to me as though this was resolved by #7941. Feel free to create another issue if you feel as though there are still outstanding problems to be resolved.

[2021-03-30 16:37] nmbradley commented on #6416
@jrichview I know that this is from a long time ago, but would it be possible to get some greater clarity on this issue:

Do you want someone to add initiative rolling to a sheet?
Is [this](https://github.com/Roll20/roll20-character-sheets/blob/master/CWOD-Vampire/Vampire.png) the sheet in question?

[2021-03-30 16:42] nmbradley commented on #6335
I will note here that request 1 sounds like a homebrew request, and generally it isn't advisable to add such features to sheets, but 2 and 3 seem like bugs, that could do with resolution.

[2021-03-30 16:42] nmbradley commented on #6329
Closing this issue as it seems to have been resolved by #6421

[2021-03-30 16:42] #6329 closed

[2021-03-30 16:45] nmbradley commented on #7066
Thanks for the feedback. I'll mark this as complete, then.

[2021-03-30 16:45] #7066 closed

[2021-03-30 16:47] nmbradley commented on #6416
Thanks for the response.

If you'd be willing to share the macro when you have time, it might help someone pick up this issue and resolve it!

[2021-03-30 16:50] nmbradley commented on #6281
I'm assuming from the last comment from mckee that this issue is resolved to the point that can be managed without changes to the Roll20 infrastructure, so I'm going to close this issue. Please feel free to create another if there are lingering issues.

[2021-03-30 16:50] #6281 closed

[2021-03-30 16:54] nmbradley commented on #6849
@PrimalZed @kluver Are either of you able to report back whether this work was (or will be) undertaken?

[2021-03-30 16:55] #7538 closed

[2021-03-30 17:02] nmbradley commented on #6252
I'm not able to reproduce this, so I'm going to assume that this is fixed and close this issue. If you encounter this again, please create a new issue.

[2021-03-30 17:02] #6252 closed

[2021-03-30 17:18] nmbradley commented on #6142
@keithmedlin I assume this is for one of the FFG sheets, but could you specify which exactly?

[2021-03-30 17:19] nmbradley commented on #6134
Closing as this seems to have been resolved.

[2021-03-30 17:19] #6134 closed

[2021-03-30 17:20] nmbradley commented on #6153
@vince-roll20 I know this request is old, but did this end up getting rolled in?

[2021-03-30 17:22] nmbradley commented on #6104
Closing this issue as it appears that this was resolved by #7950. If there are remaining problems, please create a new issue.

[2021-03-30 17:22] #6104 closed

[2021-03-30 17:24] nmbradley commented on #5986
It seems as though this has been resolved, so I'm going to close the issue. If there are lingering problems, please submit a new issue to this repo, or to the one that Baledin linked above.

[2021-03-30 17:24] #5986 closed

[2021-03-30 17:24] #5985 closed

[2021-03-30 17:28] nmbradley commented on #5956
@JRandall0308 are you able to share the macro you have created to aid in a solution?

[2021-03-30 17:30] nmbradley commented on #5925
I'm going to close this as it looks as though this sheet has been broadly redesigned since this issue was created. If there are lingering issues with this sheet, please create a new issue.

[2021-03-30 17:30] #5925 closed

[2021-03-30 17:38] nmbradley commented on #4359
Closing this as it pertains to a sheet no longer on this repo, and seems to be a non-issue. If you think that there is something further here, please feel free to create a new issue.

[2021-03-30 17:39] nmbradley commented on #6155
Closing this issue as it is nearly a year old, and no similar issues have been reported. If you feel as though there is still more to do with this problem, please create a new issue.

[2021-03-30 17:39] #6155 closed

[2021-03-30 18:23] nmbradley commented on #8054
Great update, thanks! I'm sure @Pusikas will be delighted to hear it!

[2021-03-30 18:25] #5844 closed

[2021-03-30 19:47] Ulty commented on #6252
Just create a new game and try to add the script COFantasy from the library. You get

Your scripts are currently disabled due to an error that was detected. Please make appropriate changes to your script's code and click the "Save Script" button. We will then attempt to start running the scripts again. More info... If this script was installed from the Script Library, you might find help in the Co

[2021-03-30 20:05] NathaTerrien commented on #7693
User @{spelllevel} or @{current_level}

[2021-03-30 20:05] #7693 closed

[2021-03-30 20:08] NathaTerrien commented on #7286
This has been adressed by adding the bulk property on inventory items.

[2021-03-30 20:08] #7286 closed

[2021-03-30 20:50] jrichview commented on #6416
Sure. Here it is:

`
&{template:default} {{name=Initiative - @{selected|token_name} }}{{@{selected|token_name} Rolls=[[1d10 + @{selected|Dexterity} + @{selected|Wits} &{tracker}]]}}
`

[2021-03-31 04:34] vince-roll20 commented on #6153
Sad to say this is "still" on my to-do list. ;-(  I'll see if I can't make a move on this sooner than later.  Thanks for the bump.

[2021-03-31 04:59] nmbradley commented on #6153
No worries, just trying to close out issues wherever possible. Glad to hear you're still working on it!

[2021-03-31 05:45] #8321 closed

[2021-03-31 17:55] jaculpiii opened #8616 "Roll20 Changes (pm 2021-03-30) broke roll templates on Shadowrun Sixth World sheet AND some translations."
Quite a bit of data collection has been posted on the official Character Sheet Enhancements thread on the forums starting here: https://app.roll20.net/forum/post/9883156/character-sheet-enhancements/?pageforid=9950454#post-9950454

[2021-04-01 14:08] Anduh commented on #7494
Yeah I did add a second weapon/attack slot to the sheet, forgot to update this issue, so this can be closed.

[2021-04-01 15:28] #7494 closed

[2021-04-01 19:26] #7777 closed

[2021-04-01 19:26] #8001 closed

[2021-04-01 20:46] fangdelicious opened #8623 "[Mutants & Masterminds 3e] CSS for background and Powers/Adv/Eq tabs not working"
After the recent Roll20 Character sheet troubles, the Mutants & Masterminds 3e sheet's CSS is not working properly. The background image and halftone images do not display and the repeating powers/advantages/etc. sections are missing their colors and styling. Image attached
![Capture](https://user-images.githubusercontent.com/81777990/113352030-bbd1a700-9309-11eb-80f8-40cf70e27ca4.JPG)

[2021-04-02 01:09] nmbradley commented on #8623
Outlined the cause of the problem [here](https://app.roll20.net/forum/post/9948381/alien-rpg-charactersheet-background). I've escalated this to an internal bug ticket.

Leaving this open for visibility until the issue is resolved.

[2021-04-02 16:20] Nailsonnb commented on #8570
still continues with the bug. im verify the warning i see in console and if fix then solve the import but im not sure that.

[2021-04-02 16:39] Nailsonnb commented on #8570
I created a new game with a custom sheet and it worked. have some minor bugs but whatever. great job.

[2021-04-02 20:20] jaculpiii commented on #8616
And broken again 3 hours later.  Please merge my pull-request that fixes this temporarily so the players can use the character sheet and enjoy their games over the long holiday weekend.

[2021-04-03 03:55] adrianicsea opened #8633 "[Monsterhearts-2] Newly added skins all appear on the sheet at once"
Recently, some new skins were added to the Monsterhearts 2 sheet. Normally, the sheet only displays one skin's information at a time, after the appropriate skin is chosen from a drop-down list. This functionality still works for all of the "original" skins included on the character sheet. However, the information for all of the newly-added skins is now tacked onto the character sheet, with complet

[2021-04-03 10:46] Stexinator commented on #8577
This is resolved

[2021-04-03 10:47] Stexinator commented on #8570
This is resolved.

@Nailsonnb can you please create another issue with the bugs? Thanks

[2021-04-05 19:29] Stexinator opened #8655 "[GitHub] automatically delete branches after merge"
Hello @mperes @nmbradley , is it possible to automatically delete the branches of the pr after merge?

[2021-04-05 20:47] aureyia commented on #8655
If you are doing this from a fork. Then all you need to do is setup the auto delete on the forked repo not on this one. Then when you merge it will delete the fork's branch.

[2021-04-06 05:36] stephaned68 commented on #7836
@nmbradley Hey, shouldn't the merge of the PR mentioned above have closed this issue ? Can you close it please ?

[2021-04-06 06:15] Stexinator commented on #8655
@aureyia I set it up like this

![grafik](https://user-images.githubusercontent.com/69796777/113666907-49b5e500-96b0-11eb-8a7e-496b70ec32a3.png)

[2021-04-06 13:09] JRandall0308 commented on #5956
Sure! These are specific to my character but should give you the idea.

I didn't do anything fancy where the macro would pull the ability modifier from the character sheet. I simply hard-coded the values (+1 Cool, +3 Weird, etc.). Note that this is a very built up character (Brainer) who has taken moves from multiple other playbooks.

AUF /roll 2d6+1 Act Under Fire (Cool)

CBR /roll 2d6+3 Casual B

[2021-04-06 15:57] nmbradley commented on #7836
I would have assumed so, but I wonder if there's something odd in the repo configuration. I'll look into it. Thanks for the update!

[2021-04-06 15:57] #7836 closed

[2021-04-07 00:29] switchboardOp opened #8667 "Mothership Offical sheet is broken"
stylesheets aren't loading in the app

![Screen Shot 2021-04-06 at 7 28 56 PM](https://user-images.githubusercontent.com/10817100/113793630-63861500-970e-11eb-8f49-26672a5d6214.png)

[2021-04-07 00:39] nmbradley commented on #8667
I'll look into this. Thanks for the report!

[2021-04-07 00:44] switchboardOp commented on #8667
rolling back to ae2cb7b using a custom sheet seemed to fix it.

[2021-04-07 00:54] nmbradley commented on #8667
I think merging from an older branch overwrote the sheet.json legacy switch. Whoops!

[2021-04-07 00:55] switchboardOp commented on #8667
yeah now that you mention it I had to turn on legacy support to get it to work.

[2021-04-07 14:51] Stexinator commented on #8570
@linkendel

[2021-04-07 14:51] Stexinator commented on #8577
@bananaferret

[2021-04-08 12:31] Bruweiz commented on #7612
Hey, i didn't expect to see a reply to this Issue at this point.

If wanted, i can add the textfield with a '1d6' as default and edit the macro. In fact, i've done that on a local version.
I'm not aware what the practice is for new people to contribute on a sheet, so unless there's an issue with that, i'll commit my changes to a branch later this week.

[2021-04-08 14:06] #8667 closed

[2021-04-08 17:05] nmbradley commented on #7612
We tend to give a little preference to the original sheet author, but everyone should feel free to contribute. Please feel free to make a PR with changes!

[2021-04-08 17:05] nmbradley commented on #8655
@Stexinator Did this resolve your issue or is there some configuration missing on our end?

[2021-04-08 18:31] Stexinator commented on #8570
fixed by #8679

[2021-04-08 21:20] Stexinator commented on #8655
@nmbradley the issue is not resolved. And I dont know if you have to configure something

[2021-04-08 21:22] #8577 closed

[2021-04-09 21:25] irc-developer opened #8695 "Rolling some type of dices."
Hello,

It is not an error as such but I think it could be a source of error trying to roll dice with negative value, a solution would be to parse it to absolute value for example.

![image](https://user-images.githubusercontent.com/19609516/114241945-54130000-998a-11eb-9ad5-8bf90d7dc546.png)